<template>
  <q-select
    class="bg-grey-2"
    outlined
    v-model="model"
    input-debounce="300"
    label="Ticket"
    :options="options"
    multiple
    map-options
    :option-label="opt => Object(opt) === opt && 'ticket_name' in opt ? opt.ticket_name : null"
    :option-value="opt => Object(opt) === opt && 'event_ticket_id' in opt ? opt.event_ticket_id : -99"
    emit-value
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">No results</q-item-section>
      </q-item>
    </template>
    <template v-slot:option="{ itemProps, opt, selected, toggleOption }">
      <q-item v-bind="itemProps">
        <q-item-section>
          <q-item-label v-html="opt.ticket_name"></q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-toggle :model-value="selected" @update:model-value="toggleOption(opt)" />
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script>
import { defineComponent, ref, toRef, onMounted, watch } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  name: "ComboTicket",
  emits: ["update:modelValue"],
  props: {
    param: {
      type: Object
    },

    modelValue: {}
  },
  method: {},
  setup(props, attrs, slots, emit) {
    const store = useStore();
    const options = ref([]);
    const keyword = ref("");
    function getComboOptions(props) {
      store
        .dispatch("event/getTicketListForCombo", {
          param: { event_id: props.param.eventId }
        })
        .then(function (rspn) {
          options.value = rspn;
        });
    }
    onMounted(() => {
      getComboOptions(props);
    });
    watch(() => props.param.eventId, (first, second) => {
       store
        .dispatch("event/getTicketListForCombo", {
          param: { event_id: first }
        })
        .then(function (rspn) {
          options.value = rspn;
        });
    });

    return { keyword, options, getComboOptions };
  },
  data() {
    return {
      model: this.modelValue,
      paramEventId: this.param.eventId
    };
  },
  mounted() {},

  computed() {},

  watch: {
    model(newModel, oldModel) {
      console.log("model :", newModel);
      this.$emit("update:modelValue", newModel);
    },

    modelValue(newModelValue, oldModelValue) {
      this.model = newModelValue;
    },
  }
});
</script>
