<template>
  <q-select
    class="bg-grey-2"
    outlined
    v-model="selectedItem"
    input-debounce="300"
    map-options
    emit-value
    label="Nama Platform"
    :options="options"
    :option-label="opt => Object(opt) === opt && 'label' in opt ? opt.label : null"
    :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : -99"
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">No results</q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script>
import { defineComponent, ref, watch, onMounted } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  emits: ["update:modelValue"],
  props: {
    modelValue: {
      type: String
    }
  },
  setup(props, { attrs, slots, emit }) {
    const store = useStore();
    const options = ref([
      { id: "Zoom Meeting", label: "Zoom Meeting" },
      { id: "Zoom Webinar", label: "Zoom Webinar" },
      { id: "Google Meet", label: "Google Meet" },
      { id: "Microsoft Teams", label: "Microsoft Teams" },
      { id: "Cisco Webex", label: "Cisco Webex" }
    ]);

    const keyword = ref("");
    const selectedItem = ref(props.modelValue);

    function getData() {
      store
        .dispatch("roleAndPermission/getRoleListForCombo", { param: {} })
        .then((rspn) => {
          options.value = rspn;
        });
    }

    watch(
      () => selectedItem.value,
      (newParam, oldParam) => {
        emit("update:modelValue", newParam);
      }
    );

    return { keyword, options, selectedItem };
  }
});
</script>
