<template>
  <q-select
    class="bg-grey-2"
    outlined
    v-model="model"
    input-debounce="300"
    label="Event Category"
    :options="options"
    map-options
    :option-label="opt => Object(opt) === opt && 'combo_constant_item_name' in opt ? opt.combo_constant_item_name : null"
    :option-value="opt => Object(opt) === opt && 'combo_constant_item_id' in opt ? opt.combo_constant_item_id : -99"
    emit-value
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">No results</q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script>
import { defineComponent, ref, toRef, onMounted } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  name: "ComboCategoryEvent",
  emits: ["update:modelValue"],
  props: {
    param: {
      type: Object
    },
    modelValue: {
      type: Number
    }
  },
  method: {},
  setup(props, attrs, slots, emit) {
    const store = useStore();
    const options = ref([]);
    const keyword = ref("");
    //const selectedItem = toRef(props, "model");
    //const selectedItem = props.model;
    function getComboOptions(props) {
      store
        .dispatch("combo/getComboConstantItemListForCombo", {
          param: {
            active: props.param.active,
            combo_constant_code: "CATEGORY_EVENT"
          }
        })
        .then(function (rspn) {
          options.value.push({
            combo_constant_item_id: -99,
            combo_constant_item_name: "Semua Event"
          });
          options.value.push(...rspn);
        });
    }
    onMounted(() => {
      // get initial data from server (1st page)
      getComboOptions(props);
      //this.selectedItem = getDefaultValue();
    });

    return { keyword, options, getComboOptions };
  },
  data() {
    return {
      model: this.modelValue
    };
  },
  mounted() {},

  computed() {},

  watch: {
    // whenever question changes, this function will run
    model(newModel, oldModel) {
      this.$emit("update:modelValue", newModel);
    },

    modelValue(newModelValue, oldModelValue) {
      this.model = newModelValue;
    }
    /*defaultItem (newDefaultItem, oldDefaultItem) {
      this.selectedItem = newDefaultItem;
    },*/
  }
});
</script>
