<template>
  <q-select
    class="bg-grey-2"
    outlined
    v-model="selectedItem"
    input-debounce="300"
    map-options
    emit-value
    label="Align"
    :options="options"
    :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : null"
    :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : -99"
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">No results</q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script>
import { defineComponent, ref, watch, onMounted } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  emits: ["update:modelValue"],
  props: {
    modelValue: {
      type: String
    }
  },
  setup(props, { attrs, slots, emit }) {
    const store = useStore();
    const options = ref([
      { id: "L", name: "Left" },
      { id: "C", name: "Center" },
      { id: "R", name: "Right" }
    ]);
    const keyword = ref("");
    const selectedItem = ref(props.modelValue);

    watch(
      () => selectedItem.value,
      (newParam, oldParam) => {
        emit("update:modelValue", newParam);
      }
    );
    watch(
      () => props.modelValue,
      (newParam, oldParam) => {
        selectedItem.value = newParam;
      }
    );
    onMounted(() => {});

    return { keyword, options, selectedItem };
  }
});
</script>
