<template>
  <q-layout>
    <q-page class="items-start q-pa-sm">
      <!-- <div class="row q-pb-md">
        <div class="col-12 q-pa-sm">
          <q-breadcrumbs active-color="blue">
            <q-breadcrumbs-el label="Home" icon="home" to="/" />
            <q-breadcrumbs-el label="Event" to="/admin/event" />
            <q-breadcrumbs-el label="Add Event" />
          </q-breadcrumbs>
        </div>
      </div>-->
      <div class="row justify-center q-pt-sm">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
          <q-card>
            <q-card-section class="bg-suha-yellow">
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm text-h6">Add Event</div>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm q-pt-sm">Event Code</div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm">
                  <q-input
                    hide-bottom-space
                    outlined
                    v-model="addEvent.event_code"
                    label="Event Code"
                    lazy-rules="ondemand"
                    :rules="[
                          (val) =>
                            (val !== null && val !== '') || 'Email harus diisi',
                        ]"
                  />
                </div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Event Name</div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm">
                  <q-input
                    hide-bottom-space
                    outlined
                    v-model="addEvent.event_name"
                    label="Event Name"
                    lazy-rules="ondemand"
                    :rules="[
                          (val) =>
                            (val !== null && val !== '') ||
                            'Username harus diisi',
                        ]"
                  />
                </div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Event Category</div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm">
                  <combo-category-event v-model="addEvent.event_category" :param="{active:'Y'}" />
                </div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Start Date</div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm">
                  <date-picker v-model="addEvent.date_from" label="Start Date (DD/MM/YYYY)" />
                </div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Start Time</div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm">
                  <time-picker v-model="addEvent.time_from" label="Start Time" />
                </div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm q-pt-md">End Date</div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm">
                  <date-picker v-model="addEvent.date_to" label="End Date (DD/MM/YYYY)" />
                </div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm q-pt-md">End Time</div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm">
                  <time-picker v-model="addEvent.time_to" label="End Time" />
                </div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Banner</div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm">
                  <q-file
                    filled
                    bottom-slots
                    v-model="addEvent.banner"
                    label="Banner"
                    counter
                    clearable
                  >
                    <template v-slot:prepend>
                      <q-icon name="cloud_upload" @click.stop />
                    </template>
                    <template v-slot:hint></template>
                  </q-file>
                </div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Event Description</div>
              </div>
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm">
                  <q-editor v-model="addEvent.event_description" :toolbar="toolbarEditor" />
                </div>
              </div>
              <q-separator class="q-mt-sm" />
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm q-pt-md">
                  <q-card>
                    <q-card-section class="q-pa-none q-mt-sm">
                      <q-tabs
                        v-model="tab"
                        dense
                        class="text-blue"
                        active-color="primary"
                        indicator-color="primary"
                        align="justify"
                        narrow-indicator
                        style="border-radius:5px 5px 0px 0px"
                      >
                        <q-tab
                          name="speaker"
                          label="Speaker"
                          icon="campaign"
                          :class="tab=='speaker'?'bg-blue text-white':''"
                        />
                        <q-tab
                          name="ticket"
                          label="Ticket"
                          :class="tab=='ticket'?'bg-blue text-white':''"
                        />
                        <q-tab
                          name="location"
                          label="Location"
                          :class="tab=='location'?'bg-blue text-white':''"
                        />
                      </q-tabs>
                      <q-separator />
                      <q-tab-panels v-model="tab" animated>
                        <q-tab-panel name="speaker">
                          <q-card>
                            <q-card-section>
                              <div class="row">
                                <q-item class="col-2">
                                  <q-item-section>
                                    <q-btn
                                      label="Add Speaker"
                                      color="positive"
                                      @click="dialog.addSpeaker = true"
                                    />
                                  </q-item-section>
                                </q-item>
                              </div>
                              <div class="row">
                                <q-item class="col-12">
                                  <q-item-section>
                                    <q-table
                                      :rows="rowsSpeaker"
                                      :columns="columns.speaker"
                                      row-key="name"
                                    >
                                      <template v-slot:body-cell-no="props">
                                        <q-td :props="props">
                                          <div>{{ props.rowIndex + 1 }}</div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-action="props">
                                        <q-td :props="props">
                                          <q-btn
                                            label="Remove"
                                            color="warning"
                                            @click="removeSpeaker(props.row)"
                                          />
                                        </q-td>
                                      </template>
                                    </q-table>
                                  </q-item-section>
                                </q-item>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-tab-panel>

                        <q-tab-panel name="ticket">
                          <q-card>
                            <q-card-section>
                              <div class="row">
                                <q-item class="col-2">
                                  <q-item-section>
                                    <q-btn
                                      label="Add Ticket"
                                      color="positive"
                                      @click="dialog.addTicket = true"
                                    />
                                  </q-item-section>
                                </q-item>
                              </div>
                              <div class="row">
                                <q-item class="col-12">
                                  <q-item-section>
                                    <q-table
                                      :rows="rowsTicket"
                                      :columns="columns.ticket"
                                      row-key="name"
                                    >
                                      <template v-slot:body-cell-no="props">
                                        <q-td :props="props">
                                          <div>{{ props.rowIndex + 1 }}</div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-action="props">
                                        <q-td :props="props">
                                          <q-btn
                                            label="Remove"
                                            color="warning"
                                            @click="removeTicket(props.row)"
                                          />
                                        </q-td>
                                      </template>
                                    </q-table>
                                  </q-item-section>
                                </q-item>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-tab-panel>

                        <q-tab-panel name="location">
                          <q-card>
                            <q-card-section>
                              <div class="row">
                                <q-item class="col-2">
                                  <q-item-section>
                                    <q-btn
                                      label="Add Location"
                                      @click="dialog.addLocation = true"
                                      color="positive"
                                    />
                                  </q-item-section>
                                </q-item>
                              </div>
                              <div class="row">
                                <q-item class="col-12">
                                  <q-item-section>
                                    <q-table
                                      :rows="rowsLocation"
                                      :columns="columns.location"
                                      row-key="name"
                                    >
                                      <template v-slot:body-cell-no="props">
                                        <q-td :props="props">
                                          <div>{{ props.rowIndex + 1 }}</div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-action="props">
                                        <q-td :props="props">
                                          <q-btn
                                            label="Remove"
                                            color="warning"
                                            @click="removeLocation(props.row)"
                                          />
                                        </q-td>
                                      </template>
                                    </q-table>
                                  </q-item-section>
                                </q-item>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-tab-panel>
                      </q-tab-panels>
                    </q-card-section>
                  </q-card>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12"></div>
      </div>
      <div class="row justify-center">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <q-card>
            <q-card-section>
              <div class="text-center">
                <div class="col text-h6">Add Event</div>
              </div>
            </q-card-section>
            <q-card-section>
              <q-form class="q-gutter-md" @submit="onSubmit">
                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Event Code</q-item-section>
                  </q-item>
                  <q-item class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <q-item-section>
                      <q-input
                        hide-bottom-space
                        outlined
                        v-model="addEvent.event_code"
                        label="Event Code"
                        lazy-rules="ondemand"
                        :rules="[
                          (val) =>
                            (val !== null && val !== '') || 'Email harus diisi',
                        ]"
                      />
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Event Name</q-item-section>
                  </q-item>
                  <q-item class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <q-item-section>
                      <q-input
                        outlined
                        v-model="addEvent.event_name"
                        label="Event Name"
                        lazy-rules="ondemand"
                        :rules="[
                          (val) =>
                            (val !== null && val !== '') ||
                            'Username harus diisi',
                        ]"
                      />
                    </q-item-section>
                  </q-item>
                </div>
                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Event Category</q-item-section>
                  </q-item>
                  <q-item class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <q-item-section>
                      <combo-category-event
                        v-model="addEvent.event_category"
                        :param="{active:'Y'}"
                      />
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Date</q-item-section>
                  </q-item>
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>
                      <date-picker v-model="addEvent.date_from" label="Date From (DD/MM/YYYY)" />
                    </q-item-section>
                  </q-item>
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section></q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Time</q-item-section>
                  </q-item>
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>
                      <time-picker v-model="addEvent.time_from" label="Time From" />
                    </q-item-section>
                  </q-item>
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>
                      <time-picker v-model="addEvent.time_to" label="Time To" />
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Event Description</q-item-section>
                  </q-item>
                  <q-item class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <q-item-section>
                      <q-editor v-model="addEvent.event_description" :toolbar="toolbarEditor" />
                    </q-item-section>
                  </q-item>
                </div>
                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Banner</q-item-section>
                  </q-item>
                  <q-item class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <q-item-section>
                      <q-file
                        filled
                        bottom-slots
                        v-model="addEvent.banner"
                        label="Banner"
                        counter
                        clearable
                      >
                        <template v-slot:prepend>
                          <q-icon name="cloud_upload" @click.stop />
                        </template>
                        <template v-slot:hint></template>
                      </q-file>
                    </q-item-section>
                  </q-item>
                </div>

                <q-separator />
                <div class="row">
                  <q-item class="col-12">
                    <q-item-section>
                      <q-list bordered>
                        <q-expansion-item
                          group="Speaker"
                          icon="campaign"
                          label="Speaker"
                          header-class="text-primary bg-grey-1"
                        >
                          <q-card>
                            <q-card-section>
                              <div class="row">
                                <q-item class="col-2">
                                  <q-item-section>
                                    <q-btn
                                      label="Add Speaker"
                                      color="positive"
                                      @click="dialog.addSpeaker = true"
                                    />
                                  </q-item-section>
                                </q-item>
                              </div>
                              <div class="row">
                                <q-item class="col-12">
                                  <q-item-section>
                                    <q-table
                                      :rows="rowsSpeaker"
                                      :columns="columns.speaker"
                                      row-key="name"
                                    >
                                      <template v-slot:body-cell-no="props">
                                        <q-td :props="props">
                                          <div>{{ props.rowIndex + 1 }}</div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-action="props">
                                        <q-td :props="props">
                                          <q-btn
                                            label="Remove"
                                            color="warning"
                                            @click="removeSpeaker(props.row)"
                                          />
                                        </q-td>
                                      </template>
                                    </q-table>
                                  </q-item-section>
                                </q-item>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-12">
                    <q-item-section>
                      <q-list bordered>
                        <q-expansion-item
                          group="tiket"
                          icon="confirmation_number"
                          label="Tiket"
                          header-class="text-primary bg-grey-1"
                        >
                          <q-card>
                            <q-card-section>
                              <div class="row">
                                <q-item class="col-2">
                                  <q-item-section>
                                    <q-btn
                                      label="Add Ticket"
                                      color="positive"
                                      @click="dialog.addTicket = true"
                                    />
                                  </q-item-section>
                                </q-item>
                              </div>
                              <div class="row">
                                <q-item class="col-12">
                                  <q-item-section>
                                    <q-table
                                      :rows="rowsTicket"
                                      :columns="columns.ticket"
                                      row-key="name"
                                    >
                                      <template v-slot:body-cell-no="props">
                                        <q-td :props="props">
                                          <div>{{ props.rowIndex + 1 }}</div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-action="props">
                                        <q-td :props="props">
                                          <q-btn
                                            label="Remove"
                                            color="warning"
                                            @click="removeTicket(props.row)"
                                          />
                                        </q-td>
                                      </template>
                                    </q-table>
                                  </q-item-section>
                                </q-item>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-12">
                    <q-item-section>
                      <q-list bordered>
                        <q-expansion-item
                          group="Location"
                          icon="map"
                          label="Location"
                          header-class="text-primary bg-grey-1"
                        >
                          <q-card>
                            <q-card-section>
                              <div class="row">
                                <q-item class="col-2">
                                  <q-item-section>
                                    <q-btn
                                      label="Add Location"
                                      @click="dialog.addLocation = true"
                                      color="positive"
                                    />
                                  </q-item-section>
                                </q-item>
                              </div>
                              <div class="row">
                                <q-item class="col-12">
                                  <q-item-section>
                                    <q-table
                                      :rows="rowsLocation"
                                      :columns="columns.location"
                                      row-key="name"
                                    >
                                      <template v-slot:body-cell-no="props">
                                        <q-td :props="props">
                                          <div>{{ props.rowIndex + 1 }}</div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-action="props">
                                        <q-td :props="props">
                                          <q-btn
                                            label="Remove"
                                            color="warning"
                                            @click="removeLocation(props.row)"
                                          />
                                        </q-td>
                                      </template>
                                    </q-table>
                                  </q-item-section>
                                </q-item>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </q-item-section>
                  </q-item>
                </div>
                <div>
                  <q-btn label="Add" type="submit" color="positive" />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </q-page>
  </q-layout>
  <q-dialog v-model="dialog.addSpeaker" class="col-12">
    <add-speaker @addSpeaker="addSpeaker" />
  </q-dialog>

  <q-dialog v-model="dialog.addTicket" class="col-12">
    <add-ticket @addTicket="addTicket" />
  </q-dialog>

  <q-dialog v-model="dialog.addLocation" class="col-12">
    <add-location @addLocation="addLocation" />
  </q-dialog>
</template>
<script>
import { ref } from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";
import addSpeaker from "components/event/AddSpeaker.vue";
import addTicket from "src/components/event/AddTicket.vue";
import addLocation from "src/components/event/AddLocation.vue";
import ComboCategoryEvent from "src/components/combo/ComboCategoryEvent.vue";
import datePicker from "src/components/DatePicker.vue";
import TimePicker from "src/components/TimePicker.vue";
export default {
  components: {
    addSpeaker,
    addTicket,
    addLocation,
    ComboCategoryEvent,
    datePicker,
    TimePicker
  },
  name: "AddEvent",
  setup() {
    const $q = useQuasar();
    const store = useStore();

    function formatCurrency(value = 0) {
      return new Intl.NumberFormat("id-ID", {
        style: "currency",
        currency: "IDR"
      }).format(value);
    }
    const toolbarEditor = [
      [
        {
          label: $q.lang.editor.formatting,
          icon: $q.iconSet.editor.formatting,
          list: "no-icons",
          options: ["p", "h1", "h2", "h3", "h4", "h5", "h6", "code"]
        },
        {
          label: $q.lang.editor.fontSize,
          icon: $q.iconSet.editor.fontSize,
          fixedLabel: true,
          fixedIcon: true,
          list: "no-icons",
          options: [
            "size-1",
            "size-2",
            "size-3",
            "size-4",
            "size-5",
            "size-6",
            "size-7"
          ]
        },
        "removeFormat"
      ],
      [
        {
          label: $q.lang.editor.align,
          icon: $q.iconSet.editor.align,
          fixedLabel: true,
          list: "only-icons",
          options: ["left", "center", "right", "justify"]
        }
      ],
      ["bold", "italic", "strike", "underline", "subscript", "superscript"],
      ["token", "hr", "link", "custom_btn"],
      ["quote", "unordered", "ordered", "outdent", "indent"],
      ["viewsource"]
    ];

    const columns = {
      speaker: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "name",
          required: true,
          label: "Speaker Name",
          align: "left",
          field: "speaker_name",
          sortable: false
        },
        {
          name: "description",
          required: true,
          label: "Speaker Description",
          align: "left",
          field: "speaker_description",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      ticket: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "ticket_name",
          required: true,
          label: "Tiket Name",
          align: "left",
          field: "ticket_name",
          sortable: false
        },
        {
          name: "ticket_price",
          required: true,
          label: "Tiket Price",
          align: "left",
          field: "ticket_price",
          format: (val) => formatCurrency(val),
          sortable: false
        },
        {
          name: "ticket_name",
          required: true,
          label: "Tiket Description",
          align: "left",
          field: "ticket_name",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      location: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "location_name",
          required: true,
          label: "Location Name",
          align: "left",
          field: "location_name",
          sortable: false
        },
        {
          name: "location_description",
          required: true,
          label: "Location Description",
          align: "left",
          field: "location_description",
          sortable: false
        },
        {
          name: "location_type",
          required: true,
          label: "Location Type",
          align: "left",
          field: "location_type",
          format: (val) => `${val == "0" ? "Offline" : "Online"}`,
          sortable: false
        },
        {
          name: "location_url",
          required: true,
          label: "Location Url",
          align: "left",
          field: "location_url",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ]
    };
    const rowsSpeaker = ref([]);
    const rowsTicket = ref([]);
    const rowsLocation = ref([]);
    const tab = ref("speaker");

    const addEvent = ref({
      event_code: "",
      event_name: "",
      event_category: -99,
      date_from: store.getters["common/displayDateNow"],
      date_to: store.getters["common/displayDateNow"],
      time_from: "",
      time_to: "",
      event_description: "",
      banner: null
    });

    const dialog = ref({
      addSpeaker: false,
      addTicket: false,
      addLocation: false
    });
    function displayDateToDateString(date) {
      let dateList = date.split("-");
      return dateList[2] + dateList[1] + dateList[0];
    }
    return {
      dialog,
      toolbarEditor,
      addEvent,
      columns,
      rowsSpeaker,
      rowsTicket,
      rowsLocation,
      tab,
      onSubmit() {
        let param = Object.assign({}, addEvent.value);
        param.date_from = displayDateToDateString(addEvent.value.date_from);
        param.date_to = displayDateToDateString(addEvent.value.date_to);
        store.dispatch("event/addEvent", {
          event: param,
          speakerList: rowsSpeaker.value,
          ticketList: rowsTicket.value,
          locationList: rowsLocation.value
        });
      },
      addSpeaker(speaker) {
        /*if (speaker.speaker_photo) {
          store
            .dispatch("common/getBase64", { file: speaker.speaker_photo })
            .then(function fn (data) {
              //speaker.speaker_photo = data;
              rowsSpeaker.value.push(speaker);
              dialog.value.addSpeaker = false;
            });
        } else {*/

        rowsSpeaker.value.push(speaker);
        dialog.value.addSpeaker = false;
        //}
      },
      removeSpeaker(speaker) {
        rowsSpeaker.value.splice(rowsSpeaker.value.indexOf(speaker), 1);
      },
      addTicket(ticket) {
        ticket.date_from = displayDateToDateString(ticket.date_from);
        ticket.date_to = displayDateToDateString(ticket.date_to);
        rowsTicket.value.push(ticket);
        dialog.value.addTicket = false;
      },
      removeTicket(ticket) {
        rowsTicket.value.splice(rowsTicket.value.indexOf(ticket), 1);
      },
      addLocation(location) {
        rowsLocation.value.push(location);
        dialog.value.addLocation = false;
      },
      removeLocation(location) {
        rowsLocation.value.splice(rowsLocation.value.indexOf(location), 1);
      },
      formatCurrency
    };
  }
};
</script>
