<template>
  <q-layout>
    <q-page class="items-start q-pa-sm">
      <!-- <div class="row q-pb-md">
        <div class="col-12 q-pa-sm">
          <q-breadcrumbs active-color="blue">
            <q-breadcrumbs-el label="Home" icon="home" to="/" />
            <q-breadcrumbs-el label="Event" to="/admin/event" />
            <q-breadcrumbs-el label="Add Event" />
          </q-breadcrumbs>
        </div>
      </div>-->
      <div class="row justify-center q-pt-sm">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
          <q-card>
            <q-card-section class="bg-suha-yellow">
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm text-h6">Add Event</div>
              </div>
            </q-card-section>
            <q-card-section>
              <q-form @submit.prevent="onSubmit">
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Event Name</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <q-input
                      hide-bottom-space
                      outlined
                      v-model="addEvent.event_name"
                      label="Event Name"
                      lazy-rules="ondemand"
                      :rules="[
                        (val) =>
                          (val !== null && val !== '') ||
                          'Event name harus diisi',
                      ]"
                    />
                  </div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Event Category</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <combo-category-event
                      v-model="addEvent.event_category"
                      :param="{ active: 'Y' }"
                    />
                  </div>
                </div>

                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Link Materi</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <q-input
                      hide-bottom-space
                      outlined
                      v-model="addEvent.course_url"
                      label="Link Materi (google drive)"
                      lazy-rules="ondemand"
                    />
                  </div>
                </div>

                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Banner</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <q-file
                      filled
                      bottom-slots
                      v-model="addEvent.banner"
                      label="Banner"
                      counter
                      clearable
                    >
                      <template v-slot:prepend>
                        <q-icon name="cloud_upload" @click.stop />
                      </template>
                      <template v-slot:hint></template>
                    </q-file>
                  </div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Event Description</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <q-editor v-model="addEvent.event_description" :toolbar="toolbarEditor" />
                  </div>
                </div>
                <q-separator class="q-mt-sm" />
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">
                    <q-card>
                      <q-card-section class="q-pa-none q-mt-sm">
                        <q-tabs
                          v-model="tab"
                          dense
                          class="text-blue"
                          active-color="primary"
                          indicator-color="primary"
                          align="justify"
                          narrow-indicator
                          style="border-radius: 5px 5px 0px 0px"
                        >
                          <q-tab
                            name="date"
                            label="Date"
                            icon="far fa-calendar-alt"
                            :class="tab == 'date' ? 'bg-blue text-white' : ''"
                          />
                          <q-tab
                            name="speaker"
                            label="Speaker"
                            icon="campaign"
                            :class="
                              tab == 'speaker' ? 'bg-blue text-white' : ''
                            "
                          />
                          <q-tab
                            name="ticket"
                            label="Ticket"
                            icon="fas fa-ticket-alt"
                            :class="tab == 'ticket' ? 'bg-blue text-white' : ''"
                          />
                          <q-tab
                            name="location"
                            label="Location"
                            icon="fas fa-map-marker-alt"
                            :class="
                              tab == 'location' ? 'bg-blue text-white' : ''
                            "
                          />
                        </q-tabs>
                        <q-separator />
                        <q-tab-panels v-model="tab" animated>
                          <q-tab-panel name="date">
                            <div class="row q-pb-sm">
                              <div class="col-12">
                                <q-btn
                                  label="Add Date"
                                  color="positive"
                                  @click="dialog.addDate = true"
                                />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <q-table :rows="rowsDate" :columns="columns.date" row-key="name">
                                  <template v-slot:body-cell-no="props">
                                    <q-td :props="props">
                                      <div>{{ props.rowIndex + 1 }}</div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-time="props">
                                    <q-td :props="props">
                                      <div>
                                        {{ props.row.time_from }} s/d
                                        {{ props.row.time_to }}
                                      </div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-action="props">
                                    <q-td :props="props">
                                      <q-btn
                                        label="Remove"
                                        color="warning"
                                        @click="removeDate(props.row)"
                                      />
                                    </q-td>
                                  </template>
                                </q-table>
                              </div>
                            </div>
                          </q-tab-panel>
                          <q-tab-panel name="speaker">
                            <div class="row q-pb-sm">
                              <div class="col-12">
                                <q-btn
                                  label="Add Speaker"
                                  color="positive"
                                  @click="dialog.addSpeaker = true"
                                />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <q-table
                                  :rows="rowsSpeaker"
                                  :columns="columns.speaker"
                                  row-key="name"
                                >
                                  <template v-slot:body-cell-no="props">
                                    <q-td :props="props">
                                      <div>{{ props.rowIndex + 1 }}</div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-action="props">
                                    <q-td :props="props">
                                      <q-btn
                                        label="Remove"
                                        color="warning"
                                        @click="removeSpeaker(props.row)"
                                      />
                                    </q-td>
                                  </template>
                                </q-table>
                              </div>
                            </div>
                          </q-tab-panel>

                          <q-tab-panel name="ticket">
                            <div class="row q-pb-sm">
                              <div class="col-12">
                                <q-btn
                                  label="Add Ticket"
                                  color="positive"
                                  @click="dialog.addTicket = true"
                                />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <q-table
                                  :rows="rowsTicket"
                                  :columns="columns.ticket"
                                  row-key="name"
                                >
                                  <template v-slot:body-cell-no="props">
                                    <q-td :props="props">
                                      <div>{{ props.rowIndex + 1 }}</div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-action="props">
                                    <q-td :props="props">
                                      <q-btn
                                        label="Remove"
                                        color="warning"
                                        @click="removeTicket(props.row)"
                                      />
                                    </q-td>
                                  </template>
                                </q-table>
                              </div>
                            </div>
                          </q-tab-panel>

                          <q-tab-panel name="location">
                            <div class="row q-pb-sm">
                              <div class="col-12">
                                <q-btn
                                  label="Add Location"
                                  @click="dialog.addLocation = true"
                                  color="positive"
                                />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <q-table
                                  :rows="rowsLocation"
                                  :columns="columns.location"
                                  row-key="name"
                                >
                                  <template v-slot:body-cell-no="props">
                                    <q-td :props="props">
                                      <div>{{ props.rowIndex + 1 }}</div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-action="props">
                                    <q-td :props="props">
                                      <q-btn
                                        label="Remove"
                                        color="warning"
                                        @click="removeLocation(props.row)"
                                      />
                                    </q-td>
                                  </template>
                                </q-table>
                              </div>
                            </div>
                          </q-tab-panel>
                        </q-tab-panels>
                      </q-card-section>
                    </q-card>
                  </div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">
                    <q-item class="q-pa-none">
                      <q-item-section>
                        <q-btn label="Add" type="submit" color="positive" />
                      </q-item-section>
                    </q-item>
                  </div>
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </div>
      </div>
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12"></div>
      </div>
    </q-page>
  </q-layout>
  <q-dialog v-model="dialog.addDate" class="col-12">
    <add-date @addDate="addDate" />
  </q-dialog>
  <q-dialog v-model="dialog.addSpeaker" class="col-12">
    <add-speaker @addSpeaker="addSpeaker" />
  </q-dialog>

  <q-dialog v-model="dialog.addTicket" class="col-12">
    <add-ticket @addTicket="addTicket" />
  </q-dialog>

  <q-dialog v-model="dialog.addLocation" class="col-12">
    <add-location @addLocation="addLocation" />
  </q-dialog>
</template>
<script>
import { ref } from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";
import addSpeaker from "components/event/AddSpeaker.vue";
import addTicket from "src/components/event/AddTicket.vue";
import addLocation from "src/components/event/AddLocation.vue";
import ComboCategoryEvent from "src/components/combo/ComboCategoryEvent.vue";
import AddDate from "src/components/event/AddDate.vue";
export default {
  components: {
    addSpeaker,
    addTicket,
    addLocation,
    ComboCategoryEvent,
    AddDate
  },
  name: "AddEvent",
  setup() {
    const $q = useQuasar();
    const store = useStore();

    function formatCurrency(value = 0) {
      return new Intl.NumberFormat("id-ID", {
        style: "currency",
        currency: "IDR"
      }).format(value);
    }
    const toolbarEditor = [
      [
        {
          label: $q.lang.editor.formatting,
          icon: $q.iconSet.editor.formatting,
          list: "no-icons",
          options: ["p", "h1", "h2", "h3", "h4", "h5", "h6", "code"]
        },
        {
          label: $q.lang.editor.fontSize,
          icon: $q.iconSet.editor.fontSize,
          fixedLabel: true,
          fixedIcon: true,
          list: "no-icons",
          options: [
            "size-1",
            "size-2",
            "size-3",
            "size-4",
            "size-5",
            "size-6",
            "size-7"
          ]
        },
        "removeFormat"
      ],
      [
        {
          label: $q.lang.editor.align,
          icon: $q.iconSet.editor.align,
          fixedLabel: true,
          list: "only-icons",
          options: ["left", "center", "right", "justify"]
        }
      ],
      ["bold", "italic", "strike", "underline", "subscript", "superscript"],
      ["token", "hr", "link", "custom_btn"],
      ["quote", "unordered", "ordered", "outdent", "indent"],
      ["viewsource"]
    ];

    const columns = {
      date: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "event_date",
          required: true,
          label: "Date",
          align: "left",
          field: "event_date",
          sortable: false
        },
        {
          name: "time",
          required: true,
          label: "Time",
          align: "left",
          field: "time",
          sortable: false
        },
        {
          name: "remark",
          required: true,
          label: "Remark",
          align: "left",
          field: "remark",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      speaker: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "name",
          required: true,
          label: "Speaker Name",
          align: "left",
          field: "speaker_name",
          sortable: false
        },
        {
          name: "description",
          required: true,
          label: "Speaker Description",
          align: "left",
          field: "speaker_description",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      ticket: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "ticket_name",
          required: true,
          label: "Tiket Name",
          align: "left",
          field: "ticket_name",
          sortable: false
        },
        {
          name: "ticket_price",
          required: true,
          label: "Tiket Price",
          align: "left",
          field: "ticket_price",
          format: (val) => formatCurrency(val),
          sortable: false
        },
        {
          name: "ticket_name",
          required: true,
          label: "Tiket Description",
          align: "left",
          field: "ticket_name",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      location: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "location_name",
          required: true,
          label: "Location Name",
          align: "left",
          field: "location_name",
          sortable: false
        },
        {
          name: "location_description",
          required: true,
          label: "Location Description",
          align: "left",
          field: "location_description",
          sortable: false
        },
        {
          name: "location_type",
          required: true,
          label: "Location Type",
          align: "left",
          field: "location_type",
          format: (val) => `${val == "0" ? "Offline" : "Online"}`,
          sortable: false
        },
        {
          name: "location_url",
          required: true,
          label: "Location Url",
          align: "left",
          field: "location_url",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ]
    };
    const rowsDate = ref([]);
    const rowsSpeaker = ref([]);
    const rowsTicket = ref([]);
    const rowsLocation = ref([]);
    const tab = ref("date");

    const addEvent = ref({
      event_code: "",
      event_name: "",
      event_category: -99,
      date_from: store.getters["common/displayDateNow"],
      date_to: store.getters["common/displayDateNow"],
      time_from: "",
      time_to: "",
      event_description: "",
      banner: null,
      course_url: ""
    });

    const dialog = ref({
      addDate: false,
      addSpeaker: false,
      addTicket: false,
      addLocation: false
    });
    function displayDateToDateString(date) {
      let dateList = date.split("-");
      return dateList[2] + dateList[1] + dateList[0];
    }
    return {
      dialog,
      toolbarEditor,
      addEvent,
      columns,
      rowsDate,
      rowsSpeaker,
      rowsTicket,
      rowsLocation,
      tab,
      onSubmit() {
        let param = Object.assign({}, addEvent.value);
        param.date_from = displayDateToDateString(addEvent.value.date_from);
        param.date_to = displayDateToDateString(addEvent.value.date_to);

        let dateList = JSON.parse(JSON.stringify(rowsDate.value));
        dateList.forEach(function (currentValue, index, arr) {
          currentValue.event_date = displayDateToDateString(
            currentValue.event_date
          );
        });
        store.dispatch("event/addEvent", {
          event: param,
          dateList: dateList,
          speakerList: rowsSpeaker.value,
          ticketList: rowsTicket.value,
          locationList: rowsLocation.value
        });
      },
      addDate(date) {
        //date.event_date = displayDateToDateString(date.event_date);
        rowsDate.value.push(date);
        dialog.value.addDate = false;
        //}
      },
      addSpeaker(speaker) {
        /*if (speaker.speaker_photo) {
          store
            .dispatch("common/getBase64", { file: speaker.speaker_photo })
            .then(function fn (data) {
              //speaker.speaker_photo = data;
              rowsSpeaker.value.push(speaker);
              dialog.value.addSpeaker = false;
            });
        } else {*/

        rowsSpeaker.value.push(speaker);
        dialog.value.addSpeaker = false;
        //}
      },
      removeDate(date) {
        rowsDate.value.splice(rowsDate.value.indexOf(date), 1);
      },
      removeSpeaker(speaker) {
        rowsSpeaker.value.splice(rowsSpeaker.value.indexOf(speaker), 1);
      },
      addTicket(ticket) {
        ticket.date_from = displayDateToDateString(ticket.date_from);
        ticket.date_to = displayDateToDateString(ticket.date_to);
        rowsTicket.value.push(ticket);
        dialog.value.addTicket = false;
      },
      removeTicket(ticket) {
        rowsTicket.value.splice(rowsTicket.value.indexOf(ticket), 1);
      },
      addLocation(location) {
        rowsLocation.value.push(location);
        dialog.value.addLocation = false;
      },
      removeLocation(location) {
        rowsLocation.value.splice(rowsLocation.value.indexOf(location), 1);
      },
      formatCurrency
    };
  }
};
</script>
