<template>
  <q-layout>
    <q-page class="items-start q-pa-sm">
      <div class="row justify-center q-pt-sm">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
          <q-card>
            <q-card-section class="bg-suha-yellow">
              <div class="row justify-center">
                <div class="col-12 q-pl-sm q-pr-sm text-h6">Edit Event</div>
              </div>
            </q-card-section>
            <q-card-section>
              <q-form @submit.prevent="onSubmit">
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-sm">Event Code</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <q-input
                      hide-bottom-space
                      outlined
                      readonly
                      v-model="event.event_code"
                      label="Event Code"
                      lazy-rules="ondemand"
                      :rules="[
                        (val) =>
                          (val !== null && val !== '') ||
                          'Event code harus diisi',
                      ]"
                    />
                  </div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Event Name</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <q-input
                      outlined
                      v-model="event.event_name"
                      label="Event Name"
                      lazy-rules="ondemand"
                      :rules="[
                        (val) =>
                          (val !== null && val !== '') ||
                          'Event Name harus diisi',
                      ]"
                    />
                  </div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Event Category</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <combo-category-event v-model="event.event_category" :param="{ active: 'Y' }" />
                  </div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Link Materi</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <q-input
                      hide-bottom-space
                      outlined
                      v-model="event.course_url"
                      label="Link Materi (google drive)"
                      lazy-rules="ondemand"
                    />
                  </div>
                </div>

                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Banner</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <q-file
                      filled
                      bottom-slots
                      v-model="event.banner"
                      label="Banner"
                      counter
                      clearable
                    >
                      <template v-slot:prepend>
                        <q-icon name="cloud_upload" @click.stop />
                      </template>
                      <template v-slot:hint></template>
                    </q-file>
                    <q-btn
                      label="Check Banner"
                      color="blue"
                      dense
                      @click="openURL(event.banner_url)"
                    />
                  </div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">Event Description</div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm">
                    <q-editor v-model="event.event_description" :toolbar="toolbarEditor" />
                  </div>
                </div>
                <q-separator class="q-mt-sm" />
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">
                    <q-card>
                      <q-card-section class="q-pa-none q-mt-sm">
                        <q-tabs
                          v-model="tab"
                          dense
                          class="text-blue"
                          active-color="primary"
                          indicator-color="primary"
                          align="justify"
                          narrow-indicator
                          style="border-radius: 5px 5px 0px 0px"
                        >
                          <q-tab
                            name="date"
                            label="Date"
                            icon="far fa-calendar-alt"
                            :class="tab == 'date' ? 'bg-blue text-white' : ''"
                          />
                          <q-tab
                            name="speaker"
                            label="Speaker"
                            icon="campaign"
                            :class="
                              tab == 'speaker' ? 'bg-blue text-white' : ''
                            "
                          />
                          <q-tab
                            name="ticket"
                            label="Ticket"
                            icon="fas fa-ticket-alt"
                            :class="tab == 'ticket' ? 'bg-blue text-white' : ''"
                          />
                          <q-tab
                            name="location"
                            label="Location"
                            icon="fas fa-map-marker-alt"
                            :class="
                              tab == 'location' ? 'bg-blue text-white' : ''
                            "
                          />
                          <q-tab
                            name="certificate"
                            label="Certificate"
                            icon
                            :class="
                              tab == 'certificate' ? 'bg-blue text-white' : ''
                            "
                          />
                        </q-tabs>
                        <q-separator />
                        <q-tab-panels v-model="tab" animated>
                          <q-tab-panel name="date">
                            <div class="row q-pb-sm">
                              <div class="col-12">
                                <q-btn
                                  label="Add Date"
                                  color="positive"
                                  @click="dialog.addDate = true"
                                />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <q-table :rows="rowsDate" :columns="columns.date" row-key="name">
                                  <template v-slot:body-cell-no="props">
                                    <q-td :props="props">
                                      <div>{{ props.rowIndex + 1 }}</div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-time="props">
                                    <q-td :props="props">
                                      <div>
                                        {{ props.row.time_from }} s/d
                                        {{ props.row.time_to }}
                                      </div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-action="props">
                                    <q-td :props="props">
                                      <div class="q-gutter-xs">
                                        <q-btn
                                          label="Edit"
                                          color="blue"
                                          @click="showDialogEditDate(props.row)"
                                        />
                                        <q-btn
                                          label="Remove"
                                          color="warning"
                                          @click="
                                            showDialogDeleteDate(props.row)
                                          "
                                        />
                                      </div>
                                    </q-td>
                                  </template>
                                </q-table>
                              </div>
                            </div>
                          </q-tab-panel>
                          <q-tab-panel name="speaker">
                            <div class="row q-pb-sm">
                              <div class="col-12">
                                <q-btn
                                  label="Add Speaker"
                                  color="positive"
                                  @click="dialog.addSpeaker = true"
                                />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <q-table
                                  :rows="rowsSpeaker"
                                  :columns="columns.speaker"
                                  row-key="name"
                                >
                                  <template v-slot:body-cell-no="props">
                                    <q-td :props="props">
                                      <div>{{ props.rowIndex + 1 }}</div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-photo="props">
                                    <q-td :props="props">
                                      <q-avatar square v-if="props.row.photo_url">
                                        <img :src="props.row.photo_url" />
                                      </q-avatar>
                                    </q-td>
                                  </template>

                                  <template v-slot:body-cell-action="props">
                                    <q-td :props="props">
                                      <div class="q-gutter-xs">
                                        <q-btn
                                          label="Edit"
                                          color="blue"
                                          @click="
                                            showDialogEditSpeaker(props.row)
                                          "
                                        />
                                        <q-btn
                                          label="Remove"
                                          color="warning"
                                          @click="
                                            showDialogDeleteSpeaker(props.row)
                                          "
                                        />
                                      </div>
                                    </q-td>
                                  </template>
                                </q-table>
                              </div>
                            </div>
                          </q-tab-panel>

                          <q-tab-panel name="ticket">
                            <div class="row q-pb-sm">
                              <div class="col-12">
                                <q-btn
                                  label="Add Ticket"
                                  color="positive"
                                  @click="dialog.addTicket = true"
                                />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <q-table
                                  :rows="rowsTicket"
                                  :columns="columns.ticket"
                                  row-key="name"
                                >
                                  <template v-slot:body-cell-no="props">
                                    <q-td :props="props">
                                      <div>{{ props.rowIndex + 1 }}</div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-action="props">
                                    <q-td :props="props">
                                      <div class="q-gutter-xs">
                                        <q-btn
                                          label="Edit"
                                          color="blue"
                                          @click="
                                            showDialogEditTicket(props.row)
                                          "
                                        />
                                        <q-btn
                                          label="Remove"
                                          color="warning"
                                          @click="
                                            showDialogDeleteTicket(props.row)
                                          "
                                        />
                                      </div>
                                    </q-td>
                                  </template>
                                </q-table>
                              </div>
                            </div>
                          </q-tab-panel>

                          <q-tab-panel name="location">
                            <div class="row q-pb-sm">
                              <div class="col-12">
                                <q-btn
                                  label="Add Location"
                                  @click="dialog.addLocation = true"
                                  color="positive"
                                />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <q-table
                                  :rows="rowsLocation"
                                  :columns="columns.location"
                                  row-key="name"
                                >
                                  <template v-slot:body-cell-no="props">
                                    <q-td :props="props">
                                      <div>{{ props.rowIndex + 1 }}</div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-action="props">
                                    <q-td :props="props">
                                      <div class="q-gutter-x-xs">
                                        <q-btn
                                          label="Edit"
                                          color="blue"
                                          @click="
                                            showDialogEditLocation(props.row)
                                          "
                                        />
                                        <q-btn
                                          label="Remove"
                                          color="warning"
                                          @click="
                                            showDialogDeleteLocation(props.row)
                                          "
                                        />
                                      </div>
                                    </q-td>
                                  </template>
                                </q-table>
                              </div>
                            </div>
                          </q-tab-panel>

                          <q-tab-panel name="certificate">
                            <div class="row q-pb-sm q-gutter-md">
                              <div class="column">Current Template :</div>
                              <div class="column">{{ event.template_certificate_name }}</div>
                            </div>
                            <div class="row q-pb-sm q-gutter-md">
                              <div class="column">
                                <q-btn
                                  label="Cek Hasil"
                                  color="blue"
                                  @click="checkResultTemplate()"
                                />
                              </div>
                            </div>
                            <div class="row q-pb-sm q-gutter-md">
                              <div class="column">
                                <q-btn
                                  label="Upload Template"
                                  @click="dialog.uploadCertificate = true"
                                  color="positive"
                                />
                              </div>
                              <div class="column">
                                <q-btn
                                  label="Add Parameter"
                                  @click="dialog.certificateParameter = true"
                                  color="primary"
                                />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <q-table
                                  :rows="rowsCertificateParameter"
                                  :columns="columns.certificateParameter"
                                  row-key="name"
                                >
                                  <template v-slot:body-cell-no="props">
                                    <q-td :props="props">
                                      <div>{{ props.rowIndex + 1 }}</div>
                                    </q-td>
                                  </template>
                                  <template v-slot:body-cell-action="props">
                                    <q-td :props="props">
                                      <div class="q-gutter-x-xs">
                                        <q-btn
                                          label="Edit"
                                          color="blue"
                                          @click="
                                            showDialogEditCertificateParameter(props.row)
                                          "
                                        />
                                        <q-btn
                                          label="Remove"
                                          color="warning"
                                          @click="
                                            showDialogDeleteCertificateParameter(props.row)
                                          "
                                        />
                                      </div>
                                    </q-td>
                                  </template>
                                </q-table>
                              </div>
                            </div>
                          </q-tab-panel>
                        </q-tab-panels>
                      </q-card-section>
                    </q-card>
                  </div>
                </div>
                <div class="row justify-center">
                  <div class="col-12 q-pl-sm q-pr-sm q-pt-md">
                    <q-item class="q-pa-none">
                      <q-item-section>
                        <q-btn label="Save" type="submit" color="positive" />
                      </q-item-section>
                    </q-item>
                  </div>
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </q-page>
  </q-layout>
  <q-dialog v-model="dialog.addDate" class="col-12">
    <add-date @addDate="addDate" />
  </q-dialog>
  <q-dialog v-model="dialog.addSpeaker" class="col-12">
    <add-speaker @addSpeaker="addSpeaker" />
  </q-dialog>

  <q-dialog v-model="dialog.addTicket" class="col-12">
    <add-ticket @addTicket="addTicket" />
  </q-dialog>

  <q-dialog v-model="dialog.addLocation" class="col-12">
    <add-location @addLocation="addLocation" />
  </q-dialog>

  <q-dialog v-model="dialog.addSession" class="col-12">
    <add-session @add="addSession" :eventId="eventId" />
  </q-dialog>

  <q-dialog v-model="dialog.editDate" class="col-12">
    <edit-date :eventDateId="dialog.paramId" @editDate="editDate" />
  </q-dialog>

  <q-dialog v-model="dialog.editSpeaker" class="col-12">
    <edit-speaker :eventSpeakerId="dialog.paramId" @editSpeaker="editSpeaker" />
  </q-dialog>
  <q-dialog v-model="dialog.editTicket" class="col-12">
    <edit-ticket :eventTicketId="dialog.paramId" @editTicket="editTicket" />
  </q-dialog>
  <q-dialog v-model="dialog.editLocation" class="col-12">
    <edit-location :eventLocationId="dialog.paramId" @editLocation="editLocation" />
  </q-dialog>

  <q-dialog v-model="dialog.editSession" class="col-12">
    <edit-session :eventSessionId="dialog.paramId" @edit="editSession" />
  </q-dialog>
  <confirmation-dialog v-model="dialog.deleteDate" msg="Hapus data date ?" @yes="deleteDate" />
  <confirmation-dialog
    v-model="dialog.deleteSpeaker"
    msg="Hapus data speaker ?"
    @yes="deleteSpeaker"
  />

  <confirmation-dialog v-model="dialog.deleteTicket" msg="Hapus data ticket ?" @yes="deleteTicket" />
  <confirmation-dialog
    v-model="dialog.deleteLocation"
    msg="Hapus data location ?"
    @yes="deleteLocation"
  />
  <confirmation-dialog
    v-model="dialog.deleteCertificateParameter"
    msg="Hapus data certificateParameter ?"
    @yes="deleteCertificateParameter"
  />

  <upload-certificate-dialog
    v-model="dialog.uploadCertificate"
    :eventId="event.event_id"
    @onSuccessUpload="onSuccessUploadCertificate"
  />
  <add-certificate-parameter-dialog
    :eventId="event.event_id"
    v-model="dialog.certificateParameter"
    @onSuccess="onSuccessAddCertificateParameter"
  />

  <edit-certificate-parameter-dialog
    v-model="dialog.editCertificateParameter"
    :eventCertificateParameterId="dialog.paramId"
    @onSuccess="onSuccessEditCertificateParameter"
  />
</template>
<script>
import { ref, onMounted } from "vue";
import { useQuasar, openURL, date } from "quasar";
import { useStore } from "vuex";
import { useRoute } from "vue-router";
import addSpeaker from "components/event/AddSpeaker.vue";
import addTicket from "src/components/event/AddTicket.vue";
import addLocation from "src/components/event/AddLocation.vue";
import ComboCategoryEvent from "src/components/combo/ComboCategoryEvent.vue";
import EditSpeaker from "src/components/event/EditSpeaker.vue";
import EditTicket from "src/components/event/EditTicket.vue";
import EditLocation from "src/components/event/EditLocation.vue";
import addSession from "src/components/event/AddSession.vue";
import editSession from "src/components/event/EditSession.vue";
import AddDate from "src/components/event/AddDate.vue";
import EditDate from "src/components/event/EditDate.vue";
import ConfirmationDialog from "src/components/dialog/ConfirmationDialog.vue";
import UploadCertificateDialog from "src/components/dialog/UploadCertificateDialog.vue";
import AddCertificateParameterDialog from "src/components/dialog/AddCertificateParameterDialog.vue";
import EditCertificateParameterDialog from "src/components/dialog/EditCertificateParameterDialog.vue";
export default {
  components: {
    addSpeaker,
    addTicket,
    addLocation,
    ComboCategoryEvent,
    EditSpeaker,
    EditTicket,
    EditLocation,
    addSession,
    editSession,
    AddDate,
    EditDate,
    ConfirmationDialog,
    UploadCertificateDialog,
    AddCertificateParameterDialog,
    EditCertificateParameterDialog
  },
  name: "EditEvent",
  setup(props, { attrs, slots, emit }) {
    const $q = useQuasar();
    const store = useStore();
    const route = useRoute();

    function formatCurrency(value = 0) {
      return new Intl.NumberFormat("id-ID", {
        style: "currency",
        currency: "IDR"
      }).format(value);
    }
    const toolbarEditor = [
      [
        {
          label: $q.lang.editor.formatting,
          icon: $q.iconSet.editor.formatting,
          list: "no-icons",
          options: ["p", "h1", "h2", "h3", "h4", "h5", "h6", "code"]
        },
        {
          label: $q.lang.editor.fontSize,
          icon: $q.iconSet.editor.fontSize,
          fixedLabel: true,
          fixedIcon: true,
          list: "no-icons",
          options: [
            "size-1",
            "size-2",
            "size-3",
            "size-4",
            "size-5",
            "size-6",
            "size-7"
          ]
        },
        "removeFormat"
      ],
      [
        {
          label: $q.lang.editor.align,
          icon: $q.iconSet.editor.align,
          fixedLabel: true,
          list: "only-icons",
          options: ["left", "center", "right", "justify"]
        }
      ],
      ["bold", "italic", "strike", "underline", "subscript", "superscript"],
      ["token", "hr", "link", "custom_btn"],
      ["quote", "unordered", "ordered", "outdent", "indent"],
      ["viewsource"]
    ];

    const columns = {
      certificateParameter: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "parameter_name",
          required: true,
          label: "Parameter Name",
          align: "left",
          field: "parameter_name",
          sortable: false
        },
        {
          name: "parameter_value",
          required: true,
          label: "Parameter Value",
          align: "left",
          field: "parameter_value",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      date: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "event_date",
          required: true,
          label: "Date",
          align: "left",
          field: "event_date",
          format: (val) => date.formatDate(new Date(val), "DD-MM-YYYY"),
          sortable: false
        },
        {
          name: "time",
          required: true,
          label: "Time",
          align: "left",
          field: "time",
          sortable: false
        },
        {
          name: "remark",
          required: true,
          label: "Remark",
          align: "left",
          field: "remark",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      speaker: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "name",
          required: true,
          label: "Speaker Name",
          align: "left",
          field: "speaker_name",
          sortable: false
        },
        {
          name: "description",
          required: true,
          label: "Speaker Description",
          align: "left",
          field: "speaker_description",
          sortable: false
        },
        {
          name: "photo",
          required: true,
          label: "Speaker Photo",
          align: "left",
          field: "speaker_photo",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      ticket: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "ticket_name",
          required: true,
          label: "Tiket Name",
          align: "left",
          field: "ticket_name",
          sortable: false
        },
        {
          name: "ticket_price",
          required: true,
          label: "Tiket Price",
          align: "left",
          field: "ticket_price",
          format: (val) => formatCurrency(val),
          sortable: false
        },
        {
          name: "ticket_name",
          required: true,
          label: "Tiket Description",
          align: "left",
          field: "ticket_name",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      location: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "location_name",
          required: true,
          label: "Location Name",
          align: "left",
          field: "location_name",
          sortable: false
        },
        {
          name: "location_description",
          required: true,
          label: "Location Description",
          align: "left",
          field: "location_description",
          sortable: false
        },
        {
          name: "location_type",
          required: true,
          label: "Location Type",
          align: "left",
          field: "location_type",
          format: (val) => `${val == "0" ? "Offline" : "Online"}`,
          sortable: false
        },
        {
          name: "location_url",
          required: true,
          label: "Location Url",
          align: "left",
          field: "location_url",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      session: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "name",
          required: true,
          label: "session Name",
          align: "left",
          field: "session_name",
          sortable: false
        },
        {
          name: "description",
          required: true,
          label: "session Description",
          align: "left",
          field: "session_description",
          sortable: false
        },
        {
          name: "download",
          required: true,
          label: "File Download",
          align: "left",
          field: "download",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ]
    };
    const rowsDate = ref([]);
    const rowsSpeaker = ref([]);
    const rowsTicket = ref([]);
    const rowsLocation = ref([]);
    const rowsSession = ref([]);
    const rowsCertificateParameter = ref([]);
    const tab = ref("date");

    const event = ref({
      event_id: -99,
      event_code: "",
      event_name: "",
      event_category: -99,
      date_from: store.getters["common/displayDateNow"],
      date_to: store.getters["common/displayDateNow"],
      time_from: "",
      time_to: "",
      event_description: "",
      banner: null,
      banner_url: "",
      template_certificate_name: "",
      course_url: ""
    });

    const dialog = ref({
      addDate: false,
      addSpeaker: false,
      addTicket: false,
      addLocation: false,
      addSession: false,
      editDate: false,
      editSpeaker: false,
      editTicket: false,
      editLocation: false,
      editSession: false,
      paramId: -99,
      deleteDate: false,
      deleteSpeaker: false,
      deleteTicket: false,
      deleteLocation: false,
      uploadCertificate: false,
      certificateParameter: false,
      deleteCertificateParameter: false,
      editCertificateParameter: false
    });

    const eventId = ref(route.params.eventId);
    function displayDateToDateString(date) {
      let dateList = date.split("-");
      return dateList[2] + dateList[1] + dateList[0];
    }

    function findEventById(id) {
      store
        .dispatch("event/findEventById", {
          param: { event_id: id }
        })
        .then(function (rspn) {
          event.value = rspn;
          rowsDate.value = rspn.eventDateList;
          rowsSpeaker.value = rspn.speakerList;
          rowsTicket.value = rspn.ticketList;
          rowsLocation.value = rspn.locationList;
          rowsSession.value = rspn.sessionList;
          rowsCertificateParameter.value = rspn.certificateParameterList;
        });
    }
    onMounted(() => {
      // get initial data from server (1st page)
      findEventById(route.params.eventId);
      //emit("cekIsLoggedIn");
      //this.selectedItem = getDefaultValue();
    });
    function onSubmit() {
      let param = Object.assign({}, event.value);
      param.date_from = displayDateToDateString(event.value.date_from);
      param.date_to = displayDateToDateString(event.value.date_to);
      param.event_id = route.params.eventId;
      store
        .dispatch("event/editEvent", {
          param: param
        })
        .then(function () {});
    }

    function showDialogDeleteDate(row) {
      dialog.value.paramId = row.event_date_id;
      dialog.value.deleteDate = !dialog.value.deleteDate;
    }

    function showDialogEditDate(row) {
      dialog.value.paramId = row.event_date_id;
      dialog.value.editDate = !dialog.value.editDate;
    }

    function addDate(date) {
      let paramdate = Object.assign({}, date);
      let splitEventDate = paramdate.event_date.split("-");
      paramdate.event_date =
        splitEventDate[2] + splitEventDate[1] + splitEventDate[0];
      paramdate.event_id = route.params.eventId;
      store
        .dispatch("event/addEventDate", {
          param: paramdate
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsDate.value = rspn;
          }

          dialog.value.addDate = rspn == false;
        });
    }

    function editDate(date) {
      let paramdate = Object.assign({}, date);
      store
        .dispatch("event/editEventDate", {
          param: paramdate
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsDate.value = rspn;
          }
          dialog.value.editDate = rspn == false;
        });
    }
    function deleteDate() {
      let param = { event_date_id: dialog.value.paramId };
      store
        .dispatch("event/deleteEventDate", {
          param: param
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsDate.value = rspn;
          }
          dialog.value.deleteDate = rspn == false;
        });
    }

    function onSuccessUploadCertificate() {
      //console.log(event.value.event_Id);
      findEventById(event.value.event_id);
      dialog.value.uploadCertificate = !dialog.value.uploadCertificate;
    }
    function showDialogDeleteCertificateParameter(row) {
      dialog.value.paramId = row.event_certificate_parameter_id;
      dialog.value.deleteCertificateParameter =
        !dialog.value.deleteCertificateParameter;
    }

    function deleteCertificateParameter() {
      let param = { event_certificate_parameter_id: dialog.value.paramId };
      store
        .dispatch("event/deleteCertificateParameter", {
          param: param
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsCertificateParameter.value = rspn;
          }
          dialog.value.deleteCertificateParameter = rspn == false;
        });
    }

    function showDialogAddCertificateParameter() {
      dialog.value.certificateParameter = !dialog.value.certificateParameter;
    }
    function onSuccessAddCertificateParameter() {
      //console.log(event.value.event_Id);
      findEventById(event.value.event_id);
      dialog.value.certificateParameter = !dialog.value.certificateParameter;
    }

    function showDialogEditCertificateParameter(row) {
      console.log(row.event_certificate_parameter_id);
      dialog.value.paramId = row.event_certificate_parameter_id;
      dialog.value.editCertificateParameter =
        !dialog.value.editCertificateParameter;
    }

    function onSuccessEditCertificateParameter() {
      //console.log(event.value.event_Id);
      findEventById(event.value.event_id);
      dialog.value.editCertificateParameter =
        !dialog.value.editCertificateParameter;
    }
    function showDialogUploadCertificate() {
      dialog.value.paramId = event.value.event_id;
      dialog.value.uploadCertificate = !dialog.value.uploadCertificate;
    }
    function showDialogEditSpeaker(row) {
      dialog.value.paramId = row.event_speaker_id;
      dialog.value.editSpeaker = !dialog.value.editSpeaker;
    }
    function addSpeaker(speaker) {
      let paramSpeaker = Object.assign({}, speaker);
      paramSpeaker.event_id = route.params.eventId;
      paramSpeaker.flg_speaker_photo = 0;
      if (speaker.speaker_photo != null) {
        paramSpeaker.flg_speaker_photo = 1;
      }
      store
        .dispatch("event/addSpeaker", {
          param: paramSpeaker
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsSpeaker.value = rspn;
          }

          dialog.value.addSpeaker = rspn == false;
        });
    }
    function editSpeaker(speaker) {
      let paramSpeaker = Object.assign({}, speaker);
      //paramSpeaker.event_id = route.params.eventId;
      paramSpeaker.flg_speaker_photo = 0;
      if (speaker.speaker_photo != null) {
        paramSpeaker.flg_speaker_photo = 1;
      }
      store
        .dispatch("event/editSpeaker", {
          param: paramSpeaker
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsSpeaker.value = rspn;
          }
          console.log(rowsSpeaker.value);
          dialog.value.editSpeaker = rspn == false;
        });
    }
    function showDialogDeleteSpeaker(row) {
      dialog.value.paramId = row.event_speaker_id;
      dialog.value.deleteSpeaker = !dialog.value.deleteSpeaker;
    }
    function deleteSpeaker() {
      let param = { event_speaker_id: dialog.value.paramId };
      store
        .dispatch("event/deleteEventSpeaker", {
          param: param
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsSpeaker.value = rspn;
          }
          console.log(rowsSpeaker.value);
          dialog.value.deleteSpeaker = rspn == false;
        });
    }
    function showDialogEditTicket(row) {
      dialog.value.paramId = row.event_ticket_id;
      dialog.value.editTicket = !dialog.value.editTicket;
    }
    function addTicket(ticket) {
      let paramTicket = Object.assign({}, ticket);
      paramTicket.date_from = displayDateToDateString(ticket.date_from);
      paramTicket.date_to = displayDateToDateString(ticket.date_to);
      paramTicket.event_id = route.params.eventId;
      store
        .dispatch("event/addTicket", {
          param: paramTicket
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsTicket.value = rspn;
          }

          dialog.value.addTicket = rspn == false;
        });
    }
    function editTicket(ticket) {
      let paramTicket = Object.assign({}, ticket);
      paramTicket.date_from = displayDateToDateString(ticket.date_from);
      paramTicket.date_to = displayDateToDateString(ticket.date_to);
      store
        .dispatch("event/editTicket", {
          param: paramTicket
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsTicket.value = rspn;
          }
          dialog.value.editTicket = rspn == false;
        });
    }
    function showDialogDeleteTicket(row) {
      dialog.value.paramId = row.event_ticket_id;
      dialog.value.deleteTicket = !dialog.value.deleteTicket;
    }
    function deleteTicket() {
      let param = { event_ticket_id: dialog.value.paramId };
      store
        .dispatch("event/deleteEventTicket", {
          param: param
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsTicket.value = rspn;
          }
          dialog.value.deleteTicket = rspn == false;
        });
    }
    function showDialogEditLocation(row) {
      dialog.value.paramId = row.event_location_id;
      dialog.value.editLocation = !dialog.value.editLocation;
    }
    function addLocation(location) {
      let paramLocation = Object.assign({}, location);
      paramLocation.event_id = route.params.eventId;
      store
        .dispatch("event/addLocation", {
          param: paramLocation
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsLocation.value = rspn;
          }

          dialog.value.addLocation = rspn == false;
        });
    }
    function editLocation(location) {
      let paramLocation = Object.assign({}, location);
      store
        .dispatch("event/editLocation", {
          param: paramLocation
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsLocation.value = rspn;
          }

          dialog.value.editLocation = rspn == false;
        });
    }
    function showDialogDeleteLocation(row) {
      dialog.value.paramId = row.event_location_id;
      dialog.value.deleteLocation = !dialog.value.deleteLocation;
    }
    function deleteLocation() {
      let param = { event_location_id: dialog.value.paramId };
      store
        .dispatch("event/deleteEventLocation", {
          param: param
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsLocation.value = rspn;
          }
          dialog.value.deleteLocation = rspn == false;
        });
    }
    function addSession(session) {
      let paramSession = Object.assign({}, session);
      paramSession.event_id = route.params.eventId;
      paramSession.flg_file = 0;
      if (paramSession.session_file != null) {
        paramSession.flg_file = 1;
      }
      store
        .dispatch("event/addSession", {
          param: paramSession
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsSession.value = rspn;
          }

          dialog.value.addSession = rspn == false;
        });
    }
    function showDialogEditSession(row) {
      dialog.value.paramId = row.event_session_id;
      dialog.value.editSession = !dialog.value.editSession;
    }
    function editSession(session) {
      let paramSession = Object.assign({}, session);
      paramSession.event_id = route.params.eventId;
      paramSession.flg_file = 0;
      if (paramSession.session_file != null) {
        paramSession.flg_file = 1;
      }
      store
        .dispatch("event/editSession", {
          param: paramSession
        })
        .then(function (rspn) {
          if (rspn != false) {
            rowsSession.value = rspn;
          }

          dialog.value.editSession = rspn == false;
        });
    }

    function checkResultTemplate() {
      store
        .dispatch("event/downloadCertificate", {
          param: { event_id: route.params.eventId }
        })
        .then(function () {});
    }

    return {
      dialog,
      eventId,
      toolbarEditor,
      tab,
      event,
      columns,
      rowsDate,
      rowsSpeaker,
      rowsTicket,
      rowsLocation,
      rowsSession,
      rowsCertificateParameter,
      checkResultTemplate,
      showDialogEditCertificateParameter,
      onSuccessEditCertificateParameter,
      onSuccessAddCertificateParameter,
      showDialogAddCertificateParameter,
      showDialogDeleteCertificateParameter,
      deleteCertificateParameter,
      onSuccessUploadCertificate,
      showDialogUploadCertificate,
      showDialogDeleteDate,
      showDialogEditDate,
      editDate,
      addDate,
      deleteDate,
      openURL,
      onSubmit,
      addSession,
      showDialogEditSpeaker,
      showDialogDeleteSpeaker,
      editSpeaker,
      addSpeaker,
      deleteSpeaker,
      showDialogEditTicket,
      editTicket,
      addTicket,
      showDialogDeleteTicket,
      deleteTicket,
      showDialogEditLocation,
      addLocation,
      editLocation,
      showDialogDeleteLocation,
      deleteLocation,
      showDialogEditSession,
      editSession,
      formatCurrency
    };
  }
};
</script>
