<template>
  <q-layout>
    <q-page class="items-start q-pa-sm">
      <div class="row q-pb-md">
        <div class="col-12 q-pa-sm">
          <q-breadcrumbs active-color="blue">
            <q-breadcrumbs-el label="Home" icon="home" to="/" />
            <q-breadcrumbs-el label="Event" to="/admin/event" />
            <q-breadcrumbs-el label="Edit Event" />
          </q-breadcrumbs>
        </div>
      </div>
      <div class="row justify-center">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <q-card>
            <q-card-section>
              <div class="text-center">
                <div class="col text-h6">Add Event</div>
              </div>
            </q-card-section>
            <q-card-section>
              <q-form class="q-gutter-md" @submit="onSubmit">
                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Event Code</q-item-section>
                  </q-item>
                  <q-item class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <q-item-section>
                      <q-input
                        hide-bottom-space
                        outlined
                        v-model="event.event_code"
                        label="Event Code"
                        lazy-rules="ondemand"
                        :rules="[
                          (val) =>
                            (val !== null && val !== '') || 'Email harus diisi',
                        ]"
                      />
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Event Name</q-item-section>
                  </q-item>
                  <q-item class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <q-item-section>
                      <q-input
                        outlined
                        v-model="event.event_name"
                        label="Event Name"
                        lazy-rules="ondemand"
                        :rules="[
                          (val) =>
                            (val !== null && val !== '') ||
                            'Username harus diisi',
                        ]"
                      />
                    </q-item-section>
                  </q-item>
                </div>
                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Event Category</q-item-section>
                  </q-item>
                  <q-item class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <q-item-section>
                      <combo-category-event v-model="event.event_category" :param="{active:'Y'}" />
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Date</q-item-section>
                  </q-item>
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>
                      <date-picker v-model="event.date_from" label="Date From (DD/MM/YYYY)" />
                    </q-item-section>
                  </q-item>
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>
                      <date-picker v-model="event.date_to" label="Date To (DD/MM/YYYY)" />
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Time</q-item-section>
                  </q-item>
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>
                      <time-picker v-model="event.time_from" label="Time From" />
                    </q-item-section>
                  </q-item>
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>
                      <time-picker v-model="event.time_to" label="Time To" />
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Event Description</q-item-section>
                  </q-item>
                  <q-item class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <q-item-section>
                      <q-editor v-model="event.event_description" :toolbar="toolbarEditor" />
                    </q-item-section>
                  </q-item>
                </div>
                <div class="row">
                  <q-item class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <q-item-section>Banner</q-item-section>
                  </q-item>
                  <q-item class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <q-item-section>
                      <q-file
                        filled
                        bottom-slots
                        v-model="event.banner"
                        label="Banner"
                        counter
                        clearable
                      >
                        <template v-slot:prepend>
                          <q-icon name="cloud_upload" @click.stop />
                        </template>
                        <template v-slot:hint></template>
                      </q-file>
                      <q-btn
                        label="Check Banner"
                        color="blue"
                        dense
                        @click="openURL(event.banner_url)"
                      />
                    </q-item-section>
                  </q-item>
                </div>

                <q-separator />
                <div class="row">
                  <q-item class="col-12">
                    <q-item-section>
                      <q-list bordered>
                        <q-expansion-item
                          group="Speaker"
                          icon="campaign"
                          label="Speaker"
                          header-class="text-primary bg-grey-1"
                        >
                          <q-card>
                            <q-card-section>
                              <div class="row">
                                <q-item class="col-2">
                                  <q-item-section>
                                    <q-btn
                                      label="Add Speaker"
                                      color="positive"
                                      @click="dialog.addSpeaker = true"
                                    />
                                  </q-item-section>
                                </q-item>
                              </div>
                              <div class="row">
                                <q-item class="col-12">
                                  <q-item-section>
                                    <q-table
                                      :rows="rowsSpeaker"
                                      :columns="columns.speaker"
                                      row-key="name"
                                    >
                                      <template v-slot:body-cell-no="props">
                                        <q-td :props="props">
                                          <div>{{ props.rowIndex + 1 }}</div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-photo="props">
                                        <q-td :props="props">
                                          <q-avatar square v-if="props.row.photo_url">
                                            <img :src="props.row.photo_url" />
                                          </q-avatar>
                                        </q-td>
                                      </template>

                                      <template v-slot:body-cell-action="props">
                                        <q-td :props="props">
                                          <div class="q-gutter-x-xs">
                                            <q-btn
                                              label="Edit"
                                              color="blue"
                                              @click="showDialogEditSpeaker(props.row)"
                                            />
                                            <q-btn
                                              label="Remove"
                                              color="warning"
                                              @click="removeSpeaker(props.row)"
                                            />
                                          </div>
                                        </q-td>
                                      </template>
                                    </q-table>
                                  </q-item-section>
                                </q-item>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-12">
                    <q-item-section>
                      <q-list bordered>
                        <q-expansion-item
                          group="tiket"
                          icon="confirmation_number"
                          label="Tiket"
                          header-class="text-primary bg-grey-1"
                        >
                          <q-card>
                            <q-card-section>
                              <div class="row">
                                <q-item class="col-2">
                                  <q-item-section>
                                    <q-btn
                                      label="Add Ticket"
                                      color="positive"
                                      @click="dialog.addTicket = true"
                                    />
                                  </q-item-section>
                                </q-item>
                              </div>
                              <div class="row">
                                <q-item class="col-12">
                                  <q-item-section>
                                    <q-table
                                      :rows="rowsTicket"
                                      :columns="columns.ticket"
                                      row-key="name"
                                    >
                                      <template v-slot:body-cell-no="props">
                                        <q-td :props="props">
                                          <div>{{ props.rowIndex + 1 }}</div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-action="props">
                                        <q-td :props="props">
                                          <div class="q-gutter-xs">
                                            <q-btn
                                              label="Edit"
                                              color="blue"
                                              @click="showDialogEditTicket(props.row)"
                                            />
                                            <q-btn
                                              label="Remove"
                                              color="warning"
                                              @click="removeTicket(props.row)"
                                            />
                                          </div>
                                        </q-td>
                                      </template>
                                    </q-table>
                                  </q-item-section>
                                </q-item>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-12">
                    <q-item-section>
                      <q-list bordered>
                        <q-expansion-item
                          group="Location"
                          icon="map"
                          label="Location"
                          header-class="text-primary bg-grey-1"
                        >
                          <q-card>
                            <q-card-section>
                              <div class="row">
                                <q-item class="col-2">
                                  <q-item-section>
                                    <q-btn
                                      label="Add Location"
                                      @click="dialog.addLocation = true"
                                      color="positive"
                                    />
                                  </q-item-section>
                                </q-item>
                              </div>
                              <div class="row">
                                <q-item class="col-12">
                                  <q-item-section>
                                    <q-table
                                      :rows="rowsLocation"
                                      :columns="columns.location"
                                      row-key="name"
                                    >
                                      <template v-slot:body-cell-no="props">
                                        <q-td :props="props">
                                          <div>{{ props.rowIndex + 1 }}</div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-action="props">
                                        <q-td :props="props">
                                          <div class="q-gutter-x-xs">
                                            <q-btn
                                              label="Edit"
                                              color="blue"
                                              @click="showDialogEditLocation(props.row)"
                                            />
                                            <q-btn
                                              label="Remove"
                                              color="warning"
                                              @click="removeLocation(props.row)"
                                            />
                                          </div>
                                        </q-td>
                                      </template>
                                    </q-table>
                                  </q-item-section>
                                </q-item>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </q-item-section>
                  </q-item>
                </div>

                <div class="row">
                  <q-item class="col-12">
                    <q-item-section>
                      <q-list bordered>
                        <q-expansion-item
                          group="Session"
                          icon="map"
                          label="Session"
                          header-class="text-primary bg-grey-1"
                        >
                          <q-card>
                            <q-card-section>
                              <div class="row">
                                <q-item class="col-2">
                                  <q-item-section>
                                    <q-btn
                                      label="Add Session"
                                      @click="dialog.addSession = true"
                                      color="positive"
                                    />
                                  </q-item-section>
                                </q-item>
                              </div>
                              <div class="row">
                                <q-item class="col-12">
                                  <q-item-section>
                                    <q-table
                                      :rows="rowsSession"
                                      :columns="columns.session"
                                      row-key="name"
                                    >
                                      <template v-slot:body-cell-no="props">
                                        <q-td :props="props">
                                          <div>{{ props.rowIndex + 1 }}</div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-download="props">
                                        <q-td :props="props">
                                          <div v-if="props.row.file_url">
                                            <a :href="props.row.file_url" target="_blank">download</a>
                                          </div>
                                        </q-td>
                                      </template>
                                      <template v-slot:body-cell-action="props">
                                        <q-td :props="props">
                                          <div class="q-gutter-x-xs">
                                            <q-btn
                                              label="Edit"
                                              color="blue"
                                              @click="showDialogEditSession(props.row)"
                                            />
                                            <q-btn
                                              label="Remove"
                                              color="warning"
                                              @click="removeSession(props.row)"
                                            />
                                          </div>
                                        </q-td>
                                      </template>
                                    </q-table>
                                  </q-item-section>
                                </q-item>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </q-item-section>
                  </q-item>
                </div>
                <div>
                  <q-btn label="Save" type="submit" color="positive" />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </q-page>
  </q-layout>
  <q-dialog v-model="dialog.addSpeaker" class="col-12">
    <add-speaker @addSpeaker="addSpeaker" />
  </q-dialog>

  <q-dialog v-model="dialog.addTicket" class="col-12">
    <add-ticket @addTicket="addTicket" />
  </q-dialog>

  <q-dialog v-model="dialog.addLocation" class="col-12">
    <add-location @addLocation="addLocation" />
  </q-dialog>

  <q-dialog v-model="dialog.addSession" class="col-12">
    <add-session @add="addSession" :eventId="eventId" />
  </q-dialog>

  <q-dialog v-model="dialog.editSpeaker" class="col-12">
    <edit-speaker :eventSpeakerId="dialog.paramId" @editSpeaker="editSpeaker" />
  </q-dialog>
  <q-dialog v-model="dialog.editTicket" class="col-12">
    <edit-ticket :eventTicketId="dialog.paramId" @editTicket="editTicket" />
  </q-dialog>
  <q-dialog v-model="dialog.editLocation" class="col-12">
    <edit-location :eventLocationId="dialog.paramId" @editLocation="editLocation" />
  </q-dialog>

  <q-dialog v-model="dialog.editSession" class="col-12">
    <edit-session :eventSessionId="dialog.paramId" @edit="editSession" />
  </q-dialog>
</template>
<script>
import { ref, onMounted } from "vue";
import { useQuasar, openURL } from "quasar";
import { useStore } from "vuex";
import { useRoute } from "vue-router";
import addSpeaker from "components/event/AddSpeaker.vue";
import addTicket from "src/components/event/AddTicket.vue";
import addLocation from "src/components/event/AddLocation.vue";
import ComboCategoryEvent from "src/components/combo/ComboCategoryEvent.vue";
import datePicker from "src/components/DatePicker.vue";
import TimePicker from "src/components/TimePicker.vue";
import EditSpeaker from "src/components/event/EditSpeaker.vue";
import EditTicket from "src/components/event/EditTicket.vue";
import EditLocation from "src/components/event/EditLocation.vue";
import addSession from "src/components/event/AddSession.vue";
import editSession from "src/components/event/EditSession.vue";
export default {
  components: {
    addSpeaker,
    addTicket,
    addLocation,
    ComboCategoryEvent,
    datePicker,
    TimePicker,
    EditSpeaker,
    EditTicket,
    EditLocation,
    addSession,
    editSession
  },
  name: "EditEvent",
  emits: ["cekIsLoggedIn"],
  setup(props, { attrs, slots, emit }) {
    const $q = useQuasar();
    const store = useStore();
    const route = useRoute();

    function formatCurrency(value = 0) {
      return new Intl.NumberFormat("id-ID", {
        style: "currency",
        currency: "IDR"
      }).format(value);
    }
    const toolbarEditor = [
      [
        {
          label: $q.lang.editor.formatting,
          icon: $q.iconSet.editor.formatting,
          list: "no-icons",
          options: ["p", "h1", "h2", "h3", "h4", "h5", "h6", "code"]
        },
        {
          label: $q.lang.editor.fontSize,
          icon: $q.iconSet.editor.fontSize,
          fixedLabel: true,
          fixedIcon: true,
          list: "no-icons",
          options: [
            "size-1",
            "size-2",
            "size-3",
            "size-4",
            "size-5",
            "size-6",
            "size-7"
          ]
        },
        "removeFormat"
      ],
      [
        {
          label: $q.lang.editor.align,
          icon: $q.iconSet.editor.align,
          fixedLabel: true,
          list: "only-icons",
          options: ["left", "center", "right", "justify"]
        }
      ],
      ["bold", "italic", "strike", "underline", "subscript", "superscript"],
      ["token", "hr", "link", "custom_btn"],
      ["quote", "unordered", "ordered", "outdent", "indent"],
      ["viewsource"]
    ];

    const columns = {
      speaker: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "name",
          required: true,
          label: "Speaker Name",
          align: "left",
          field: "speaker_name",
          sortable: false
        },
        {
          name: "description",
          required: true,
          label: "Speaker Description",
          align: "left",
          field: "speaker_description",
          sortable: false
        },
        {
          name: "photo",
          required: true,
          label: "Speaker Photo",
          align: "left",
          field: "speaker_photo",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      ticket: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "ticket_name",
          required: true,
          label: "Tiket Name",
          align: "left",
          field: "ticket_name",
          sortable: false
        },
        {
          name: "ticket_price",
          required: true,
          label: "Tiket Price",
          align: "left",
          field: "ticket_price",
          format: (val) => formatCurrency(val),
          sortable: false
        },
        {
          name: "ticket_name",
          required: true,
          label: "Tiket Description",
          align: "left",
          field: "ticket_name",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      location: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "location_name",
          required: true,
          label: "Location Name",
          align: "left",
          field: "location_name",
          sortable: false
        },
        {
          name: "location_description",
          required: true,
          label: "Location Description",
          align: "left",
          field: "location_description",
          sortable: false
        },
        {
          name: "location_type",
          required: true,
          label: "Location Type",
          align: "left",
          field: "location_type",
          format: (val) => `${val == "0" ? "Offline" : "Online"}`,
          sortable: false
        },
        {
          name: "location_url",
          required: true,
          label: "Location Url",
          align: "left",
          field: "location_url",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ],
      session: [
        {
          name: "no",
          required: true,
          label: "#",
          align: "left",
          field: "no",
          sortable: false
        },
        {
          name: "name",
          required: true,
          label: "session Name",
          align: "left",
          field: "session_name",
          sortable: false
        },
        {
          name: "description",
          required: true,
          label: "session Description",
          align: "left",
          field: "session_description",
          sortable: false
        },
        {
          name: "download",
          required: true,
          label: "File Download",
          align: "left",
          field: "download",
          sortable: false
        },
        {
          name: "action",
          required: true,
          label: "Action",
          align: "left",
          field: "action",
          sortable: false
        }
      ]
    };
    const rowsSpeaker = ref([]);
    const rowsTicket = ref([]);
    const rowsLocation = ref([]);
    const rowsSession = ref([]);

    const event = ref({
      event_code: "",
      event_name: "",
      event_category: -99,
      date_from: store.getters["common/displayDateNow"],
      date_to: store.getters["common/displayDateNow"],
      time_from: "",
      time_to: "",
      event_description: "",
      banner: null
    });

    const dialog = ref({
      addSpeaker: false,
      addTicket: false,
      addLocation: false,
      addSession: false,
      addSession: false,
      editSpeaker: false,
      editTicket: false,
      editLocation: false,
      editSession: false,
      paramId: -99
    });

    const eventId = ref(route.params.eventId);
    function displayDateToDateString(date) {
      let dateList = date.split("-");
      return dateList[2] + dateList[1] + dateList[0];
    }

    function findEventById(id) {
      store
        .dispatch("event/findEventById", {
          param: { event_id: id }
        })
        .then(function (rspn) {
          event.value = rspn;
          rowsSpeaker.value = rspn.speakerList;
          rowsTicket.value = rspn.ticketList;
          rowsLocation.value = rspn.locationList;
          rowsSession.value = rspn.sessionList;
        });
    }
    onMounted(() => {
      // get initial data from server (1st page)
      findEventById(route.params.eventId);
      emit("cekIsLoggedIn");
      //this.selectedItem = getDefaultValue();
    });

    return {
      dialog,
      eventId,
      toolbarEditor,
      event,
      columns,
      rowsSpeaker,
      rowsTicket,
      rowsLocation,
      rowsSession,
      openURL,
      onSubmit() {
        let param = Object.assign({}, event.value);
        param.date_from = displayDateToDateString(event.value.date_from);
        param.date_to = displayDateToDateString(event.value.date_to);
        param.event_id = route.params.eventId;
        store
          .dispatch("event/editEvent", {
            param: param
          })
          .then(function () {});
      },
      showDialogEditSpeaker(row) {
        dialog.value.paramId = row.event_speaker_id;
        dialog.value.editSpeaker = !dialog.value.editSpeaker;
      },
      addSpeaker(speaker) {
        let paramSpeaker = Object.assign({}, speaker);
        paramSpeaker.event_id = route.params.eventId;
        paramSpeaker.flg_speaker_photo = 0;
        if (speaker.speaker_photo != null) {
          paramSpeaker.flg_speaker_photo = 1;
        }
        store
          .dispatch("event/addSpeaker", {
            param: paramSpeaker
          })
          .then(function (rspn) {
            if (rspn != false) {
              rowsSpeaker.value = rspn;
            }

            dialog.value.addSpeaker = rspn == false;
          });
      },
      editSpeaker(speaker) {
        let paramSpeaker = Object.assign({}, speaker);
        //paramSpeaker.event_id = route.params.eventId;
        paramSpeaker.flg_speaker_photo = 0;
        if (speaker.speaker_photo != null) {
          paramSpeaker.flg_speaker_photo = 1;
        }
        store
          .dispatch("event/editSpeaker", {
            param: paramSpeaker
          })
          .then(function (rspn) {
            if (rspn != false) {
              rowsSpeaker.value = rspn;
            }
            dialog.value.editSpeaker = rspn == false;
          });
      },
      removeSpeaker(speaker) {
        rowsSpeaker.value.splice(rowsSpeaker.value.indexOf(speaker), 1);
      },
      showDialogEditTicket(row) {
        dialog.value.paramId = row.event_ticket_id;
        dialog.value.editTicket = !dialog.value.editTicket;
      },
      addTicket(ticket) {
        let paramTicket = Object.assign({}, ticket);
        paramTicket.date_from = displayDateToDateString(ticket.date_from);
        paramTicket.date_to = displayDateToDateString(ticket.date_to);
        paramTicket.event_id = route.params.eventId;
        store
          .dispatch("event/addTicket", {
            param: paramTicket
          })
          .then(function (rspn) {
            if (rspn != false) {
              rowsTicket.value = rspn;
            }

            dialog.value.addTicket = rspn == false;
          });
      },
      editTicket(ticket) {
        let paramTicket = Object.assign({}, ticket);
        paramTicket.date_from = displayDateToDateString(ticket.date_from);
        paramTicket.date_to = displayDateToDateString(ticket.date_to);
        store
          .dispatch("event/editTicket", {
            param: paramTicket
          })
          .then(function (rspn) {
            if (rspn != false) {
              rowsTicket.value = rspn;
            }
            dialog.value.editTicket = rspn == false;
          });
      },
      removeTicket(ticket) {
        rowsTicket.value.splice(rowsTicket.value.indexOf(ticket), 1);
      },
      showDialogEditLocation(row) {
        dialog.value.paramId = row.event_location_id;
        dialog.value.editLocation = !dialog.value.editLocation;
      },
      addLocation(location) {
        let paramLocation = Object.assign({}, location);
        paramLocation.event_id = route.params.eventId;
        store
          .dispatch("event/addLocation", {
            param: paramLocation
          })
          .then(function (rspn) {
            if (rspn != false) {
              rowsLocation.value = rspn;
            }

            dialog.value.addLocation = rspn == false;
          });
      },
      editLocation(location) {
        let paramLocation = Object.assign({}, location);
        store
          .dispatch("event/editLocation", {
            param: paramLocation
          })
          .then(function (rspn) {
            if (rspn != false) {
              rowsLocation.value = rspn;
            }

            dialog.value.editLocation = rspn == false;
          });
      },
      removeLocation(location) {
        rowsLocation.value.splice(rowsLocation.value.indexOf(location), 1);
      },
      addSession(session) {
        let paramSession = Object.assign({}, session);
        paramSession.event_id = route.params.eventId;
        paramSession.flg_file = 0;
        if (paramSession.session_file != null) {
          paramSession.flg_file = 1;
        }
        store
          .dispatch("event/addSession", {
            param: paramSession
          })
          .then(function (rspn) {
            if (rspn != false) {
              rowsSession.value = rspn;
            }

            dialog.value.addSession = rspn == false;
          });
      },
      showDialogEditSession(row) {
        dialog.value.paramId = row.event_session_id;
        dialog.value.editSession = !dialog.value.editSession;
      },
      editSession(session) {
        let paramSession = Object.assign({}, session);
        paramSession.event_id = route.params.eventId;
        paramSession.flg_file = 0;
        if (paramSession.session_file != null) {
          paramSession.flg_file = 1;
        }
        store
          .dispatch("event/editSession", {
            param: paramSession
          })
          .then(function (rspn) {
            if (rspn != false) {
              rowsSession.value = rspn;
            }

            dialog.value.editSession = rspn == false;
          });
      },
      formatCurrency
    };
  }
};
</script>
