<template>
  <q-layout>
    <q-page class="items-start q-pa-sm">
      <div class="row q-pb-md">
        <div class="col-12 q-pa-sm">
          <q-breadcrumbs active-color="blue">
            <q-breadcrumbs-el label="Home" icon="home" to="/" />
            <q-breadcrumbs-el label="Event" />
          </q-breadcrumbs>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <q-card>
            <q-card-section class="text-h5">My Event</q-card-section>
            <q-separator />
            <q-card-section>
              <q-btn label="Add Event" type="button" color="positive" to="/admin/event/addEvent" />
            </q-card-section>
            <q-card-section>
              <q-table
                bordered
                title="Event Data"
                :rows="rows"
                :columns="columns"
                row-key="id"
                v-model:pagination="pagination"
                :loading="loading"
                :filter="keyword"
                @request="onRequest"
                binary-state-sort
                separator="cell"
                wrap-cells
              >
                <template v-slot:header-cell="props">
                  <q-th
                    :props="props"
                    class="text-subtitle2 text-weight-bolder text-blue-10"
                  >{{ props.col.label }}</q-th>
                </template>
                <template v-slot:top-right>
                  <q-input outlined rounded debounce="300" v-model="keyword" placeholder="Search">
                    <template v-slot:append>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                </template>

                <template v-slot:body-cell-index="props">
                  <q-td :props="props">
                    <div>{{ props.rowIndex + 1 }}</div>
                  </q-td>
                </template>
                <template v-slot:body-cell-periode="props">
                  <q-td :props="props">
                    <q-item>
                      <q-item-section avatar>
                        <q-icon name="far fa-calendar-alt" left right />
                      </q-item-section>
                      <q-item-section>
                        {{ props.row.date_from }} s/d
                        {{ props.row.date_to }}
                      </q-item-section>
                    </q-item>
                    <q-item>
                      <q-item-section avatar>
                        <q-icon name="far fa-clock" left right />
                      </q-item-section>
                      <q-item-section>
                        {{ props.row.time_from }} s/d
                        {{ props.row.time_to }}
                      </q-item-section>
                    </q-item>
                  </q-td>
                </template>
                <template v-slot:body-cell-order_status="props">
                  <q-td :props="props">
                    <q-badge
                      outline
                      align="middle"
                      :color="props.row.order_status_code == '00'?'warning':props.row.order_status_code == '20'?'green':'teal'"
                    >{{props.row.order_status}}</q-badge>
                  </q-td>
                </template>
                <template v-slot:body-cell-action="props">
                  <q-td :props="props">
                    <q-btn label="Action" size="sm" color="teal">
                      <q-menu>
                        <q-list>
                          <q-item
                            clickable
                            v-close-popup
                            :to="'/admin/event/editEvent/'+props.row.event_id"
                          >
                            <q-item-section>Edit</q-item-section>
                          </q-item>
                          <q-separator />
                          <q-item clickable v-close-popup @click="showDialogEditActive(props.row)">
                            <q-item-section>{{props.row.active =='YES'?'Non Active':'Active'}}</q-item-section>
                          </q-item>
                          <q-separator />
                          <q-item
                            clickable
                            v-close-popup
                            :to="'/admin/event/ticketSales/'+props.row.event_code"
                          >
                            <q-item-section>Ticket Sales</q-item-section>
                          </q-item>
                        </q-list>
                      </q-menu>
                    </q-btn>
                  </q-td>
                </template>
              </q-table>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </q-page>
  </q-layout>
  <confirmation-dialog
    :msg="'Anda yakin untuk mengaktifkan / memasifkan event ini ?'"
    :modelValue="flgConfirmEditActive"
    @yes="setActive()"
  />
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { useQuasar, Loading, Dialog } from "quasar";
import { useStore } from "vuex";
import ConfirmationDialog from "src/components/dialog/ConfirmationDialog.vue";
export default defineComponent({
  components: { ConfirmationDialog },
  name: "Event",
  setup() {
    const store = useStore();
    const flgConfirmEditActive = ref(false);
    const columns = [
      { name: "index", align: "center", label: "#", field: "index" },
      // {
      //   name: "event_code",
      //   required: true,
      //   label: "EVENT CODE",
      //   align: "center",
      //   field: "event_code",
      //   sortable: true
      // },
      {
        name: "event_name",
        align: "center",
        label: "EVENT NAME",
        field: "event_name",
        sortable: true
      },
      {
        name: "event_category",
        align: "center",
        label: "EVENT CATEGORY",
        field: "event_category",
        sortable: true
      },
      {
        name: "periode",
        align: "left",
        label: "DATE AND TIME",
        field: "periode",
        sortable: true
      },

      { name: "active", align: "center", label: "ACTIVE", field: "active" },
      { name: "action", align: "center", label: "ACTION", field: "action" }
    ];
    const rows = ref([]);
    const pagination = ref({
      sortBy: "tahun_ajaran_code",
      descending: false,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 10
    });
    const keyword = ref("");
    const loading = ref(false);
    const event = ref({});

    function setActive() {
      store
        .dispatch("event/editEventActiveStatus", {
          param: {
            event_id: event.value.event_id,
            active: event.value.active == "YES" ? "N" : "Y"
          }
        })
        .then(function (rspn) {
          flgConfirmEditActive.value = !flgConfirmEditActive.value;
          reloadPage();
        });
    }

    function onRequest(props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination;
      loading.value = true;
      store
        .dispatch("event/countGetMyEvent", {
          param: { keyword: keyword.value }
        })
        .then(function (rspn) {
          pagination.value.rowsNumber = rspn;

          const fetchCount =
            rowsPerPage === 0 ? pagination.value.rowsNumber : rowsPerPage;
          // get all rows if "All" (0) is selected

          // calculate starting row of data
          const startRow = (page - 1) * rowsPerPage;

          // fetch data from "server"
          store
            .dispatch("event/getMyEvent", {
              param: {
                keyword: keyword.value,
                limit: fetchCount,
                offset: startRow,
                sortBy: sortBy,
                descending: descending
              }
            })
            .then(function (rspn) {
              const returnedData = rspn;
              rows.value.splice(0, rows.value.length, ...returnedData);
              loading.value = false;
            });
        });

      // don't forget to update local pagination object
      pagination.value.page = page;
      pagination.value.rowsPerPage = rowsPerPage;
      pagination.value.sortBy = sortBy;
      pagination.value.descending = descending;
    }

    function showDialogEditActive(data) {
      flgConfirmEditActive.value = !flgConfirmEditActive.value;
      event.value = data;
    }
    function reloadPage() {
      onRequest({
        pagination: pagination.value
      });
    }
    onMounted(() => {
      onRequest({
        pagination: pagination.value
      });
    });
    return {
      columns,
      flgConfirmEditActive,
      rows,
      pagination,
      keyword,
      loading,
      onRequest,
      reloadPage,
      showDialogEditActive,
      setActive
    };
  }
});
</script>
