<template>
  <q-page class="items-start q-pa-sm">
    <div class="row q-pb-md">
      <div class="col-12 q-pa-sm">
        <q-breadcrumbs active-color="blue">
          <q-breadcrumbs-el label="Home" icon="home" to="/" />
          <q-breadcrumbs-el label="Event" to="/admin/event" />
          <q-breadcrumbs-el label="Ticket Sales" />
        </q-breadcrumbs>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <q-card>
          <q-card-section class="text-h5">Ticket Sales</q-card-section>
          <q-separator />
          <q-card-section>
            <q-table
              bordered
              title="Sales Data"
              :rows="rows"
              :columns="columns"
              row-key="id"
              v-model:pagination="pagination"
              :loading="loading"
              :filter="keyword"
              @request="onRequest"
              binary-state-sort
              separator="cell"
              wrap-cells
            >
              <template v-slot:header-cell="props">
                <q-th
                  :props="props"
                  class="text-subtitle2 text-weight-bolder text-blue-10"
                >{{ props.col.label }}</q-th>
              </template>
              <template v-slot:top-right>
                <q-input outlined rounded debounce="300" v-model="keyword" placeholder="Search">
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>

              <template v-slot:body-cell-index="props">
                <q-td :props="props">
                  <div>{{ props.rowIndex + 1 }}</div>
                </q-td>
              </template>
              <template v-slot:body-cell-participant="props">
                <q-td auto-width :props="props">
                  <q-item>
                    <q-item-section avatar>Name</q-item-section>
                    <q-item-section>{{ props.row.name }}</q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section avatar>email</q-item-section>
                    <q-item-section>{{ props.row.email }}</q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section avatar>phone</q-item-section>
                    <q-item-section>{{ props.row.phone }}</q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section avatar>address</q-item-section>
                    <q-item-section>{{ props.row.address }}</q-item-section>
                  </q-item>
                </q-td>
              </template>
              <template v-slot:body-cell-status="props">
                <q-td auto-width :props="props">
                  <q-badge
                    outline
                    align="middle"
                    :color="props.row.order_status_code == '00'?'warning':props.row.order_status_code == '20'?'green':'teal'"
                  >{{props.row.order_status}}</q-badge>
                </q-td>
              </template>
              <template v-slot:body-cell-action="props">
                <q-td auto-width :props="props">
                  <q-btn
                    v-if="props.row.order_status_code=='10'"
                    label="Verify"
                    size="sm"
                    color="teal"
                    @click="showDialogVerifyTicket(props.row)"
                  ></q-btn>
                </q-td>
              </template>
            </q-table>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
  <q-dialog v-model="flgShowDialogVerifyTicket">
    <verify-ticket-card
      :eventTicketOrderId="eventTicketOrderId"
      :url="url"
      :isPdf="isPdf"
      @reloadPage="reloadPage"
    />
  </q-dialog>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { useQuasar, Loading, Dialog } from "quasar";
import { useStore } from "vuex";
import { useRoute } from "vue-router";
import VerifyTicketCard from "src/components/event/VerifyTicketCard.vue";
export default defineComponent({
  components: { VerifyTicketCard },
  name: "TicketSales",
  setup() {
    const store = useStore();
    const route = useRoute();
    const columns = [
      { name: "index", align: "center", label: "#", field: "index" },
      // {
      //   name: "order_code",
      //   required: true,
      //   label: "TICKET NO",
      //   align: "center",
      //   field: "order_code",
      //   sortable: true
      // },
      // {
      //   name: "event_code",
      //   required: true,
      //   label: "EVENT CODE",
      //   align: "center",
      //   field: "event_code",
      //   sortable: true
      // },
      {
        name: "event_name",
        align: "center",
        label: "EVENT NAME",
        field: "event_name",
        sortable: true
      },
      {
        name: "ticket_name",
        align: "center",
        label: "TICKET NAME",
        field: "ticket_name",
        sortable: true
      },
      {
        name: "name",
        align: "left",
        label: "NAMA",
        field: "name",
        sortable: true
      },
      {
        name: "email",
        align: "left",
        label: "Email",
        field: "email",
        sortable: true
      },
      {
        name: "phone",
        align: "left",
        label: "Phone",
        field: "phone",
        sortable: true
      },
      {
        name: "address",
        align: "left",
        label: "Address",
        field: "address",
        sortable: true
      },

      { name: "status", align: "center", label: "STATUS", field: "status" },
      { name: "action", align: "center", label: "ACTION", field: "action" }
    ];
    const rows = ref([]);
    const pagination = ref({
      sortBy: "tahun_ajaran_code",
      descending: false,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 10
    });
    const keyword = ref("");
    const loading = ref(false);
    const flgShowDialogVerifyTicket = ref(false);
    const eventTicketOrderId = ref(-99);
    const eventCode = ref("");
    const url = ref("");
    const isPdf = ref(false);
    eventCode.value = route.params.eventCode;
    function onRequest(props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination;
      loading.value = true;
      store
        .dispatch("event/countGetTicketSales", {
          param: { event_code: eventCode.value, keyword: keyword.value }
        })
        .then(function (rspn) {
          pagination.value.rowsNumber = rspn;

          const fetchCount =
            rowsPerPage === 0 ? pagination.value.rowsNumber : rowsPerPage;
          // get all rows if "All" (0) is selected

          // calculate starting row of data
          const startRow = (page - 1) * rowsPerPage;

          // fetch data from "server"
          store
            .dispatch("event/getTicketSales", {
              param: {
                event_code: eventCode.value,
                keyword: keyword.value,
                limit: fetchCount,
                offset: startRow,
                sortBy: sortBy,
                descending: descending
              }
            })
            .then(function (rspn) {
              const returnedData = rspn;
              rows.value.splice(0, rows.value.length, ...returnedData);
              loading.value = false;
            });
        });

      // don't forget to update local pagination object
      pagination.value.page = page;
      pagination.value.rowsPerPage = rowsPerPage;
      pagination.value.sortBy = sortBy;
      pagination.value.descending = descending;
    }
    function showDialogVerifyTicket(data) {
      flgShowDialogVerifyTicket.value = !flgShowDialogVerifyTicket.value;
      eventTicketOrderId.value = data.event_ticket_order_id;
      url.value = data.url;
      isPdf.value = data.is_pdf;
      console.log(data);
    }
    function reloadPage() {
      onRequest({
        pagination: pagination.value
      });
      flgShowDialogVerifyTicket.value = !flgShowDialogVerifyTicket.value;
    }
    onMounted(() => {
      onRequest({
        pagination: pagination.value
      });
    });
    return {
      columns,
      eventTicketOrderId,
      flgShowDialogVerifyTicket,
      isPdf,
      rows,
      pagination,
      url,
      keyword,
      loading,
      onRequest,
      reloadPage,
      showDialogVerifyTicket
    };
  }
});
</script>
