<template>
  <q-card style="border-radius:8px;" v-ripple class="my-cards" @click="onClickCard()">
    <q-img :src="event.banner_url" height="27rem" fit="fill">
      <q-badge
        v-if="event.flg_free=='Y'"
        class="absolute"
        style="padding:0.5em"
        rounded
        color="green"
        text-color="white"
      >FREE</q-badge>
    </q-img>
    <q-card-section>
      <div class="row">
        <div class="col-12 flex justify-center"></div>
        <div
          class="col-12 q-pt-sm text-weight-bold text-subtitle1 ellipsis-2-lines"
        >{{event.event_name}}</div>
        <div class="col-12 q-pt-lg">
          <div class="row">
            <div class="col-12 text-weight-light" style="font-size:13px">
              <q-icon name="far fa-building" color="blue" left></q-icon>
              {{event.organizer_name}}
            </div>
          </div>
          <div class="row q-pt-sm">
            <div class="col-12 text-weight-light" style="font-size:13px">
              <q-icon name="fas fa-calendar-day" color="blue" left></q-icon>
              {{event.event_date}}
            </div>
          </div>
          <div class="row q-pt-sm">
            <div class="col-12 text-weight-light" style="font-size:13px">
              <div v-if="event.location_type==1">
                <q-icon name="fas fa-globe" color="blue" left></q-icon>Online
              </div>
              <div v-if="event.location_type==0">
                <q-icon name="fas fa-globe" color="grey-6" left></q-icon>Offline
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row q-pt-md">
        <div class="col-12">
          <q-btn color="blue" label="Beli Tiket" class="full-width" dense unelevated />
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>
<script>
import { useQuasar } from "quasar";
import { defineComponent, ref, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
export default defineComponent({
  props: {
    data: {
      type: Object,
      required: true
    }
  },

  setup(props, { attrs, slots, emit }) {
    const q = useQuasar();
    const route = useRoute();
    const router = useRouter();
    const store = useStore();
    const event = ref(props.data);
    const rating = ref(5);
    const hover = ref(false);

    function interval() {
      setInterval(setTimerDisplay(), 1000);
    }
    function setHovering(isHover) {
      hover.value = isHover;
    }

    function onClickCard() {
      setTimeout(() => {
        toDetailEvent();
      }, 900);
    }

    function toDetailEvent() {
      router.push("/event/" + event.value.event_code);
    }
    watch(
      () => props.data,
      (newParam, oldParam) => {
        event.value = newParam;
      }
    );

    return { event, rating, hover, onClickCard, setHovering };
  }
});
</script>
<style scoped>
.my-cards:hover {
  background-color: rgb(255, 240, 240);
}
</style>
