<template>
  <q-card style="border-radius:8px;" v-ripple class="my-cards" @click="onClickCard()">
    <q-card-section>
      <div class="row">
        <div class="col-12 flex justify-center">
          <q-img :src="event.banner_url">
            <q-badge
              class="absolute"
              style="padding:0.3em"
              rounded
              color="red"
              text-color="white"
            >-18%</q-badge>
            <q-icon class="absolute" size="1.5em" name="far fa-heart" color="red" style="right:0"></q-icon>
          </q-img>
        </div>
        <div class="col-12 q-pt-sm text-weight-bold text-subtitle2 ellipsis">{{event.event_name}}</div>
        <div class="col-12 q-pt-sm">
          <div class="row">
            <div class="col-8">
              <div class="col-12 text-weight-bold text-h6 text-blue">
                <q-icon name="fas fa-globe" :color="event.location_type== 0?'grey-6':'blue'">
                  <q-tooltip :offset="[0,0]" v-if="event.location_type==1">Online</q-tooltip>
                  <q-tooltip :offset="[0,0]" v-if="event.location_type==0">Offline</q-tooltip>
                </q-icon>
              </div>
              <div class="col-12 text-weight-bold text-subtitle2">
                <q-rating
                  v-model="rating"
                  size="1em"
                  color="yellow"
                  icon="star_border"
                  icon-selected="star"
                />
              </div>
            </div>
            <div class="col-4 flex items-center justify-end">
              <q-btn
                @click.stop="onClickCard()"
                size="0.8em"
                class="my-button"
                icon="fas fa-plus"
                round
                :color="(hover ? 'black' : 'green')"
                text-color="white"
                dense
                @mouseover="setHovering(true)"
                @mouseout="setHovering(false)"
              />
            </div>
          </div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>
<script>
import { useQuasar } from "quasar";
import { defineComponent, ref, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
export default defineComponent({
  props: {
    data: {
      type: Object,
      required: true
    }
  },

  setup(props, { attrs, slots, emit }) {
    const q = useQuasar();
    const route = useRoute();
    const router = useRouter();
    const store = useStore();
    const event = ref(props.data);
    const rating = ref(5);
    const hover = ref(false);

    function interval() {
      setInterval(setTimerDisplay(), 1000);
    }
    function setHovering(isHover) {
      hover.value = isHover;
    }

    function onClickCard() {
      setTimeout(() => {
        toDetailEvent();
      }, 900);
    }

    function toDetailEvent() {
      router.push("/event/" + event.value.event_code);
    }
    watch(
      () => props,
      (newParam, oldParam) => {}
    );

    return { event, rating, hover, onClickCard, setHovering };
  }
});
</script>
<style scoped>
.my-cards:hover {
  background-color: rgb(255, 240, 240);
}
</style>
