<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">INVOICE</div>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <div class="row">
        <div class="col text-h6 text-weight-vold ellipsis">{{invoiceProps.event_name}}</div>
      </div>
      <q-separator />
      <div class="row">
        <div class="col">Penyelenggara</div>
        <div class="col">{{invoiceProps.event_organizer}}</div>
      </div>
      <div class="row">
        <div class="col">Atas Nama</div>
        <div class="col">{{invoiceProps.order_name}}</div>
      </div>
      <div class="row">
        <div class="col">Metode Pembayaran</div>
        <div class="col">Bank Transfer</div>
      </div>
      <q-separator />
      <div class="row">
        <div class="col">Harga Tiket</div>
        <div class="col">{{formatCurrency(invoiceProps.ticket_price)}}</div>
      </div>
      <!-- <div class="row">
        <div class="col">Platform Fee</div>
        <div class="col">{{formatCurrency(invoice.platform_fee)}}</div>
      </div>-->
      <div class="row">
        <div class="col">Total</div>
        <div class="col">{{formatCurrency(invoiceProps.total)}}</div>
      </div>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <q-btn class="full-width" label="Bayar Tiket" color="green" @click="orderTicket()"></q-btn>
    </q-card-section>
  </q-card>
</template>
<script>
import { useQuasar } from "quasar";
import { defineComponent, ref, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
export default defineComponent({
  emits: ["successOrder"],
  props: {
    invoice: {
      type: Object,
      required: true
    }
  },

  setup(props, { attrs, slots, emit }) {
    const q = useQuasar();
    const route = useRoute();
    const router = useRouter();
    const store = useStore();
    const invoiceProps = ref(props.invoice);
    function formatCurrency(value = 0) {
      return new Intl.NumberFormat("id-ID", {
        style: "currency",
        currency: "IDR"
      }).format(value);
    }

    function orderTicket() {
      store
        .dispatch("event/orderTicket", {
          param: { event_ticket_id: invoiceProps.value.event_ticket_id }
        })
        .then((rspn) => {
          if (rspn) {
            emit("successOrder");
          }
        });
    }
    watch(
      () => props.invoice,
      (newParam, oldParam) => {
        invoiceProps.value = newParam;
      }
    );

    return { invoiceProps, formatCurrency, orderTicket };
  }
});
</script>
