<template>
  <q-card style="width: 70%">
    <q-form @submit="addDate(date)">
      <q-card-section>
        <div class="text-h6">Add Date</div>
      </q-card-section>

      <q-card-section>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <date-picker
                v-model="date.event_date"
                label="Date (DD/MM/YYYY)"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <time-picker v-model="date.time_from" label="Start Time" />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <time-picker v-model="date.time_to" label="End Time" />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="date.remark"
                label="Date Remark"
                type="textarea"
                lazy-rules="ondemand"
              />
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Close" color="warning" v-close-popup />
        <q-btn flat label="Add" color="positive" type="submit" />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { defineComponent, ref } from "vue";
import { useStore } from "vuex";
import DatePicker from "../DatePicker.vue";
import TimePicker from "../TimePicker.vue";
export default defineComponent({
  components: { TimePicker, DatePicker },
  emits: ["addDate"],
  props: {
    // apartmentIdParam: {
    //   type: Number,
    //   required: true
    // }
  },
  setup(props, { attrs, slots, emit }) {
    const store = useStore();
    const date = ref({
      event_date: store.getters["common/displayDateNow"],
      time_from: "",
      time_to: "",
      remark: "",
    });

    function addDate(date) {
      store
        .dispatch("common/isTimeGreaterThan", {
          time1: date.time_from,
          time2: date.time_to,
        })
        .then(function (rspn) {
          //console.log(rspn);
          if (!rspn) {
            emit("addDate", date);
          } else {
            store.commit("common/showError", {
              msg: "time from must be less than time to",
            });
          }
        });
    }

    return {
      date,
      addDate,
    };
  },
});
</script>
