<template>
  <q-card style="width: 70%">
    <q-form @submit="addLocation(location)">
      <q-card-section>
        <div class="text-h6">Add Location</div>
      </q-card-section>

      <q-card-section>
        <div class="row">
          <q-item class="col-2">
            <q-item-section>
              <q-radio v-model="location.location_type" val="0" label="Offline" />
            </q-item-section>
          </q-item>
          <q-item class="col">
            <q-item-section>
              <q-radio v-model="location.location_type" val="1" label="Online" />
            </q-item-section>
          </q-item>
        </div>

        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                v-if="location.location_type=='0'"
                hide-bottom-space
                outlined
                v-model="location.location_name"
                label="Location Name"
                lazy-rules="ondemand"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Location name must be fill',
                ]"
              />
              <combo-location-online-name
                v-model="location.location_name"
                v-if="location.location_type=='1'"
              />
            </q-item-section>
          </q-item>
        </div>

        <div class="row" v-if="location.location_type == '1'">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="location.location_url"
                label="Location Url"
                lazy-rules="ondemand"
                reverse-fill-mask
                :rules="[
                  (val) =>
                    (val !== null && val !== '') || 'Location Url must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="location.location_description"
                label="Location Description"
                type="textarea"
                lazy-rules="ondemand"
              />
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Close" color="warning" v-close-popup />
        <q-btn flat label="Add" color="positive" type="submit" />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { defineComponent } from "vue";
import ComboLocationOnlineName from "../combo/ComboLocationOnlineName.vue";
export default defineComponent({
  components: { ComboLocationOnlineName },
  name: "AddLocation",
  emits: {},
  methods: {
    addLocation(location) {
      if (location.location_type == 0) {
        location.location_url = "";
      }
      this.$emit("addLocation", location);
    }
  },
  data() {
    return {
      location: {
        location_name: "",
        location_description: "",
        location_type: "1",
        location_url: ""
      }
    };
  }
});
</script>
