<template>

  <q-card style="width: 70%;">
    <q-form @submit="add(session)">
      <q-card-section>
        <div class="text-h6">Add Session</div>
      </q-card-section>

      <q-card-section>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="session.session_name"
                label="Session Name"
                lazy-rules="ondemand"
                :rules="[val => val !== null && val !== '' || 'Session name must be fill']"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="session.session_description"
                label="Session Description"
                type="textarea"
                lazy-rules="ondemand"
                :rules="[val => val !== null && val !== '' || 'Session description must be fill']"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <combo-ticket v-model="session.ticket_list" :param="{eventId:eventId}"/>
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-file
                filled
                bottom-slots
                v-model="session.session_file"
                label="File"
                counter
                clearable
              >
                <template v-slot:prepend>
                  <q-icon
                    name="cloud_upload"
                    @click.stop
                  />
                </template>
                <template v-slot:hint>

                </template>
              </q-file>
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          flat
          label="Close"
          color="warning"
          v-close-popup
        />
        <q-btn
          flat
          label="Add"
          color="positive"
          type="submit"
        />
      </q-card-actions>
    </q-form>
  </q-card>

</template>

<script>
import { defineComponent } from 'vue'
import ComboTicket from '../combo/ComboTicket.vue';
export default defineComponent({
  components: { ComboTicket },
  name: 'AddSession',
  emits: ['add'],
  props:{
    eventId:{
      type: String,
      required: true
    }
  },
  methods: {
    add (session) {
      this.$emit('add', session);

    }
  },
  data () {
    return {
      session: {
        session_name: "", session_description: "", session_file: null,ticket_list:[]
      },
    }
  },
})
</script>
