<template>

  <q-card style="width: 70%;">
    <q-form @submit="addSpeaker(speaker)">
      <q-card-section>
        <div class="text-h6">Add Speaker</div>
      </q-card-section>

      <q-card-section>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                :ref="ref.speaker_name"
                hide-bottom-space
                outlined
                v-model="speaker.speaker_name"
                label="Speaker Name"
                lazy-rules="ondemand"
                :rules="[val => val !== null && val !== '' || 'Speaker name must be fill']"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="speaker.speaker_description"
                label="Speaker Description"
                type="textarea"
                lazy-rules="ondemand"
                :rules="[val => val !== null && val !== '' || 'Speaker description must be fill']"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-file
                filled
                bottom-slots
                v-model="speaker.speaker_photo"
                label="Photo"
                counter
                clearable
              >
                <template v-slot:prepend>
                  <q-icon
                    name="cloud_upload"
                    @click.stop
                  />
                </template>
                <template v-slot:hint>

                </template>
              </q-file>
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          flat
          label="Close"
          color="warning"
          v-close-popup
        />
        <q-btn
          flat
          label="Add"
          color="positive"
          type="submit"
        />
      </q-card-actions>
    </q-form>
  </q-card>

</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'AddSpeaker',
  emits: {

  },
  methods: {
    addSpeaker (speaker) {
      this.$emit('addSpeaker', speaker);

    }
  },
  data () {
    return {
      speaker: {
        speaker_name: "", speaker_description: "", speaker_photo: null,
      },
      ref: {
        speaker_name: "test", speaker_description: "test"
      }
    }
  },
})
</script>