<template>
  <q-card style="width: 70%">
    <q-form @submit="addTicket(ticket)">
      <q-card-section>
        <div class="text-h6">Add Ticket</div>
      </q-card-section>

      <q-card-section>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="ticket.ticket_name"
                label="Ticket Name"
                lazy-rules="ondemand"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') || 'Ticket name must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-6">
            <q-item-section>
              <date-picker label="Date From" v-model="ticket.date_from" />
            </q-item-section>
          </q-item>
          <q-item class="col-6">
            <q-item-section>
              <date-picker label="Date To" v-model="ticket.date_to" />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hint="-99 For Unlimited"
                outlined
                v-model="ticket.quota"
                label="Ticket Quota"
                lazy-rules="ondemand"
                mask="#"
                fill-mask="0"
                type="number"
                reverse-fill-mask
                :rules="[
                  (val) =>
                    (val !== null && val !== '') || 'Ticket quota must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="ticket.ticket_price"
                label="Ticket Price"
                lazy-rules="ondemand"
                mask="#"
                fill-mask="0"
                reverse-fill-mask
                :rules="[
                  (val) =>
                    (val !== null && val !== '') || 'Ticket price must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>

        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="ticket.ticket_description"
                label="Ticket Description"
                type="textarea"
                lazy-rules="ondemand"
              />
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Close" color="warning" v-close-popup />
        <q-btn flat label="Add" color="positive" type="submit" />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { defineComponent, ref } from "vue";
import DatePicker from "../DatePicker.vue";
import { useStore } from "vuex";
export default defineComponent({
  components: { DatePicker },
  name: "AddTicket",
  emits: {},
  methods: {
    addTicket(ticket) {
      this.$emit("addTicket", ticket);
    },
    formatCurrency(value = 0) {
      return new Intl.NumberFormat("id-ID", {
        style: "currency",
        currency: "IDR"
      }).format(value);
    }
  },
  setup() {
    const store = useStore();
    const ticket = ref({
      ticket_name: "",
      ticket_description: "",
      ticket_price: 0,
      quota: 0,
      date_from: store.getters["common/displayDateNow"],
      date_to: store.getters["common/displayDateNow"]
    });
    return { ticket };
  },
  data() {
    return {};
  }
});
</script>
