<template>
  <q-card style="width: 90%">
    <q-card-section class="text-h6 text-weight-bolder">
      ORDER TICKET
    </q-card-section>
    <q-separator />
    <q-card-section class="q-pb-xs">
      <div class="row">
        <q-item class="col-12">
          <q-item-section>
            <q-select
              class="bg-grey-2"
              outlined
              v-model="selectedItem"
              input-debounce="300"
              label="Select Ticket"
              :options="options"
              :option-label="opt => Object(opt) === opt && 'ticket_name' in opt && 'ticket_price' in opt ? opt.ticket_name +' - '+ opt.ticket_price : null"
              :option-value="opt => Object(opt) === opt && 'event_ticket_id' in opt ? opt.event_ticket_id : ''"
            >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">No results</q-item-section>
                </q-item>
              </template>
            </q-select>
          </q-item-section>
        </q-item>
      </div>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <q-item>
        <q-item-section class="text-weight-bolder">
          Ticket Name
        </q-item-section>
        <q-item-section>
          {{selectedItem.ticket_name}}
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section class="text-weight-bolder">
          Ticket Price
        </q-item-section>
        <q-item-section>
          {{selectedItem.ticket_price}}
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section class="text-weight-bolder">
          Qty
        </q-item-section>
        <q-item-section>
          1
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section class="text-weight-bolder">
          Status
        </q-item-section>
        <q-item-section>
          {{selectedItem.status}}
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section class="text-weight-bolder">
          Remain Tiket
        </q-item-section>
        <q-item-section>
          {{selectedItem.remain_ticket}}
        </q-item-section>
      </q-item>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <q-item>
        <q-item-section>
          <q-btn
            label="Order"
            color="positive"
            @click="buyTicket"
          />
        </q-item-section>
        <q-item-section>
          <q-btn
            label="Cancel"
            color="warning"
            v-close-popup
          />
        </q-item-section>
      </q-item>
    </q-card-section>
  </q-card>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { useQuasar } from 'quasar';
import { useStore } from 'vuex';
export default defineComponent({
  name: "BuyTicketCard",
  emits: [""],
  props: {
    event_code: { type: String, default: "" }
  },
  setup (props, { attrs, slots, emit }) {
    console.log(props);
    const store = useStore();
    const $q = useQuasar();
    const options = ref([]);
    const selectedItem = ref([]);
    function getTicketListForBuy () {
      store
        .dispatch("event/getTicketListForBuy", {
          param: { event_code: props.event_code }
        })
        .then(function (rspn) {
          options.value = rspn;
          if (options.value.length > 0) {
            selectedItem.value = options.value[0];
          }
        });

    };

    onMounted(() => {
      // get initial data from server (1st page)
      getTicketListForBuy();
    });
    function buyTicket () {
      if (null == selectedItem.value.event_ticket_id) {
        $q.notify({
          position: "top-right",
          type: "warning",
          color: "warning",
          textColor: "white",
          icon: "warning",
          message: "Please Choose Ticket",
          closeBtn: "x",
        });
      } else {
        store
          .dispatch("event/orderTicket", {
            param: { event_ticket_id: selectedItem.value.event_ticket_id }
          })
          .then(function (rspn) {

          });
      }
    };
    return {
      options, selectedItem, buyTicket
    }
  },
  methods: {
    display_date (date_from, date_to) {
      if (date_from == date_to) {
        return date_from;
      } else {
        return date_from + "-" + date_to;
      }
    }
  },
  data () {
    return {
      ticket: {
        ticket_name: "",
        ticket_description: "",
        ticket_price: 0
      }
    };
  }
});
</script>
