<template>
  <q-card>
    <q-img :src="banner_url"></q-img>
    <q-separator />
    <q-card-section>
      <q-item>
        <q-item-section>
          <div class="text-h3 text-weight-bolder text-green-10">{{event_name}}</div>
          <div class="text-caption text-green-5">{{event_category}}</div>
        </q-item-section>
      </q-item>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <q-item>
        <q-item-section>
          <div class="row">
            <div class="column text-subtitle2 text-weight-bolder text-green-10">Date And Time</div>
          </div>
          <div class="row">
            <div class="column-1">
              <q-icon name="far fa-calendar-alt" left right />
            </div>
            <div class="column">{{date_from}} s/d {{date_to}}</div>
          </div>
          <div class="row">
            <div class="column-1">
              <q-icon name="far fa-clock" left right />
            </div>
            <div class="column">{{time_from}} - {{time_to}} WIB</div>
          </div>
        </q-item-section>
        <q-item-section>
          <div class="row">
            <div class="column text-subtitle2 text-weight-bolder text-green-10">
              <div>Location</div>
            </div>
          </div>
          <div class="row">
            <div class="column-1">
              <q-icon name="fas fa-map-marked-alt" left right />
            </div>
            <div class="column">{{location_type}}</div>
          </div>
        </q-item-section>
      </q-item>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <q-item>
        <q-item-section v-html="event_description"></q-item-section>
      </q-item>
    </q-card-section>
  </q-card>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "CardDetailEvent",
  emits: {},
  props: {
    banner_url: { type: String, default: "" },
    event_category: { type: String, default: "" },
    event_name: { type: String, default: "" },
    event_description: { type: String, default: "" },
    event_banner: { type: String, default: "" },
    date_from: { type: String, default: "" },
    date_to: { type: String, default: "" },
    time_from: { type: String, default: "" },
    time_to: { type: String, default: "" },
    //event_tenant: { type: BigInt, default: -99 },
    event_code: { type: String, default: "" },
    location_type: { type: String, default: "" }
    //event_id: { type: BigInt, default: -99 },
  },
  methods: {
    display_date(date_from, date_to) {
      if (date_from == date_to) {
        return date_from;
      } else {
        return date_from + "-" + date_to;
      }
    }
  },
  data() {
    return {
      ticket: {
        ticket_name: "",
        ticket_description: "",
        ticket_price: 0
      }
    };
  }
});
</script>
<style scoped></style>
