<template>
  <q-card style="width: 70%;">
    <q-form @submit="edit(session)">
      <q-card-section>
        <div class="text-h6">Edit Session</div>
      </q-card-section>

      <q-card-section>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="session.session_name"
                label="Session Name"
                lazy-rules="ondemand"
                :rules="[val => val !== null && val !== '' || 'Session name must be fill']"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="session.session_description"
                label="Session Description"
                type="textarea"
                lazy-rules="ondemand"
                :rules="[val => val !== null && val !== '' || 'Session description must be fill']"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              {{session.event_id}}
              <combo-ticket v-model="session.ticket_list" :param="{eventId:session.event_id}" />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-file
                filled
                bottom-slots
                v-model="session.session_file"
                label="File"
                counter
                clearable
              >
                <template v-slot:prepend>
                  <q-icon name="cloud_upload" @click.stop />
                </template>
                <template v-slot:hint></template>
              </q-file>
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Close" color="warning" v-close-popup />
        <q-btn flat label="Add" color="positive" type="submit" />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { watchEffect, defineComponent, ref, onMounted } from "vue";
import ComboTicket from "../combo/ComboTicket.vue";
import { useStore } from "vuex";
export default defineComponent({
  components: { ComboTicket },
  name: "EditSession",
  emits: ["edit"],
  props: {
    eventSessionId: {
      type: Number,
      required: true
    }
  },
  methods: {
    edit(session) {
      this.$emit("edit", session);
    }
  },
  setup(props) {
    const store = useStore();
    const session = ref({});
    function getData() {
      store
        .dispatch("event/findEventSessionById", {
          param: { event_session_id: props.eventSessionId }
        })
        .then(function (rspn) {
          session.value = rspn;
        });
    }
    onMounted(() => {
      getData();
    });
    return { session };
  },

});
</script>
