<template>
  <q-card style="width: 70%">
    <q-form @submit="editDate(date)">
      <q-card-section>
        <div class="text-h6">Edit Date</div>
      </q-card-section>

      <q-card-section>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input v-model="date.event_date" outlined readonly />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <time-picker v-model="date.time_from" label="Start Time" />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <time-picker v-model="date.time_to" label="End Time" />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="date.remark"
                label="Date Remark"
                type="textarea"
                lazy-rules="ondemand"
              />
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Close" color="warning" v-close-popup />
        <q-btn flat label="Save" color="positive" type="submit" />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { defineComponent, ref, onMounted } from "vue";
import { date as dateQuasar } from "quasar";
import { useStore } from "vuex";
import TimePicker from "../TimePicker.vue";
export default defineComponent({
  components: { TimePicker },
  emits: ["editDate"],
  props: {
    eventDateId: {
      type: Number,
      required: true,
    },
  },
  setup(props, { attrs, slots, emit }) {
    const store = useStore();
    const eventDateIdParam = ref(props.eventDateId);
    const date = ref({
      event_date: "",
      time_from: "",
      time_to: "",
      remark: "",
    });

    onMounted(() => {
      getData();
    });

    function getData() {
      store
        .dispatch("event/findEventDateById", {
          param: { event_date_id: props.eventDateId },
        })
        .then(function (rspn) {
          date.value = rspn;
          date.value.event_date = dateQuasar.formatDate(
            new Date(date.value.event_date),
            "DD-MM-YYYY"
          );
        });
    }

    function editDate(date) {
      store
        .dispatch("common/isTimeGreaterThan", {
          time1: date.time_from,
          time2: date.time_to,
        })
        .then(function (rspn) {
          //console.log(rspn);
          if (!rspn) {
            emit("editDate", date);
          } else {
            store.commit("common/showError", {
              msg: "time from must be less than time to",
            });
          }
        });
    }

    return {
      date,
      editDate,
    };
  },
});
</script>
