<template>

  <q-card style="width: 70%;">
    <q-form @submit="editSpeaker(model)">
      <q-card-section>
        <div class="text-h6">Edit Speaker</div>
      </q-card-section>

      <q-card-section>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="model.speaker_name"
                label="Speaker Name"
                lazy-rules="ondemand"
                :rules="[val => val !== null && val !== '' || 'Speaker name must be fill']"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="model.speaker_description"
                label="Speaker Description"
                type="textarea"
                lazy-rules="ondemand"
                :rules="[val => val !== null && val !== '' || 'Speaker description must be fill']"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-file
                filled
                bottom-slots
                v-model="model.speaker_photo"
                label="Photo"
                counter
                clearable
              >
                <template v-slot:prepend>
                  <q-icon
                    name="cloud_upload"
                    @click.stop
                  />
                </template>
                <template v-slot:hint>

                </template>
              </q-file>
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          flat
          label="Close"
          color="warning"
          v-close-popup
        />
        <q-btn
          flat
          label="Save"
          color="positive"
          type="submit"
        />
      </q-card-actions>
    </q-form>
  </q-card>

</template>

<script>
import { defineComponent, ref, toRef, onMounted } from "vue";
import { useStore } from "vuex";
export default defineComponent({
  name: 'EditSpeaker',
  emits: ["editSpeaker"],
  methods: {
    editSpeaker (model) {
      this.$emit('editSpeaker', model);

    }
  },
  props: {
    eventSpeakerId: {
      required: true,
      type: Number
    }
  },
  setup (props, { }) {
    const store = useStore();
    const model = ref({});
    function getData () {
      store.dispatch("event/findEventSpeakerById", { param: { event_speaker_id: props.eventSpeakerId } }).then(function (rspn) {
        model.value = rspn;
      });
    };
    onMounted(() => {
      getData();
    });
    return { model }
  }
})
</script>
