<template>
  <q-card>
    <q-card-section class="text-h6">UPLOAD PAYMENT</q-card-section>
    <q-separator />
    <q-card-section>
      <p>For payment please transfer to BCA ACOUNT : JONI JONSON - 1234567890</p>
      <p>Upload your proof of payment here</p>
      <q-file
        outlined
        use-chips
        bottom-slots
        v-model="data.document"
        label="Upload Document Payment"
        counter
        clearable
        accept=".pdf, image/jpeg, .png"
      >
        <template v-slot:prepend>
          <q-icon name="cloud_upload" @click.stop />
        </template>
        <template v-slot:hint></template>
      </q-file>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <q-item>
        <q-item-section>
          <q-btn color="positive" label="Upload" @click.prevent="onUploadPaymentSubmit" />
        </q-item-section>
        <q-item-section>
          <q-btn color="warning" label="Cancel" v-close-popup />
        </q-item-section>
      </q-item>
    </q-card-section>
  </q-card>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { useStore } from "vuex";
import { useRoute } from "vue-router";
import { useQuasar } from "quasar";
export default defineComponent({
  name: "UploadPaymentCard",
  emits: ["reloadPage"],
  props: {
    eventTicketOrderId: { type: Number, default: -99 }
  },
  setup(props, { emit }) {
    const data = ref({
      event_ticket_order_id: props.eventTicketOrderId,
      document: null
    });
    const $q = useQuasar();
    const store = useStore();
    function onUploadPaymentSubmit() {
      if (null != data.value.document) {
        store
          .dispatch("event/uploadPayment", { param: data.value })
          .then(function (rspn) {
            if (rspn) {
              emit("reloadPage");
            }
          });
      } else {
        $q.notify({
          position: "top-right",
          type: "warning",
          color: "warning",
          textColor: "white",
          icon: "warning",
          message: "Please Choose Document",
          closeBtn: "x"
        });
      }
    }
    return { data, onUploadPaymentSubmit };
  }
});
</script>
