<template>
  <q-card style="width:100%">
    <q-card-section class="text-h6">
      Verify Ticket
    </q-card-section>
    <q-separator />
    <q-card-section>
      <p>Document :</p>
      <q-img
        v-if="!isPdf"
        :src="url"
      />
      <a
        v-if="isPdf"
        :href="url"
        class="btn"
        target="_blank"
      >Download Document</a>
    </q-card-section>
    <q-card-section>
      <q-input
        hide-bottom-space
        outlined
        v-model="data.remark"
        label="Catatan"
        lazy-rules="ondemand"
      />
    </q-card-section>
    <q-separator />
    <q-card-section>
      <q-item>
        <q-item-section>
          <q-btn
            color="positive"
            label="Accept"
            @click.prevent="onVerifyTicketSubmit('20')"
          />
        </q-item-section>
        <q-item-section>
          <q-btn
            color="blue"
            label="Reupload"
            @click.prevent="onVerifyTicketSubmit('00')"
          />
        </q-item-section>
        <q-item-section>
          <q-btn
            color="red"
            label="Reject"
            @click.prevent="onVerifyTicketSubmit('30')"
          />
        </q-item-section>
        <q-item-section>
          <q-btn
            color="warning"
            label="Cancel"
            v-close-popup
          />
        </q-item-section>
      </q-item>

    </q-card-section>
  </q-card>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { useQuasar } from "quasar";
export default defineComponent({
  name: "VerifyTicketCard",
  emits: ["reloadPage"],
  props: {
    eventTicketOrderId: { type: Number, default: -99 },
    url: { type: String, default: "" },
    isPdf: { type: Boolean, default: false },
  },
  setup (props, { emit }) {
    const data = ref({ event_ticket_order_id: props.eventTicketOrderId, remark: "" });
    const $q = useQuasar();
    const store = useStore();
    function onVerifyTicketSubmit (action) {
      store.dispatch("event/verifyPayment", {
        param: {
          event_ticket_order_id: props.eventTicketOrderId,
          action: action,
          remark: data.value.remark
        }
      }).then(function (rspn) {
        if (rspn) {
          emit("reloadPage");
        }
      });
    }
    return { data, onVerifyTicketSubmit, }
  }
})
</script>
