<template>
  <q-page>
    <div class="row flex bg-white q-pb-lg">
      <div class="col-12">
        <div class="row justify-center">
          <div
            class="q-pl-md q-mb-lg q-mt-lg col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 text-h5 text-weight-medium text-blue-grey-10"
          >{{dataEvent.event_name}}</div>
        </div>
        <div class="row justify-center">
          <div class="q-pl-md q-pr-md q-pb-md col-xl-2 col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <q-img
              :src="dataEvent.banner_url"
              style="border-radius:1em 1em 1em 1em;"
              fit="fill"
              height="30rem"
              no-native-menu
            ></q-img>
          </div>
          <div class="q-pl-md q-pr-md col-xl-6 col-lg-5 col-md-6 col-sm-12 col-xs-12">
            <div class="row q-pb-md">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-blue-grey-10">
                <div class="row">
                  <div class="col text-subtitle1 text-weight-bold">Penyelenggara</div>
                </div>
                <div class="row">
                  <div style="font-size: 13px;" class="col text-body2 text-weight-light">
                    <a
                      class="text-dark text-weight-medium"
                      :href="'/eventByOrganizer/'+dataEvent.organizer_name"
                    >{{dataEvent.organizer_name}}</a>
                  </div>
                </div>
              </div>
              <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-subtitle1 text-weight-bold text-blue-grey-10"
              >
                <div class="row">
                  <div class="col text-subtitle1 text-weight-bold">Kategori</div>
                </div>
                <div class="row">
                  <div
                    style="font-size: 13px;"
                    class="col text-body2 text-weight-light"
                  >{{dataEvent.event_category}}</div>
                </div>
              </div>
            </div>
            <div class="row q-pb-lg">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-blue-grey-10">
                <div class="row">
                  <div class="col text-subtitle1 text-weight-bold">Lokasi</div>
                </div>
                <div class="row">
                  <div style="font-size: 13px;" class="col text-body2 text-weight-light">
                    <q-icon name="fas fa-globe" left />
                    {{dataEvent.location_type}}
                  </div>
                </div>
              </div>
              <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-subtitle1 text-weight-bold text-blue-grey-10"
              >
                <div class="row">
                  <div class="col text-subtitle1 text-weight-bold">Waktu</div>
                </div>
                <div
                  class="row"
                  v-for="eventDate in dataEvent.dateList"
                  :key="eventDate.event_date"
                >
                  <div style="font-size: 13px;" class="col text-body2 text-weight-light">
                    <div class="row">
                      <div class="col-6">
                        <q-icon name="far fa-calendar-alt" left />
                        {{eventDate.event_date}}
                      </div>
                      <div class="col-6 text-left">
                        <q-icon name="far fa-clock" left />
                        {{eventDate.time_from}} - {{eventDate.time_to}} WIB
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <q-card>
              <q-tabs
                v-model="detailEventTab"
                dense
                class="text-grey"
                active-color="primary"
                indicator-color="primary"
                align="justify"
                narrow-indicator
              >
                <q-tab
                  name="description"
                  label="Deskripsi"
                  :class="detailEventTab=='description'?'bg-blue  text-white':'text-dark' "
                />
                <q-tab
                  name="ticket"
                  label="Tiket"
                  :class="detailEventTab=='ticket'?'bg-blue text-white':'text-dark' "
                />
              </q-tabs>

              <q-separator />

              <q-tab-panels v-model="detailEventTab" animated>
                <q-tab-panel name="description">
                  <div v-html="dataEvent.event_description"></div>
                </q-tab-panel>

                <q-tab-panel name="ticket">
                  <div
                    v-for="ticket in dataEvent.ticketList"
                    :key="ticket.ticket_id"
                    class="q-pb-lg"
                  >
                    <q-card>
                      <q-card-section>
                        <div class="row">
                          <div class="col text-h5 text-weight-medium">{{ticket.ticket_name}}</div>
                        </div>
                        <div class="row">
                          <div class="col">{{ticket.ticket_description}}</div>
                        </div>
                      </q-card-section>
                      <q-separator />
                      <q-card-section>
                        <div class="row">
                          <div class="col text-h6 text-weight-bold text-grey">Harga</div>
                        </div>
                        <div class="row">
                          <div
                            class="col-8 text-h5 text-weight-bold"
                          >{{formatCurrency(ticket.ticket_price)}}</div>
                          <div class="col-4">
                            <q-btn
                              icon="fas fa-minus-circle"
                              class="float-right"
                              rounded
                              color="blue"
                              label="SELECT"
                              v-if="ticket.event_ticket_id != selectedTicketId"
                              @click="selectTicket(ticket.event_ticket_id, ticket.ticket_price)"
                            ></q-btn>
                            <q-btn
                              icon="far fa-check-circle"
                              class="float-right"
                              rounded
                              color="green"
                              label="SELECTED"
                              v-if="ticket.event_ticket_id == selectedTicketId"
                            ></q-btn>
                          </div>
                        </div>
                      </q-card-section>
                    </q-card>
                  </div>
                </q-tab-panel>
              </q-tab-panels>
            </q-card>
          </div>
        </div>
      </div>
    </div>
    <q-space />
    <div class="row justify-center q-pa-xl">
      <div class="col-10 justify-center">
        <q-space />
        <!-- <card-detail-event v-bind="dataEvent" /> -->
      </div>
    </div>
    <q-page-sticky expand position="bottom">
      <q-toolbar class="bg-grey-2 text-white">
        <q-toolbar-title>
          <div class="row flex">
            <div class="col-12">
              <div class="row justify-center">
                <div
                  class="gt-sm q-pt-lg q-pb-lg q-pr-lg col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 text-h6 text-weight-medium text-blue-grey-10 ellipsis"
                >{{dataEvent.event_name}}</div>
                <div
                  class="q-pl-lg q-pt-lg q-pb-lg q-pr-lg col-xl-2 col-lg-2 col-md-2 col-sm-7 col-xs-7 text-h6 text-weight-medium text-blue-grey-10"
                >Subtotal : {{formatCurrency(subtotal)}}</div>
                <div
                  class="q-pt-lg q-pb-lg q-pl-lg col-xl-3 col-lg-3 col-md-4 col-sm-5 col-xs-5 text-h5 text-weight-medium text-blue-grey-10"
                >
                  <q-btn
                    icon="shopping_cart"
                    color="red-9"
                    label="Beli Tiket"
                    class="q-pl-md q-pr-md q-pt-sm q-pb-sm float-right"
                    @click="showDialogBuyTicket()"
                  />
                </div>
              </div>
            </div>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-page-sticky>
  </q-page>
  <q-dialog v-model="flgDialogBuyTicket">
    <invoice-card :invoice="invoice" @successOrder="successOrder" />
  </q-dialog>
</template>
<script>
import { ref, defineComponent, onMounted } from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";
import CardDetailEvent from "src/components/event/CardDetailEvent.vue";
import { useRoute, useRouter } from "vue-router";
import InvoiceCard from "src/components/Card/InvoiceCard.vue";

console.log(this);
export default defineComponent({
  components: { InvoiceCard },
  emit: ["flgDialogBuyTicket"],
  name: "DetailEvent",
  methods: {
    methods() {
      console.log("aasdfasdfa");
    }
  },
  setup(props, { emit }) {
    const $q = useQuasar();
    const route = useRoute();
    const router = useRouter();
    const store = useStore();
    const detailEventTab = ref("description");
    const dataEvent = ref({});
    const flgDialogBuyTicket = ref(false);
    const selectedTicketId = ref(-99);
    const invoice = ref({});
    const subtotal = ref(0);
    function getDetailEvent() {
      store
        .dispatch("event/getDetailEvent", {
          param: { event_code: route.params.eventCode }
        })
        .then(function (rspn) {
          dataEvent.value = rspn;
        });
    }
    function showDialogBuyTicket() {
      if (!$q.cookies.has("token")) {
        router.replace("/login");
        return;
      }
      if (selectedTicketId.value == -99) {
        detailEventTab.value = "ticket";
        return;
      }
      invoice.value.event_ticket_id = selectedTicketId.value;
      invoice.value.event_name = dataEvent.value.event_name;
      invoice.value.event_organizer = dataEvent.value.event_organizer;
      const displayName = store.getters["auth/displayName"];

      invoice.value.order_name = displayName;
      invoice.value.ticket_price = subtotal.value;
      invoice.value.platform_fee = dataEvent.value.platform_fee;
      invoice.value.total = subtotal.value + dataEvent.value.platform_fee;
      flgDialogBuyTicket.value = !flgDialogBuyTicket.value;
    }
    function formatCurrency(value = 0) {
      return new Intl.NumberFormat("id-ID", {
        style: "currency",
        currency: "IDR"
      }).format(value);
    }
    function selectTicket(ticketId, ticketPrice) {
      selectedTicketId.value = ticketId;
      subtotal.value = ticketPrice;
    }
    function successOrder() {
      flgDialogBuyTicket.value = !flgDialogBuyTicket.value;
    }
    onMounted(() => {
      // get initial data from server (1st page) eventCode
      getDetailEvent();
    });
    return {
      dataEvent,
      detailEventTab,
      flgDialogBuyTicket,
      selectedTicketId,
      subtotal,
      invoice,
      formatCurrency,
      selectTicket,
      showDialogBuyTicket,
      successOrder
    };
  }
});
</script>
