<template>
  <q-page>
    <div class="row">
      <div class="col bg-white">
        <q-img
          :src="dataEvent.banner_url"
          style="border-radius:0em 0em 10em 0em;"
          fit="fill"
          height="35rem"
          no-native-menu
        ></q-img>
      </div>
    </div>
    <div class="row flex">
      <div
        class="col-12 bg-white"
        style="border:1px solid; border-color: #e7e9f5;border-radius:0em 0em 0em 0em;"
      >
        <div class="row justify-center">
          <div
            class="q-mt-lg col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 text-h5 text-weight-medium text-blue-grey-10"
          >{{dataEvent.event_name}}</div>
          <div
            class="q-mt-xs col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 text-subtitle2 text-red-6"
          >{{dataEvent.event_category}}</div>
          <div class="q-mt-md col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-6">
                <q-icon name="fas fa-globe" left />
                {{dataEvent.location_type}}
              </div>
            </div>
          </div>
          <div class="q-mt-xs q-mb-md col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-6">
                <q-icon name="far fa-calendar-alt" left />
                {{dataEvent.date_from}} s/d {{dataEvent.date_to}}
              </div>
              <div class="col-6 text-right">
                <q-icon name="far fa-clock" left right />
                {{dataEvent.time_from}} - {{dataEvent.time_to}} WIB
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <q-space />
    <div class="row flex">
      <div
        class="col-12 q-pt-md q-mb-lg"
        style="border:1px solid; border-color: #e7e9f5;border-radius:0em 0em 0em 0em;"
      >
        <div class="row justify-center bg-white">
          <div
            class="q-mt-lg q-mb-lg col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 text-body1 text-blue-grey-10"
            v-html="dataEvent.event_description"
          ></div>
        </div>
      </div>
    </div>
    <div class="row justify-center q-pa-md">
      <div class="col-10 justify-center">
        <!-- <card-detail-event v-bind="dataEvent" /> -->
      </div>
    </div>
    <q-page-sticky position="bottom" :offset="[0, 10]">
      <q-btn
        icon="shopping_cart"
        color="red-9"
        label="Order Ticket"
        class="q-pl-md q-pr-md q-pt-sm q-pb-sm"
      />
    </q-page-sticky>
  </q-page>
  <q-dialog v-model="flgDialogBuyTicket"></q-dialog>
</template>
<script>
import { ref, defineComponent, onMounted } from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";
import CardDetailEvent from "src/components/event/CardDetailEvent.vue";
import { useRoute } from "vue-router";

console.log(this);
export default defineComponent({
  components: {},
  emit: ["flgDialogBuyTicket"],
  name: "DetailEvent",
  methods: {
    methods() {
      console.log("aasdfasdfa");
    }
  },
  setup(props, { emit }) {
    const $q = useQuasar();
    const route = useRoute();
    const store = useStore();
    const dataEvent = ref({});
    const flgDialogBuyTicket = ref(false);
    function getDetailEvent() {
      store
        .dispatch("event/getDetailEvent", {
          param: { event_code: route.params.eventCode }
        })
        .then(function (rspn) {
          dataEvent.value = rspn;
        });
    }
    function showDialogBuyTicket() {
      flgDialogBuyTicket.value = !flgDialogBuyTicket.value;
    }
    onMounted(() => {
      // get initial data from server (1st page) eventCode
      getDetailEvent();
    });
    return {
      dataEvent,
      flgDialogBuyTicket,
      showDialogBuyTicket
    };
  }
});
</script>
