<template>
  <q-layout>
    <q-page class="flex bg-image flex-center">
      <q-card
        v-bind:style="$q.screen.lt.sm?{'width': '80%'}:
      $q.screen.lt.md?{'width':'50%'}:$q.screen.lt.lg?{'width':'28%'}:{'width':'28%'}"
      >
        <q-card-section>
          <div class="q-pt-lg">
            <div class="col text-h6">Email Not Verified Yet</div>
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <div class="row">
            <div class="col">Please Check Your Email</div>
          </div>
        </q-card-section>

        <q-card-section>
          <q-form class="q-gutter-md" @submit="onSubmit">
            <div class="q-gutter-sm">
              <q-btn label="Resent Email Verification" type="submit" color="positive" />
              <q-btn label="Logout" color="red" @click="logout" />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-page>
  </q-layout>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { useQuasar, Loading } from "quasar";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

export default {
  name: "Login",
  setup() {
    const q = useQuasar();
    const router = useRouter();
    const email = ref("");
    const password = ref("");
    const store = useStore();

    onMounted(() => {
      if (q.cookies.has("token")) {
      }
    });
    function onSubmit() {
      store
        .dispatch("user/sendVerificationEmail", {
          param: { email: email.value, password: password.value }
        })
        .then(function () {
          //this.$router.push("/dashboard");
        });
    }
    function logout() {
      store
        .dispatch("auth/logout", {
          param: { email: email.value, password: password.value }
        })
        .then(function () {
          //this.$router.push("/dashboard");
        });
    }
    return {
      email,
      password,
      logout,
      onSubmit
    };
  }
};
</script>

<style>
.bg-image {
  background-image: linear-gradient(135deg, #0d1c5e 0%, #539da0 100%);
}
</style>
