<template>
  <q-layout>
    <q-page class="flex bg-image flex-center">
      <q-card
        v-bind:style="$q.screen.lt.sm?{'width': '80%'}:
      $q.screen.lt.md?{'width':'50%'}:$q.screen.lt.lg?{'width':'28%'}:{'width':'28%'}"
      >
        <q-card-section class></q-card-section>
        <!-- <q-separator /> -->
        <q-card-section>
          <div class="text-center q-pt-sm">
            <div class="col text-h6">Fail Activate Account</div>
            <div class="col">{{message}}</div>
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-btn label="Login" to="/login" color="blue" />
        </q-card-section>
      </q-card>
    </q-page>
  </q-layout>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { useQuasar, Loading } from "quasar";
import { useStore } from "vuex";
import { useRouter, useRoute } from "vue-router";

export default {
  name: "Login",
  setup() {
    const q = useQuasar();
    const router = useRouter();
    const route = useRoute();
    const email = ref("");
    const password = ref("");
    const store = useStore();
    const message = ref(route.params.param);

    onMounted(() => {
      if (q.cookies.has("token")) {
        //router.replace("/dashboard");
      }
    });
    return {
      message
    };
  }
};
</script>

<style>
.bg-image {
  background-image: linear-gradient(135deg, #0d1c5e 0%, #539da0 100%);
}
</style>
