<template>
  <q-page>
    <q-carousel
      animated
      v-model="slide"
      navigation
      infinite
      :autoplay="autoplay"
      arrows
      swipeable
      transition-prev="slide-right"
      transition-next="slide-left"
      @mouseenter="autoplay = false"
      @mouseleave="autoplay = true"
      height="15rem"
    >
      <q-carousel-slide :name="1" img-src="https://cdn.quasar.dev/img/mountains.jpg" />
      <q-carousel-slide :name="2" img-src="https://cdn.quasar.dev/img/parallax1.jpg" />
      <q-carousel-slide :name="3" img-src="https://cdn.quasar.dev/img/parallax2.jpg" />
      <q-carousel-slide :name="4" img-src="https://cdn.quasar.dev/img/quasar.jpg" />
    </q-carousel>
    <div class="row" style="min-height:3rem"></div>
    <div class="row flex justify-center">
      <div class="col-9 q-pa-md">
        <div class="row flex">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-lg">
            <div class="text-h6 text-weight-bolder">Featured Event</div>
            <q-card>
              <q-img :src="featuredEvent.banner_url" height="220px"></q-img>
              <q-separator />
              <q-card-section>
                <div class="text-subtitle2 q-pb-md">{{featuredEvent.event_name}}</div>
                <div class="text-body2 q-pb-md">{{featuredEvent.event_description}}</div>
                <div>
                  <q-btn
                    label="Beli"
                    color="light-blue-6"
                    :to="'/event/'+featuredEvent.event_code"
                  />
                </div>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-lg">
            <div class="text-h6 text-weight-bolder">Top Selling</div>
            <q-card></q-card>
            <q-list bordered padding class="bg-white">
              <div v-for="(event,index) in topSellingEvent" :key="event">
                <q-separator v-if="index > 0" />
                <q-item>
                  <q-item-section top thumbnail>
                    <q-avatar square size="5rem" class="q-pl-sm">
                      <img :src="event.banner_url" />
                    </q-avatar>
                  </q-item-section>
                  <q-item-section no-wrap>
                    <q-item-label
                      class="text-subtitle1 text-weight-bolder q-pr-xs q-pb-xs"
                    >{{event.event_name}}</q-item-label>
                    <q-item-label class="text-body2">
                      <q-icon name="far fa-clock" left right />
                      {{event.date_from}} - {{event.date_to}}
                    </q-item-label>
                    <q-item-label class="text-body2">
                      <q-icon name="fa fa-map" left right />
                      {{event.location}}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section thumbnail>
                    <q-item-label class="text-body2 q-pr-sm">
                      <q-btn
                        label="Beli"
                        color="light-blue-6"
                        stretch
                        :to="'/event/'+event.event_code"
                      />
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </q-list>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="min-height:3rem"></div>
    <div class="row flex justify-center bg-light-blue-6 item-center q-pa-lg">
      <div class="col-9">
        <div class="row flex">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-lg">
            <q-img
              src="https://loket-asset-production.s3.amazonaws.com/loket-live.png"
              style="height: 15rem;"
              fit="contain"
            />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-lg">
            <q-img
              src="https://loket-asset-production.s3.amazonaws.com/loket-live.png"
              style="height: 15rem;"
              fit="contain"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="min-height:3rem"></div>
    <div class="row flex justify-center">
      <div class="col-9 justify-center">
        <div class="text-h5 flex text-weight-bolder q-pa-lg">Temukan Event Sesuai Minatmu</div>
      </div>
    </div>
    <div class="row flex justify-center">
      <div class="col-9 justify-center">
        <div class="row">
          <div
            class="col-lg-3 col-md-3 col-sm-6 col-xs-12 q-pa-sm"
            v-for="event in topEvent"
            :key="event"
          >
            <q-card @click="toDetailEvent(event.event_code)">
              <q-img :src="event.banner_url" height="5rem" fit="fill"></q-img>
              <q-separator />
              <q-card-section horizontal class="bg-green q-pa-sm">
                <div class="text-subtitle2 text-white">{{event.event_name}}</div>
              </q-card-section>
              <q-card-section horizontal class="q-pa-sm">
                <div class="text-body2 q-pb-md">{{event.event_description}}</div>
                <div></div>
              </q-card-section>
            </q-card>
          </div>
          <!-- <div
            class="col-lg-3 col-md-3 col-sm-6 col-xs-12 q-pa-sm"
            v-for="event in topEvent"
            :key="event"
          >
            <q-card @click="toDetailEvent(event.event_code)">
              <q-img :src="event.banner_url"></q-img>
              <q-separator />
              <q-card-section horizontal class="bg-green q-pa-sm">
                <div class="text-subtitle2 text-white">{{event.event_name}}</div>
              </q-card-section>
              <q-card-section horizontal class="q-pa-sm">
                <div class="text-body2 q-pb-md">{{event.event_description}}</div>
                <div>

                </div>
              </q-card-section>
            </q-card>
          </div>-->
        </div>
      </div>
    </div>
    <div class="row" style="min-height:5rem"></div>
    <div class="row flex justify-center bg-indigo-10 item-center">
      <div class="col-9">
        <div class="row flex justify-center items-center">
          <!-- <div class="col text-h5 text-white text-center" style="min-height:5rem">INI FOOTER</div> -->
        </div>
      </div>
      <div class="col-9">
        <div class="row flex justify-center items-center" style="min-height:5rem">
          <div class="col text-white text-center">@copyright 2021 Xeminar</div>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { useQuasar } from "quasar";
import { defineComponent, ref, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
export default defineComponent({
  props: {},

  setup(props, { attrs, slots, emit }) {
    const q = useQuasar();
    const route = useRoute();
    const router = useRouter();
    const store = useStore();
    const slide = ref(1);
    const autoplay = ref(true);

    const featuredEvent = ref({
      banner_url: "",
      event_name: "",
      event_description: "",
      event_banner: "",
      date_from: "",
      date_to: "",
      //event_tenant: { type: BigInt, default: -99 },
      event_code: ""
    });
    const topEvent = ref([]);
    const topSellingEvent = ref([]);
    function getFeaturedEvent() {
      store.dispatch("home/getFeaturedEvent", {}).then((rspn) => {
        featuredEvent.value = rspn;
      });
    }

    function getTopEvent() {
      store.dispatch("home/getTopEvent", {}).then((rspn) => {
        topEvent.value = rspn;
      });
    }

    function getTopSellingEvent() {
      store.dispatch("home/getTopSellingEvent", {}).then((rspn) => {
        topSellingEvent.value = rspn;
      });
    }

    onMounted(() => {
      getFeaturedEvent();
      getTopEvent();
      getTopSellingEvent();
    });

    function toDetailEvent(eventCode) {
      console.log(router);
      router.push("/event/" + eventCode);
    }

    return {
      autoplay,
      slide,
      featuredEvent,
      router,
      topEvent,
      topSellingEvent,
      toDetailEvent
    };
  }
});
</script>
