<template>
  <q-page class="q-pa-sm bg-indigo-1">
    <div class="row flex">
      <div class="col-12">
        <div class="row justify-center">
          <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <q-carousel
              style="border-radius:10px"
              animated
              v-model="slide"
              navigation
              infinite
              autoplay
              arrows
              transition-prev="slide-right"
              transition-next="slide-left"
              @mouseenter="autoplay = false"
              @mouseleave="autoplay = true"
              height="20rem"
            >
              <q-carousel-slide
                v-for="event in topSellingEvent"
                :key="event.banner_carousel_id"
                :name="event.file_name"
                :img-src="event.banner_url"
              >
                <div class="row q-pl-xl full-height items-start">
                  <!-- <transition name="fade" mode="out-in" appear @after-enter="()=>{}">
                    <div class="col-12 text-h5 text-white q-pa-sm">{{event.event_name}}</div>
                  </transition>

                  <div class="col-12 text-white q-pl-sm">{{event.event_name}}</div>-->

                  <div class="column">
                    <q-btn
                      label="Show Detail"
                      color="blue"
                      style="border-radius:10px"
                      :to="'/event/'+event.event_code"
                      v-if="event.event_code !=''"
                    />
                  </div>
                </div>
              </q-carousel-slide>
            </q-carousel>
          </div>
        </div>

        <div class="row justify-center q-pt-xl">
          <div
            class="q-pl-md col-xl-5 col-lg-5 col-md-7 col-sm-12 col-xs-12 text-weight-bold text-h5"
          >Temukan Event Yang Sesuai</div>

          <div
            class="q-pr-md col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 text-weight-bold text-h5"
          >
            <q-btn color="green" label="Lihat Semua Event" class="float-right" to="/search" />
          </div>
        </div>
        <div class="row justify-center">
          <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <div class="row justify-left">
              <div
                class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 q-pl-md q-pr-md q-pt-md q-pb-md"
              >
                <q-list bordered separator class="bg-white">
                  <q-item>
                    <q-item-section>
                      <q-input
                        class="float-right"
                        outlined
                        v-model="filterSearch"
                        dense
                        label="Search Event"
                        bg-color="white"
                        @keydown.enter.prevent="goToSearchPage()"
                      ></q-input>
                    </q-item-section>
                  </q-item>

                  <q-item
                    clickable
                    v-ripple
                    :class="filterTopEvent.flg_event_terdekat=='Y'?'bg-blue text-white':''"
                    @click="changeFilterTopEvent('terdekat')"
                  >
                    <q-item-section>EVENT TERDEKAT</q-item-section>
                  </q-item>

                  <q-item
                    clickable
                    v-ripple
                    :class="filterTopEvent.flg_free=='Y'?'bg-blue text-white':''"
                    @click="changeFilterTopEvent('free')"
                  >
                    <q-item-section>
                      <q-item-label>EVENT GRATIS</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item
                    clickable
                    v-ripple
                    :class="filterTopEvent.flg_online=='Y'?'bg-blue text-white':''"
                    @click="changeFilterTopEvent('online')"
                  >
                    <q-item-section>
                      <q-item-label>EVENT ONLINE</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item
                    clickable
                    v-ripple
                    :class="filterTopEvent.flg_offline=='Y'?'bg-blue text-white':''"
                    @click="changeFilterTopEvent('offline')"
                  >
                    <q-item-section>
                      <q-item-label>EVENT OFFLINE</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div
                    class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 q-pl-md q-pr-md q-pt-md q-pb-md"
                    v-for="event in topEvent"
                    :key="event.event_code"
                  >
                    <event-card :data="event" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { useQuasar } from "quasar";
import EventCard from "src/components/Card/EventCard.vue";
import { defineComponent, ref, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
export default defineComponent({
  components: { EventCard },
  setup() {
    const q = useQuasar();
    const route = useRoute();
    const router = useRouter();
    const store = useStore();

    const slide = ref("1");
    const ratingModel = ref(4);
    const hover = ref(false);
    const timerDisplay = ref({ h: 0, m: 0, s: 0 });
    const timmerLeft = ref(1000);
    const filterSearch = ref("");

    const featuredEvent = ref({
      banner_url: "",
      event_name: "",
      event_description: "",
      event_banner: "",
      date_from: "",
      date_to: "",
      //event_tenant: { type: BigInt, default: -99 },
      event_code: ""
    });

    const filterTopEvent = ref({
      flg_event_terdekat: "Y",
      flg_free: "N",
      flg_online: "N",
      flg_offline: "N"
    });
    const topEvent = ref([]);
    const topSellingEvent = ref([]);

    function setTimerDisplay() {
      if (timmerLeft.value > 0) {
        timerDisplay.value.h = Math.floor(timmerLeft.value / (60 * 60));
        timerDisplay.value.m = Math.floor(timmerLeft.value / 60) % 60;
        timerDisplay.value.s = timmerLeft.value % 60;
        timmerLeft.value = timmerLeft.value - 1;
      }
    }

    function changeFilterTopEvent(action) {
      switch (action) {
        case "terdekat":
          topEvent.value = [];
          filterTopEvent.value = {
            flg_event_terdekat: "Y",
            flg_free: "N",
            flg_online: "N",
            flg_offline: "N"
          };
          getTopEvent();
          break;
        case "free":
          topEvent.value = [];
          filterTopEvent.value = {
            flg_event_terdekat: "N",
            flg_free: "Y",
            flg_online: "N",
            flg_offline: "N"
          };
          getTopEvent();
          break;
        case "online":
          topEvent.value = [];
          filterTopEvent.value = {
            flg_event_terdekat: "N",
            flg_free: "N",
            flg_online: "Y",
            flg_offline: "N"
          };
          getTopEvent();
          break;
        case "offline":
          topEvent.value = [];
          filterTopEvent.value = {
            flg_event_terdekat: "N",
            flg_free: "N",
            flg_online: "N",
            flg_offline: "Y"
          };
          getTopEvent();
          break;
        default:
          topEvent.value = [];
          filterTopEvent.value = {
            flg_event_terdekat: "Y",
            flg_free: "N",
            flg_online: "N",
            flg_offline: "N"
          };
          getTopEvent();
      }
    }

    function interval() {
      setInterval(setTimerDisplay(), 1000);
    }
    function setHovering(isHover) {
      hover.value = isHover;
    }

    function getFeaturedEvent() {
      store.dispatch("home/getFeaturedEvent", {}).then((rspn) => {
        featuredEvent.value = rspn;
      });
    }

    function getTopEvent() {
      store
        .dispatch("home/getTopEvent", { param: filterTopEvent.value })
        .then((rspn) => {
          topEvent.value = rspn;
        });
    }

    function getTopSellingEvent() {
      store.dispatch("home/getTopSellingEvent", {}).then((rspn) => {
        topSellingEvent.value = rspn;
      });
    }

    function goToSearchPage() {
      router.push({
        path: "/search",
        query: { keyword: filterSearch.value }
      });
    }

    onMounted(() => {
      //getFeaturedEvent();
      getTopEvent();
      getTopSellingEvent();
    });
    return {
      slide,
      ratingModel,
      hover,
      timerDisplay,
      topEvent,
      topSellingEvent,
      filterTopEvent,
      filterSearch,
      changeFilterTopEvent,
      goToSearchPage,
      setHovering,
      setTimerDisplay
    };
  }
});
</script>
