<template>
  <q-page class="q-pa-sm">
    <div class="row justify-center">
      <div class="col-12 q-pa-sm">
        <q-input
          v-model="filterKeyword"
          outlined
          placeholder="Search Event"
          bg-color="white"
        >
          <template v-slot:append>
            <q-icon
              v-if="filterKeyword === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class
              @click="filterKeyword = ''"
            />
          </template>
        </q-input>
      </div>
      <div class="col-12 q-pa-sm bordered">
        <q-table
          title
          bordered
          :rows="rows"
          :columns="columns"
          row-key="id"
          v-model:pagination="pagination"
          :loading="loading"
          hide-header
          :filter="filterKeyword"
          @request="onRequest"
          grid
        >
          <template v-slot:item="props">
            <div class="q-pa-sm col-4">
              <!-- <card-detail-event v-bind="props.row"></card-detail-event> -->
              <card-event v-bind="props.row"></card-event>
            </div>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref, defineComponent, onMounted } from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";
import CardEvent from "components/CardEvent.vue";
//import CardDetailEvent from "src/components/event/CardDetailEvent.vue";

export default defineComponent({
  components: {
    CardEvent
  },
  name: "PageIndex",
  setup () {
    const store = useStore();
    const rows = ref([]);
    const filterKeyword = ref("");
    const loading = ref(false);
    const columns = [
      {
        name: "event_name",
        required: true,
        label: "Event Name",
        align: "center",
        field: "event_name",
        sortable: true
      },
      {
        name: "event_description",
        align: "center",
        label: "Event Description",
        field: "event_description",
        sortable: true
      },
      {
        name: "event_category",
        align: "center",
        label: "event_category",
        field: "event_category"
      },
      {
        name: "date_from",
        align: "center",
        label: "date_from",
        field: "date_from"
      },
      {
        name: "date_to",
        align: "center",
        label: "date_to",
        field: "date_to"
      },
      {
        name: "time_from",
        align: "center",
        label: "time_from",
        field: "time_from"
      },
      {
        name: "time_to",
        align: "center",
        label: "time_to",
        field: "time_to"
      },
      {
        name: "action",
        align: "center",
        label: "ACTION",
        field: "action"
      }
    ];

    //const filterPeriode = ref(store.getters["common/dateNow"])
    const pagination = ref({
      sortBy: "event_name",
      descending: false,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 10
    });

    function onRequest (props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination;
      loading.value = true;

      // emulate server
      // update rowsCount with appropriate value

      store
        .dispatch("event/countGetEventByAdvance", {
          param: {
            keyword: filterKeyword.value == null ? "" : filterKeyword.value
          }
        })
        .then(function (result) {
          pagination.value.rowsNumber = result;
          ///  store.getters["event/countGetEventByAdvance"];

          const fetchCount =
            rowsPerPage === 0 ? pagination.value.rowsNumber : rowsPerPage;
          //get all rows if "All" (0) is selected

          // calculate starting row of data
          const startRow = (page - 1) * rowsPerPage;

          // fetch data from "server"
          store
            .dispatch("event/getEventByAdvance", {
              param: {
                keyword: filterKeyword.value,
                limit: fetchCount,
                offset: startRow,
                sortBy: sortBy,
                descending: descending
              }
            })
            .then(function (response) {
              //const returnedData = store.getters["tahunAjaran/data"];
              console.log("returnedData : ", response);
              rows.value.splice(0, rows.value.length, ...response);
              loading.value = false;
            });
        });

      // clear out existing data and add new
      //

      // don't forget to update local pagination object
      pagination.value.page = page;
      pagination.value.rowsPerPage = rowsPerPage;
      pagination.value.sortBy = sortBy;
      pagination.value.descending = descending;

      // ...and turn of loading indicator
    }
    const search = ref("");
    onMounted(() => {
      // get initial data from server (1st page)
      onRequest({
        pagination: pagination.value
      });
    });
    return {
      filterKeyword,
      search,
      columns,
      rows,
      loading,
      store,
      pagination,
      onRequest
    };
  }
});
</script>
