<template>
  <q-layout>
    <q-page class="flex bg-image-login flex-center">
      <q-card
        v-bind:style="$q.screen.lt.sm?{'width': '80%'}:
      $q.screen.lt.md?{'width':'50%'}:$q.screen.lt.lg?{'width':'28%'}:{'width':'28%'}"
        flat
        class="bg-image-login"
      >
        <q-card-section>
          <div class="text-center q-pt-lg">
            <div class="col text-h6 text-white">Log in</div>
          </div>
        </q-card-section>
        <q-card-section>
          <q-form class="q-gutter-md" @submit="onSubmit">
            <div class="row">
              <div class="col">
                <q-input
                  dark
                  color="grey-5"
                  label-color="grey-5"
                  v-model="login.username"
                  label="Username"
                  lazy-rules="ondemand"
                  input-style="color: #ffffff"
                  :rules="[val => val !== null && val !== '' || 'Username harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-user" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <q-input
                  dark
                  color="grey-5"
                  label-color="grey-5"
                  type="password"
                  v-model="login.password"
                  label="Password"
                  lazy-rules="ondemand"
                  input-style="color: #ffffff"
                  :rules="[val => val !== null && val !== '' || 'Password harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="fas fa-lock" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <q-btn
                  style="width: 100%;"
                  label="Login"
                  type="submit"
                  color="amber-14"
                  class="text-black"
                  unelevated
                />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <q-btn
                  style="width: 100%;"
                  label="Register"
                  to="/register"
                  color="amber-14"
                  class="text-black"
                  unelevated
                />
              </div>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-page>
  </q-layout>
</template>
<script>
import { ref } from "vue";
import { Cookies, useQuasar } from "quasar";
import { useStore } from "vuex";
console.log(this);
export default {
  name: "Login",
  emits: ["cekIsLoggedIn"],
  setup(props, { attrs, slots, emit }) {
    const $q = useQuasar();
    const login = ref({ username: "", password: "" });
    const store = useStore();
    return {
      login,
      onSubmit() {
        store.dispatch("auth/login", { param: login.value }).then(function () {
          emit("cekIsLoggedIn", "");
        });
        //store.dispatch("auth/isTokenValid", Cookies.get("token"));
        //isTokenValid
      }
    };
  }
};
</script>

<style>
.bg-image-login {
  background-image: linear-gradient(135deg, #100dd1 0%, #100dd1 100%);
}
</style>
