<template>
  <q-page class="q-pa-lg">
    <div class="row">
      <div class="col flex justify-center">
        <q-card style="width:90%">
          <q-card-section class="text-h5">My Ticket</q-card-section>
          <q-separator />
          <q-card-section>
            <!-- <q-item>
              <q-item-section>
                <q-item-label>Tanggal Pelaksanaan :</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>Tanggal</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>Tanggal as :</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>Tanggal</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <div class="row">
                  <div class="column">
                    <q-btn label="Search" color="positive" />
                  </div>
                </div>
              </q-item-section>
            </q-item>-->
          </q-card-section>
          <q-separator />
          <q-card-section>
            <q-table
              bordered
              title="My Ticket"
              :rows="rows"
              :columns="columns"
              row-key="id"
              v-model:pagination="pagination"
              :loading="loading"
              :filter="keyword"
              @request="onRequest"
              binary-state-sort
              separator="cell"
              wrap-cells
            >
              <template v-slot:header-cell="props">
                <q-th
                  :props="props"
                  class="text-subtitle2 text-weight-bolder text-blue-10"
                >{{ props.col.label }}</q-th>
              </template>
              <template v-slot:top-right>
                <q-input outlined rounded debounce="300" v-model="keyword" placeholder="Search">
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>

              <template v-slot:body-cell-index="props">
                <q-td :props="props">
                  <div>{{ props.rowIndex + 1 }}</div>
                </q-td>
              </template>
              <template v-slot:body-cell-periode="props">
                <q-td :props="props">
                  <q-item>
                    <q-item-section avatar>
                      <q-icon name="far fa-calendar-alt" left right />
                    </q-item-section>
                    <q-item-section>
                      {{ props.row.date_from }} s/d
                      {{ props.row.date_to }}
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section avatar>
                      <q-icon name="far fa-clock" left right />
                    </q-item-section>
                    <q-item-section>
                      {{ props.row.time_from }} s/d
                      {{ props.row.time_to }}
                    </q-item-section>
                  </q-item>
                </q-td>
              </template>
              <template v-slot:body-cell-order_status="props">
                <q-td :props="props">
                  <q-badge
                    outline
                    align="middle"
                    :color="props.row.order_status_code == '00'?'warning':props.row.order_status_code == '20'?'green':'teal'"
                  >{{props.row.order_status}}</q-badge>
                </q-td>
              </template>
              <template v-slot:body-cell-action="props">
                <q-td :props="props">
                  <q-btn label="Action" size="sm" color="teal">
                    <q-menu>
                      <q-list>
                        <q-item
                          v-if="props.row.order_status_code=='20'"
                          clickable
                          v-close-popup
                          @click="showLocationDlg(props.row)"
                        >
                          <q-item-section>Lihat Lokasi</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          v-if="props.row.order_status_code=='00'"
                          clickable
                          v-close-popup
                          @click="showDialogUploadPayment(props.row)"
                        >
                          <q-item-section>Upload Payment</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          @click="openURL(props.row.course_url)"
                          v-if="props.row.course_url !=''"
                        >
                          <q-item-section>Download Materi</q-item-section>
                        </q-item>
                        <q-separator />
                        <!-- <q-item clickable v-close-popup>
                          <q-item-section>Location</q-item-section>
                        </q-item>-->
                        <q-item
                          clickable
                          v-close-popup
                          @click="openURL('/api/downloadCertificateForUser?event_ticket_order_id='+props.row.event_ticket_order_id)"
                        >
                          <q-item-section>Download Certificate</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </q-td>
              </template>
            </q-table>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <q-dialog v-model="flgShowDialogUploadPayment">
      <upload-payment-card :eventTicketOrderId="eventTicketOrderId" @reloadPage="reloadPage" />
    </q-dialog>
    <q-dialog v-model="flgShowLocationDlg">
      <location-list-for-user-table :eventTicketOrderId="eventTicketOrderId" />
    </q-dialog>
  </q-page>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { useQuasar, Loading, Dialog, openURL } from "quasar";
import { useStore } from "vuex";
import UploadPaymentCard from "src/components/event/UploadPaymentCard.vue";
import LocationListForUserTable from "src/components/table/LocationListForUserTable.vue";
export default defineComponent({
  components: { UploadPaymentCard, LocationListForUserTable },
  name: "MyTicket",
  setup() {
    const store = useStore();
    const columns = [
      { name: "index", align: "center", label: "#", field: "index" },
      {
        name: "order_code",
        required: true,
        label: "TICKET NO",
        align: "center",
        field: "order_code",
        sortable: true
      },
      {
        name: "event_name",
        align: "center",
        label: "EVENT NAME",
        field: "event_name",
        sortable: true
      },
      {
        name: "periode",
        align: "left",
        label: "DATE AND TIME",
        field: "periode",
        sortable: true
      },
      {
        name: "order_status",
        align: "center",
        label: "STATUS TICKET",
        field: "order_status"
      },
      {
        name: "remark",
        align: "center",
        label: "REMARK VERIFY",
        field: "remark"
      },
      { name: "action", align: "center", label: "ACTION", field: "action" }
    ];
    const rows = ref([]);
    const pagination = ref({
      sortBy: "tahun_ajaran_code",
      descending: false,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 10
    });
    const keyword = ref("");
    const loading = ref(false);
    const flgShowDialogUploadPayment = ref(false);
    const eventTicketOrderId = ref(-99);
    const flgShowLocationDlg = ref(false);

    function onRequest(props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination;
      loading.value = true;
      store
        .dispatch("event/countGetMyTicket", {
          param: { keyword: keyword.value }
        })
        .then(function (rspn) {
          pagination.value.rowsNumber = rspn;

          const fetchCount =
            rowsPerPage === 0 ? pagination.value.rowsNumber : rowsPerPage;
          // get all rows if "All" (0) is selected

          // calculate starting row of data
          const startRow = (page - 1) * rowsPerPage;

          // fetch data from "server"
          store
            .dispatch("event/getMyTicket", {
              param: {
                keyword: keyword.value,
                limit: fetchCount,
                offset: startRow,
                sortBy: sortBy,
                descending: descending
              }
            })
            .then(function (rspn) {
              const returnedData = rspn;
              rows.value.splice(0, rows.value.length, ...returnedData);
              loading.value = false;
            });
        });

      // don't forget to update local pagination object
      pagination.value.page = page;
      pagination.value.rowsPerPage = rowsPerPage;
      pagination.value.sortBy = sortBy;
      pagination.value.descending = descending;
    }
    function showDialogUploadPayment(data) {
      flgShowDialogUploadPayment.value = !flgShowDialogUploadPayment.value;
      eventTicketOrderId.value = data.event_ticket_order_id;
    }
    function showLocationDlg(data) {
      flgShowLocationDlg.value = !flgShowLocationDlg.value;
      eventTicketOrderId.value = data.event_ticket_order_id;
    }
    function reloadPage() {
      onRequest({
        pagination: pagination.value
      });
      flgShowDialogUploadPayment.value = !flgShowDialogUploadPayment.value;
    }
    onMounted(() => {
      onRequest({
        pagination: pagination.value
      });
    });

    function downloadCertificateForUser(data) {
      store.dispatch("event/downloadCertificateForUser", {
        param: { event_ticket_order_id: data.event_ticket_order_id }
      });
    }
    return {
      columns,
      eventTicketOrderId,
      flgShowDialogUploadPayment,
      flgShowLocationDlg,
      rows,
      pagination,
      keyword,
      loading,
      downloadCertificateForUser,
      onRequest,
      openURL,
      reloadPage,
      showDialogUploadPayment,
      showLocationDlg
    };
  }
});
</script>
