<template>
  <q-layout>
    <q-page class="flex item-start justify-center q-pa-sm row bg-indigo-1">
      <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
        <q-form class="q-gutter-md" @submit.prevent="onSubmit">
          <div class="row justify-center">
            <q-item dense class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <q-item-section class="text-weight-bold text-h6 text-center">Register</q-item-section>
            </q-item>
          </div>

          <div class="row justify-center">
            <q-item dense class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <q-item-section>
                <q-input
                  outlined
                  bg-color="white"
                  hide-bottom-space
                  v-model="register.email"
                  label="Email"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'Email harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-envelope" />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>
          </div>

          <div class="row justify-center">
            <q-item dense class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <q-item-section>
                <q-input
                  hide-bottom-space
                  outlined
                  bg-color="white"
                  v-model="register.username"
                  label="Username"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'Username harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-user" />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>
          </div>

          <div class="row justify-center">
            <q-item dense class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <q-item-section>
                <q-input
                  hide-bottom-space
                  outlined
                  bg-color="white"
                  type="password"
                  v-model="register.password"
                  label="Password"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'Password harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="fas fa-lock" />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>
          </div>

          <div class="row justify-center">
            <q-item dense class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <q-item-section>
                <q-input
                  hide-bottom-space
                  bg-color="white"
                  outlined
                  type="password"
                  v-model="register.retypePassword"
                  label="Retype Password"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'Password harus diisi',
                      val=> val.value != register.password || register.password+'password and retype password not match']"
                >
                  <template v-slot:prepend>
                    <q-icon name="fas fa-lock" />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>
          </div>
          <div class="row justify-center">
            <q-item dense class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <q-item-section>
                <q-input
                  hide-bottom-space
                  bg-color="white"
                  outlined
                  v-model="register.phone"
                  label="Phone"
                  type="tel"
                  mask="####-####-######"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'Fullname harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="fas fa-phone" />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>
          </div>

          <div class="row justify-center">
            <q-item dense class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <q-item-section>
                <q-input
                  hide-bottom-space
                  bg-color="white"
                  outlined
                  v-model="register.full_name"
                  label="Fullname"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'Fullname harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-user" />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>
          </div>

          <div class="row justify-center">
            <q-item dense class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <q-item-section>
                <div class="shadow-1 q-pa-xs bg-white">
                  <q-radio v-model="register.gender" val="M" label="Male" color="cyan" />
                  <q-radio v-model="register.gender" val="F" label="Female" color="cyan" />
                </div>
              </q-item-section>
            </q-item>
          </div>

          <div class="row justify-center">
            <q-item dense class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <q-item-section>
                <q-input
                  bg-color="white"
                  outlined
                  v-model="register.address"
                  label="address"
                  lazy-rules="ondemand"
                  type="textarea"
                  :rules="[val => val !== null && val !== '' || 'Address harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-address-card" />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>
          </div>
          <div class="row justify-center">
            <q-item dense class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <q-item-section>
                <div class="row">
                  <div class="column">
                    <q-btn label="Register" type="submit" color="positive" />
                  </div>
                </div>
              </q-item-section>
            </q-item>
          </div>
        </q-form>
      </div>
    </q-page>
  </q-layout>
</template>
<script>
import { ref } from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";
export default {
  name: "Register",
  setup() {
    const $q = useQuasar();
    const register = ref({
      username: "",
      email: "",
      password: "",
      retypePassword: "",
      full_name: "",
      address: "",
      gender: "M"
    });
    const store = useStore();
    return {
      register,
      onSubmit() {
        store
          .dispatch("user/register", { param: register.value })
          .then(function () {});
      }
    };
  }
};
</script>

<style>
.bg-image {
  background-image: linear-gradient(135deg, #425196 0%, #539da0 100%);
}
</style>
