<template>
  <q-page class="q-pa-sm bg-indigo-1">
    <div class="row flex">
      <div class="col-12">
        <div class="row justify-center q-pt-xl">
          <div
            class="q-pl-md col-xl-5 col-lg-5 col-md-7 col-sm-12 col-xs-12 text-weight-bold text-h5"
          >Cari Event</div>
          <div
            class="q-pr-md col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 text-weight-bold text-h5"
          ></div>
        </div>
        <div class="row justify-center">
          <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <div class="row justify-left">
              <div
                class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 q-pl-md q-pr-md q-pt-md q-pb-md"
              >
                <q-list bordered separator class="bg-white">
                  <q-item>
                    <q-item-section>
                      <q-input
                        outlined
                        v-model="filterSearch.keyword"
                        label="Search Event"
                        bg-color="white"
                        @keydown.enter.prevent="doSearch()"
                      >
                        <template v-slot:append>
                          <q-icon name="fas fa-search" />
                        </template>
                      </q-input>
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>
                      <q-item-label>
                        <ws-date-picker v-model="filterSearch.event_date" label="Event Date" />
                      </q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item>
                    <q-item-section>
                      <q-item-label>
                        <combo-category-event-for-filter
                          v-model="filterSearch.event_category_id"
                          :param="{active:'Y'}"
                        />
                      </q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item>
                    <q-item-section>
                      <q-item-label>
                        <combo-category-ticket v-model="filterSearch.event_ticket_category" />
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>
                      <q-item-label>
                        <combo-location-event v-model="filterSearch.event_location_category" />
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>
                      <q-item-label>
                        <q-btn label="Search" color="blue" @click="doSearch" />
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-12">
                    <q-table
                      title="Event Ditemukan"
                      bordered
                      :rows="eventList"
                      :row-key="row=>row.event_code"
                      v-model:pagination="pagination"
                      separator="cell"
                      :loading="loading"
                      grid
                    >
                      <template v-slot:item="props">
                        <div
                          class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 q-pl-md q-pr-md q-pt-md q-pb-md"
                        >
                          <event-card :data="props.row" />
                        </div>
                      </template>
                    </q-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { useQuasar } from "quasar";
import EventCard from "src/components/Card/EventCard.vue";
import ComboCategoryEventForFilter from "src/components/combo/ComboCategoryEventForFilter.vue";
import ComboCategoryTicket from "src/components/combo/ComboCategoryTicket.vue";
import ComboLocationEvent from "src/components/combo/ComboLocationEvent.vue";
//import DatePicker from "src/components/DatePicker.vue";
//import DatePicker from "quasar-app-extension-uinws-core";

import { defineComponent, ref, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
export default defineComponent({
  components: {
    EventCard,
    ComboCategoryTicket,
    //DatePicker,
    ComboLocationEvent,
    ComboCategoryEventForFilter
    //DatePicker
  },
  setup(props, { attrs, slots, emit }) {
    const q = useQuasar();
    const route = useRoute();
    const router = useRouter();
    const store = useStore();
    const loading = ref(false);

    const pagination = ref({
      sortBy: "event_date",
      descending: false,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 10
    });

    const filterSearch = ref({
      event_date: "",
      event_category_id: -99,
      event_ticket_category: "ALL",
      event_location_category: -99,
      keyword: ""
    });

    filterSearch.value.keyword =
      route.query.keyword == null ? "" : route.query.keyword;
    const eventList = ref([]);

    function onRequest(props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination;
      loading.value = true;
      store
        .dispatch("event/countGetEventByFilterList", {
          param: {
            event_date: filterSearch.value.event_date,
            event_category_id: filterSearch.value.event_category_id,
            event_ticket_category: filterSearch.value.event_ticket_category,
            event_location_category: filterSearch.value.event_location_category,
            organizer_name: "",
            keyword: filterSearch.value.keyword
          }
        })
        .then(function (result) {
          pagination.value.rowsNumber = result;
          const fetchCount =
            rowsPerPage == 0 ? pagination.value.rowsNumber : rowsPerPage;
          const startRow = (page - 1) * rowsPerPage;

          store
            .dispatch("event/getEventByFilterList", {
              param: {
                event_date: filterSearch.value.event_date,
                event_category_id: filterSearch.value.event_category_id,
                event_ticket_category: filterSearch.value.event_ticket_category,
                event_location_category:
                  filterSearch.value.event_location_category,
                organizer_name: "",
                keyword: filterSearch.value.keyword,
                limit: fetchCount,
                offset: startRow,
                orderBy: sortBy,
                orderByType: descending ? "DESC" : "ASC"
              }
            })
            .then(function (response) {
              eventList.value.splice(0, eventList.value.length, ...response);
              loading.value = false;
            });
        });

      pagination.value.page = page;
      pagination.value.rowsPerPage = rowsPerPage;
      pagination.value.sortBy = sortBy;
      pagination.value.descending = descending;
    }

    function doSearch() {
      onRequest({ pagination: pagination.value });
    }
    onMounted(() => {
      //getFeaturedEvent();
      onRequest({ pagination: pagination.value });
      //getTopEvent();
      //getTopSellingEvent();
    });
    return {
      eventList,
      filterSearch,
      loading,
      pagination,

      doSearch
    };
  }
});
</script>
