<template>
  <q-layout>
    <q-page class="q-pa-sm">

      <q-dialog v-model="showAddAjaranDialog">
        <q-card :style="$q.screen.lt.sm?{'width': '80%'}:{'width':'40%'}">
          <q-card-section>
            <div class="text-h6">Tambah Tahun Ajaran</div>
          </q-card-section>
          <q-separator />

          <q-card-section class="q-pt-xm">
            <q-form
              @submit="addTahunAjaranSubmit"
              class="q-gutter-sm"
            >

              <q-input
                stack-label
                outlined
                v-model="tahunAjaran.tahunAjaranCode"
                label="Kode Tahun Ajaran"
                lazy-rules="ondemand"
                :rules="[val => val !== null && val !== '' || 'Kode Tahun Ajaran harus diisi']"
              />

              <q-input
                outlined
                stack-label
                v-model="tahunAjaran.tahunAjaranName"
                label="Nama Tahun Ajaran"
                lazy-rules="ondemand"
                :rules="[val => val !== null && val !== '' || 'Nama Tahun Ajaran harus diisi']"
              />
              <q-input
                filled
                v-model="tahunAjaran.dateStart"
                stack-label
                label="Tanggal Mulai Tahun Ajaran"
                mask="date"
                type="date"
                v-bind="required"
              />
              <q-input
                filled
                v-model="tahunAjaran.dateEnd"
                stack-label
                label="Tanggal Berakhir Tahun Ajaran"
                mask="date"
                type="date"
              />
              <q-separator />
              <div class="q-pt-sm q-pb-sm row">
                <div class="col column items-start">

                  <div class="q-pt-sm q-pb-sm row">
                    <div class="col q-pr-sm q-pl-none">
                      <q-btn
                        label="Tambah"
                        type="submit"
                        color="blue-10"
                      />
                    </div>
                    <div class="col q-pr-sm q-pl-sm">
                      <q-btn
                        label="Batal"
                        color="warning"
                        @click="showAddAjaranDialog=false"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>

      <div class="row q-pb-sm">
        <div class="col justify-left">
          <q-card>
            <q-card-section>
              <div class="row q-pb-sm">
                <div class="col column items-start">
                  <q-input
                    filled
                    v-model="filterPeriode"
                    stack-label
                    label="Periode Aktif"
                    mask="date"
                    type="date"
                  />
                </div>
              </div>

              <div class="row q-pb-sm">
                <div class="col justify-left">
                  <q-btn
                    class="q-ml-none q-mr-sm"
                    label="Cari"
                    type="button"
                    color="green"
                    @click="showAddAjaranDialog=true"
                  />
                  <q-btn
                    class="q-ml-sm q-mr-sm"
                    label="Tambah"
                    type="button"
                    color="blue-10"
                    @click="showAddAjaranDialog=true"
                  />
                </div>
              </div>

              <div class="row justify-center">
                <div class="col">
                  <q-table
                    bordered
                    title="Data Tahun Ajaran"
                    :rows="rows"
                    :columns="columns"
                    row-key="id"
                    v-model:pagination="pagination"
                    :loading="loading"
                    :filter="filterKeyword"
                    @request="onRequest"
                    binary-state-sort
                    separator='cell'
                  >
                    <template v-slot:header-cell="props">
                      <q-th
                        :props="props"
                        class="text-subtitle2 text-weight-bolder text-blue-10"
                      >
                        {{ props.col.label }}
                      </q-th>
                    </template>
                    <template v-slot:top-right>
                      <q-input
                        dense
                        debounce="300"
                        v-model="filterKeyword"
                        placeholder="Search"
                      >
                        <template v-slot:append>
                          <q-icon name="search" />
                        </template>
                      </q-input>
                    </template>

                    <template v-slot:body-cell-index="props">
                      <q-td :props="props">
                        <div>{{props.rowIndex+1}}</div>
                      </q-td>
                    </template>

                    <template v-slot:body-cell-action="props">
                      <q-td :props="props">
                        <q-btn
                          icon="edit"
                          size="sm"
                          color="blue-10"
                          flat
                          dense
                        />
                        <q-btn
                          icon="delete"
                          color="red"
                          size="sm"
                          class="q-ml-sm"
                          flat
                          dense
                        />
                      </q-td>
                    </template>
                  </q-table>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>

    </q-page>
  </q-layout>
</template>
<script>
import { defineComponent, ref, onMounted } from 'vue';
import { useQuasar, Loading, Dialog } from 'quasar';
import { useStore } from 'vuex';
export default {
  name: 'TahunAjaran',
  setup () {
    const columns = [
      {
        name: 'index', align: 'center', label: '#', field: 'index'
      },
      {
        name: 'tahun_ajaran_code', required: true, label: 'KODE TAHUN AJARAN', align: 'center', field: 'tahun_ajaran_code', sortable: true
      },
      {
        name: 'tahun_ajaran_name', align: 'center', label: 'NAMA TAHUN AJARAN', field: 'tahun_ajaran_name', sortable: true
      },
      {
        name: 'periode', align: 'center', label: 'PERIODE', field: 'periode'
      },
      {
        name: 'active', align: 'center', label: 'ACTIVE', field: 'active'
      },
      {
        name: 'action', align: 'center', label: 'ACTION', field: 'action'
      },
    ];

    const store = useStore();
    const rows = ref([])
    const filterKeyword = ref('')
    const loading = ref(false)
    const showAddAjaranDialog = ref(false)
    const filterPeriode = ref(store.getters["common/dateNow"])
    const tahunAjaran = ref({
      tahunAjaranCode: "",
      tahunAjaranName: "",
      dateStart: store.getters["common/dateNow"],
      dateEnd: store.getters["common/dateNow"]
    });
    const pagination = ref({
      sortBy: 'tahun_ajaran_code',
      descending: false,
      page: 1,
      rowsPerPage: 3,
      rowsNumber: 10
    });
    onMounted(() => {
      // get initial data from server (1st page)
      onRequest({
        pagination: pagination.value,
      })
    });
    function onRequest (props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination
      loading.value = true;
      console.log('set: data getTahunAjaranByCodeName');

      // emulate server
      // update rowsCount with appropriate value

      store.dispatch("tahunAjaran/countGetTahunAjaranByCodeName", {
        periode: filterPeriode,
        filter: filterKeyword
      }).then(function () {
        pagination.value.rowsNumber = store.getters["tahunAjaran/count"];

        const fetchCount = rowsPerPage === 0 ? pagination.value.rowsNumber : rowsPerPage;
        // get all rows if "All" (0) is selected

        // calculate starting row of data
        const startRow = (page - 1) * rowsPerPage

        // fetch data from "server"
        store.dispatch("tahunAjaran/getTahunAjaranByCodeName", {
          periode: filterPeriode,
          filter: filterKeyword,
          limit: fetchCount,
          offset: startRow,
          sortBy: sortBy,
          descending: descending
        }).then(function () {

          const returnedData = store.getters["tahunAjaran/data"];
          console.log('returnedData : ', returnedData);
          rows.value.splice(0, rows.value.length, ...returnedData);
          loading.value = false;
        });

      });


      // clear out existing data and add new
      //

      // don't forget to update local pagination object
      pagination.value.page = page
      pagination.value.rowsPerPage = rowsPerPage
      pagination.value.sortBy = sortBy
      pagination.value.descending = descending

      // ...and turn of loading indicator
    };
    function addTahunAjaranSubmit () {
      //
      store.dispatch("tahunAjaran/addTahunAjaran", tahunAjaran.value).then(function (rspn) {
        showAddAjaranDialog.value = !rspn;
      });
    }

    return {
      columns, rows, filterKeyword, loading, pagination,
      onRequest, showAddAjaranDialog, tahunAjaran, addTahunAjaranSubmit,
      filterPeriode
    }
  },
}
</script>
