<template>
  <q-page class="q-pa-lg">
    <div class="row">
      <div class="col flex justify-center">
        <q-card style="width:90%">
          <q-card-section class="text-h5">Banner Carrousel</q-card-section>
          <q-separator />
          <q-card-section>
            <div class="row">
              <div class="column">
                <q-btn
                  label="Tambah Banner Carousel"
                  @click="flgAddBannerCarouselDlg = !flgAddBannerCarouselDlg"
                  color="blue"
                />
              </div>
            </div>
          </q-card-section>
          <q-separator />
          <q-card-section>
            <banner-carousel-table ref="tableRef" />
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
  <add-banner-carousel-dialog v-model="flgAddBannerCarouselDlg" @onSuccess="onSuccessAdd()" />
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";
import { useQuasar, Loading, Dialog, openURL } from "quasar";
import { useStore } from "vuex";
import BannerCarouselTable from "src/components/table/BannerCarouselTable.vue";
import AddBannerCarouselDialog from "src/components/dialog/AddBannerCarouselDialog.vue";
export default defineComponent({
  components: { BannerCarouselTable, AddBannerCarouselDialog },
  setup() {
    const store = useStore();
    const flgAddBannerCarouselDlg = ref(false);
    const tableRef = ref(null);

    function onSuccessAdd() {
      flgAddBannerCarouselDlg.value = !flgAddBannerCarouselDlg.value;
      tableRef.value.doRefresh();
    }
    onMounted(() => {});

    return { flgAddBannerCarouselDlg, tableRef, openURL, onSuccessAdd };
  }
});
</script>
