<template>
  <q-card>
    <q-img :src="banner_url" height="220px"></q-img>

    <q-card-section>
      <q-btn
        color="teal-7"
        padding="sm"
        class="absolute"
        style="top: 0; right: 10px; transform: translateY(-50%)"
        :label="display_date(date_from, date_to)"
      />
    </q-card-section>

    <q-card-section>
      <div class="text-h6">{{ event_name }}</div>
      <div class="text-subtitle1 text-justify q-mt-sm">{{ event_description }}</div>
    </q-card-section>
    <q-card-section>
      <div class="col-12">
        <span class="text-h6">
          <q-btn label="See Details" :to="url" color="secondary" outline></q-btn>
        </span>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "CardEvent",
  emits: {},
  props: {
    banner_url: { type: String, default: "" },
    event_name: { type: String, default: "" },
    event_description: { type: String, default: "" },
    event_banner: { type: String, default: "" },
    date_from: { type: String, default: "" },
    date_to: { type: String, default: "" },
    //event_tenant: { type: BigInt, default: -99 },
    event_code: { type: String, default: "" }
    //event_id: { type: BigInt, default: -99 },
  },
  methods: {
    display_date(date_from, date_to) {
      if (date_from == date_to) {
        return date_from;
      } else {
        return date_from + " s/d " + date_to;
      }
    }
  },
  data() {
    return {
      url: "/event/" + this.event_code
    };
  }
});
</script>
<style scoped></style>
