<template>
  <q-field :label="labelProp" stack-label outlined>
    <template v-slot:append>
      <q-icon name="event"></q-icon>
    </template>
    <template v-slot:control>
      <div class="self-center full-width no-outline" tabindex="0">{{model}}</div>
    </template>
    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
      <q-date v-model="model" mask="DD-MM-YYYY" @update:model-value="onInputEmit(model)">
        <div class="row items-center justify-end">
          <q-btn v-close-popup label="Clear" color="primary" flat @click="clearValue()" />
          <q-btn v-close-popup label="Close" color="primary" flat />
        </div>
      </q-date>
    </q-popup-proxy>
  </q-field>
</template>
<script>
import { defineComponent, toRef } from "vue";
import { useQuasar } from "quasar";

export default defineComponent({
  props: {
    modelValue: {
      type: String,
      required: true
    },
    label: {
      type: String,
      default: ""
    }
  },
  emits: ["update:modelValue"],
  methods: {
    onInputEmit(value) {
      this.$refs.qDateProxy.hide();
      this.$emit("update:modelValue", value);
    },
    clearValue() {
      this.$refs.qDateProxy.hide();
      this.$emit("update:modelValue", "");
    }
  },
  data() {
    return {
      model: this.modelValue,
      labelProp: this.label
    };
  },
  watch: {
    modelValue(newModelValue, oldModelValue) {
      this.model = newModelValue;
    }
  }
});
</script>
