<template>
  <div></div>
</template>
<script>
import { useQuasar, openURL } from "quasar";
import { defineComponent, ref, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
import { useI18n } from "vue-i18n";
export default defineComponent({
  components: {},
  props: {
    modelValue: {
      type: String,
      required: true,
    },
  },

  setup(props, { attrs, slots, emit }) {
    const q = useQuasar();
    const route = useRoute();
    const router = useRouter();
    const store = useStore();
    const i18n = useI18n();

    watch(
      () => {},
      (newParam, oldParam) => {}
    );

    onMounted(() => {
      getData();
    });

    return {};
  },
});
</script>
