<template>
  <q-page class="q-pa-sm"></q-page>
</template>
<script>
import { useQuasar } from "quasar";
import { defineComponent, ref, onMounted, watch } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
export default defineComponent({
  name: "TemplateComponent",
  props: {
    data: {
      type: Object,
      required: true
    }
  },

  setup(props, { attrs, slots, emit }) {
    const q = useQuasar();
    const router = useRoute();
    const store = useStore();
    watch(
      () => props,
      (newParam, oldParam) => {}
    );

    return {};
  }
});
</script>
