<template>
  <q-input
    hide-bottom-space
    filled
    v-model="model"
    mask="time"
    :rules="['time']"
    :label="labelProp"
  >
    <template v-slot:append>
      <q-icon name="access_time" class="cursor-pointer">
        <q-popup-proxy transition-show="scale" transition-hide="scale" ref="timePickerProxy">
          <q-time v-model="model" format24h @update:model-value="onInputEmit(model)">
            <div class="row items-center justify-end">
              <q-btn v-close-popup label="Close" color="primary" flat />
            </div>
          </q-time>
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>
<script>
import { defineComponent, toRef } from "vue";
import { useQuasar } from "quasar";

export default defineComponent({
  props: {
    modelValue: {
      type: String,
      required: true
    },
    label: {
      type: String,
      default: ""
    }
  },
  emits: ["update:modelValue"],
  methods: {
    onInputEmit(value) {
      console.log(value);
      this.$refs.timePickerProxy.hide();
      this.$emit("update:modelValue", value);
    }
  },
  data() {
    return {
      model: this.modelValue,
      labelProp: this.label
    };
  },
  watch: {
    modelValue(newModelValue, oldModelValue) {
      this.model = newModelValue;
    }
  }
});
</script>
