// app global css in SCSS form
.text-suha-yellow {
  color: #ffaf16;
}
.bg-suha-yellow {
  background: #ffaf16;
}
.text-suha-light-purple {
  color: #e5e8ff;
}
.bg-suha-light-purple {
  background: #e5e8ff;
}
