<template>
  <q-dialog v-model="model">
    <q-card style="width: 26rem">
      <q-card-section class="text-h6 text-weight-bold text-center">
        Tambah Banner Carousel
        <!-- <q-icon name="fas fa-exclamation"></q-icon> -->
      </q-card-section>
      <q-card-section>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="bannerCarousel.event_code"
                label="Kode Event"
                lazy-rules="ondemand"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Kode Event must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="bannerCarousel.banner_carousel_name"
                label="Nama Banner Carousel"
                lazy-rules="ondemand"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Nama Banner Carousel must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-file
                filled
                bottom-slots
                v-model="bannerCarousel.banner_file"
                label="Banner"
                counter
                clearable
              >
                <template v-slot:prepend>
                  <q-icon name="cloud_upload" @click.stop />
                </template>
                <template v-slot:hint></template>
              </q-file>
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>
      <q-separator />
      <q-card-section class="q-gutter-md">
        <q-btn label="Add" color="positive" @click="submit" />
        <q-btn label="Cancel" color="warning" v-close-popup />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { defineComponent, toRef, watch, ref } from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";

export default defineComponent({
  components: {},
  props: {
    modelValue: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  emits: ["update:modelValue", "onSuccess"],
  setup(props, { attrs, slots, emit }) {
    const model = ref(props.modelValue);
    const bannerCarousel = ref({
      event_code: "",
      banner_carousel_name: "",
      banner_file: null
    });
    const store = useStore();

    watch(
      () => props.modelValue,
      (newParam, oldParam) => {
        model.value = newParam;
        if (newParam) {
          bannerCarousel.value.event_code = "";
          bannerCarousel.value.banner_carousel_name = "";
          bannerCarousel.value.banner_file = null;
        }
      }
    );
    watch(
      () => model.value,
      (newParam, oldParam) => {
        emit("update:modelValue", newParam);
        //model.value = newParam;
      }
    );
    function submit() {
      let paramAdd = Object.assign({}, bannerCarousel.value);
      store
        .dispatch("bannerCarousel/addBannerCarousel", {
          param: paramAdd
        })
        .then(function (rspn) {
          if (rspn) {
            emit("onSuccess");
          }
        });
    }
    return { bannerCarousel, model, submit };
  }
});
</script>
