<template>
  <q-dialog v-model="model">
    <q-card style="width: 26rem">
      <q-card-section class="text-h6 text-weight-bold text-center">
        Confirmation
        <!-- <q-icon name="fas fa-exclamation"></q-icon> -->
      </q-card-section>
      <q-card-section> {{ msgProp }} </q-card-section>
      <q-separator />
      <q-card-section class="q-gutter-md">
        <q-btn label="Yes" color="positive" @click="yes" />
        <q-btn label="Cancel" color="warning" v-close-popup />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { defineComponent, toRef, watch, ref } from "vue";
import { useQuasar } from "quasar";

export default defineComponent({
  props: {
    modelValue: {
      type: Boolean,
      required: true,
      default: false,
    },
    msg: {
      type: String,
      required: true,
      default: "",
    },
  },
  emits: ["update:modelValue", "yes"],
  setup(props, { attrs, slots, emit }) {
    const msgProp = ref(props.msg);
    const model = ref(props.modelValue);

    watch(
      () => props.msg,
      (newParam, oldParam) => {
        msgProp.value = newParam;
      }
    );
    watch(
      () => props.modelValue,
      (newParam, oldParam) => {
        model.value = newParam;
      }
    );
    watch(
      () => model.value,
      (newParam, oldParam) => {
        emit("update:modelValue", newParam);
        //model.value = newParam;
      }
    );
    function yes() {
      emit("yes");
    }
    return { msgProp, model, yes };
  },
});
</script>
