<template>
  <q-dialog v-model="model">
    <q-card style="width: 26rem">
      <q-card-section class="text-h6 text-weight-bold text-center">
        Edit Certificate Parameter
        <!-- <q-icon name="fas fa-exclamation"></q-icon> -->
      </q-card-section>
      <q-card-section>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                v-model="certificateParameter.parameter_name"
                label="Paramater Name"
                lazy-rules="ondemand"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Location name must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <combo-certificate-parameter-type v-model="certificateParameter.parameter_value" />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <combo-certificate-parameter-align v-model="certificateParameter.align" />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                type="number"
                v-model.number="certificateParameter.position_x"
                label="Position X"
                lazy-rules="ondemand"
                hint="measure in milimeter"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Position X must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                type="number"
                hint="measure in milimeter"
                v-model.number="certificateParameter.position_y"
                label="Position Y"
                lazy-rules="ondemand"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Position Y must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                type="number"
                hint="0 for auto"
                v-model.number="certificateParameter.width"
                label="Width"
                lazy-rules="ondemand"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Position Y must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                type="number"
                hint="0 for auto"
                v-model.number="certificateParameter.height"
                label="Height"
                lazy-rules="ondemand"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Position Y must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
        <div class="row">
          <q-item class="col-12">
            <q-item-section>
              <q-input
                hide-bottom-space
                outlined
                type="number"
                v-model.number="certificateParameter.font_size"
                label="Font Size"
                lazy-rules="ondemand"
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Font size must be fill',
                ]"
              />
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>
      <q-separator />
      <q-card-section class="q-gutter-md">
        <q-btn label="Save" color="positive" @click="submit" />
        <q-btn label="Cancel" color="warning" v-close-popup />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { defineComponent, toRef, watch, ref, onMounted } from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";
import ComboCertificateParameterType from "../combo/ComboCertificateParameterType.vue";
import ComboCertificateParameterAlign from "../combo/ComboCertificateParameterAlign.vue";

export default defineComponent({
  components: { ComboCertificateParameterType, ComboCertificateParameterAlign },
  props: {
    modelValue: {
      type: Boolean,
      required: true,
      default: false
    },
    eventCertificateParameterId: {
      type: Number,
      required: true
    }
  },
  emits: ["update:modelValue", "onSuccess"],
  setup(props, { attrs, slots, emit }) {
    const eventCertificateParameterIdProp = ref(
      props.eventCertificateParameterId
    );
    const model = ref(props.modelValue);
    const certificateParameter = ref({
      parameter_name: "",
      parameter_value: "",
      position_x: 0,
      position_y: 0,
      width: 0,
      height: 0,
      font_size: 12
    });
    const store = useStore();
    watch(
      () => props.modelValue,
      (newParam, oldParam) => {
        model.value = newParam;
        if (model.value) {
          getData();
        }
      }
    );

    watch(
      () => props.eventCertificateParameterId,
      (newParam, oldParam) => {
        eventCertificateParameterIdProp.value = newParam;
      }
    );

    watch(
      () => model.value,
      (newParam, oldParam) => {
        emit("update:modelValue", newParam);
        //model.value = newParam;
      }
    );
    function getData() {
      store
        .dispatch("event/findEventCertificateParameterById", {
          param: {
            event_certificate_parameter_id:
              eventCertificateParameterIdProp.value
          }
        })
        .then(function (rspn) {
          certificateParameter.value = rspn;
        });
    }

    function submit() {
      let paramAdd = Object.assign({}, certificateParameter.value);
      store
        .dispatch("event/editCertificateParameter", {
          param: paramAdd
        })
        .then(function (rspn) {
          if (rspn) {
            emit("onSuccess");
          }
        });
    }

    onMounted(() => {});
    return { certificateParameter, model, submit };
  }
});
</script>
