<template>
  <q-dialog v-model="model">
    <q-card style="width: 26rem">
      <q-card-section class="text-h6 text-weight-bold text-center">
        Manage Profile
        <!-- <q-icon name="fas fa-exclamation"></q-icon> -->
      </q-card-section>
      <q-card-section>
        <q-tabs
          v-model="tabs"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
        >
          <q-tab name="profile" label="Profile" />
          <q-tab name="organizer" label="Organizer" />
        </q-tabs>
        <q-separator />
        <q-tab-panels v-model="tabs">
          <q-tab-panel name="profile">
            <div class="text-h6">Profile</div>
            <br />
            <div class="row">
              <div class="col">
                <div class="shadow-1 q-pa-xs bg-white">
                  <q-radio v-model="profile.gender" val="M" label="Male" color="cyan" />
                  <q-radio v-model="profile.gender" val="F" label="Female" color="cyan" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <q-input
                  hide-bottom-space
                  bg-color="white"
                  outlined
                  v-model="profile.full_name"
                  label="Fullname"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'Fullname harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-user" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <q-input
                  hide-bottom-space
                  bg-color="white"
                  outlined
                  v-model="profile.phone"
                  label="Phone"
                  type="tel"
                  mask="####-####-######"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'phone harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="fas fa-phone" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <q-input
                  bg-color="white"
                  outlined
                  v-model="profile.address"
                  label="address"
                  lazy-rules="ondemand"
                  type="textarea"
                  :rules="[val => val !== null && val !== '' || 'Address harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-address-card" />
                  </template>
                </q-input>
              </div>
            </div>
          </q-tab-panel>
          <q-tab-panel name="organizer">
            <div class="text-h6">Organizer</div>
            <br />
            <div class="row">
              <div class="col">
                <q-input
                  hide-bottom-space
                  bg-color="white"
                  outlined
                  v-model="organizer.organizer_name"
                  label="Organizer Name"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'Organizer Name harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-address-card" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <q-input
                  hide-bottom-space
                  bg-color="white"
                  outlined
                  v-model="organizer.identity_no"
                  label="Identity No"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'Identity No harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-address-card" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <q-input
                  hide-bottom-space
                  bg-color="white"
                  outlined
                  v-model="organizer.npwp_no"
                  label="NPWP No"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'NPWP No harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-address-card" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <q-input
                  hide-bottom-space
                  bg-color="white"
                  outlined
                  v-model="organizer.email"
                  label="Email"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'Email harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-envelope" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <q-input
                  hide-bottom-space
                  bg-color="white"
                  outlined
                  v-model="organizer.phone"
                  label="Phone"
                  type="tel"
                  mask="####-####-######"
                  lazy-rules="ondemand"
                  :rules="[val => val !== null && val !== '' || 'phone harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="fas fa-phone" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <q-input
                  bg-color="white"
                  outlined
                  v-model="organizer.address"
                  label="address"
                  lazy-rules="ondemand"
                  type="textarea"
                  :rules="[val => val !== null && val !== '' || 'Address harus diisi']"
                >
                  <template v-slot:prepend>
                    <q-icon name="far fa-address-card" />
                  </template>
                </q-input>
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>
      <q-separator />
      <q-card-section class="q-gutter-md">
        <q-btn label="Save" color="positive" @click="submit" />
        <q-btn label="Cancel" color="warning" v-close-popup />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import {
  defineComponent,
  toRef,
  watch,
  ref,
  onMounted,
  onUnmounted
} from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";

export default defineComponent({
  components: {},
  props: {
    modelValue: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  emits: ["update:modelValue", "onSuccess"],
  setup(props, { attrs, slots, emit }) {
    const model = ref(props.modelValue);
    const tabs = ref("profile");
    const organizer = ref({});
    const store = useStore();
    const profile = ref({});

    watch(
      () => props.modelValue,
      (newParam, oldParam) => {
        model.value = newParam;
        if (newParam) {
          getProfile();
        }
      }
    );
    watch(
      () => model.value,
      (newParam, oldParam) => {
        emit("update:modelValue", newParam);
        //model.value = newParam;
      }
    );

    function getProfile() {
      store
        .dispatch("userOrganizer/getProfile", {
          param: {}
        })
        .then(function (rspn) {
          profile.value = rspn.profile;
          organizer.value = rspn.organizer;
        });
    }
    function submit() {
      if (tabs.value == "profile") {
        store
          .dispatch("userOrganizer/editProfile", {
            param: profile.value
          })
          .then(function (rspn) {
            if (rspn) {
              model.value = false;
            }
          });
      }
      if (tabs.value == "organizer") {
        store
          .dispatch("userOrganizer/addUserOrganizer", {
            param: organizer.value
          })
          .then(function (rspn) {
            if (rspn) {
              model.value = false;
            }
          });
      }
    }
    return { model, submit, tabs, organizer, profile };
  }
});
</script>
