<template>
  <q-dialog v-model="model">
    <q-card style="width: 26rem">
      <q-card-section class="text-h6 text-weight-bold text-center">
        Upload Template Certificate
        <!-- <q-icon name="fas fa-exclamation"></q-icon> -->
      </q-card-section>
      <q-card-section>
        <q-file
          filled
          bottom-slots
          v-model="fileUpload"
          label="Template(pdf)"
          counter
          clearable
        >
          <template v-slot:prepend>
            <q-icon name="cloud_upload" @click.stop />
          </template>
          <template v-slot:hint> </template>
        </q-file>
      </q-card-section>
      <q-separator />
      <q-card-section class="q-gutter-md">
        <q-btn label="Upload" color="positive" @click="upload" />
        <q-btn label="Cancel" color="warning" v-close-popup />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { defineComponent, toRef, watch, ref } from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";

export default defineComponent({
  props: {
    modelValue: {
      type: Boolean,
      required: true,
      default: false,
    },
    eventId: {
      type: Number,
      required: true,
    },
  },
  emits: ["update:modelValue", "onSuccessUpload"],
  setup(props, { attrs, slots, emit }) {
    const eventIdProp = ref(props.eventId);
    const model = ref(props.modelValue);
    const fileUpload = ref(null);
    const store = useStore();

    watch(
      () => props.eventId,
      (newParam, oldParam) => {
        eventIdProp.value = newParam;
      }
    );
    watch(
      () => props.modelValue,
      (newParam, oldParam) => {
        model.value = newParam;
      }
    );
    watch(
      () => model.value,
      (newParam, oldParam) => {
        emit("update:modelValue", newParam);
        //model.value = newParam;
      }
    );
    function upload() {
      store
        .dispatch("event/uploadTemplateCertificate", {
          param: { event_id: eventIdProp.value, file_upload: fileUpload.value },
        })
        .then(function (rspn) {
          emit("onSuccessUpload");
        });
    }
    return { eventIdProp, model, fileUpload, upload };
  },
});
</script>
