<template>
  <q-table
    title="Banner Carousel"
    bordered
    :rows="rows"
    :columns="columns"
    :row-key="(row) => row.banner_carousel_id"
    v-model:pagination="pagination"
    :loading="loading"
    :filter="filterKeyword"
    @request="onRequest"
    separator="cell"
  >
    <template v-slot:top-right>
      <q-input
        dense
        outlined
        debounce="400"
        v-model="filterKeyword"
        placeholder="Event Code / Banner Carousel Name"
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </template>
    <template v-slot:body-cell-index="props">
      <q-td :props="props">
        <div>{{ props.rowIndex + 1 }}</div>
      </q-td>
    </template>
    <template v-slot:body-cell-partai_color="props">
      <q-td :props="props">
        <div :style="{ color: props.row.partai_color }">{{ props.row.partai_color }}</div>
      </q-td>
    </template>
    <template v-slot:body-cell-action="props">
      <q-td :props="props">
        <q-btn label="Action" size="sm" color="teal">
          <q-menu>
            <q-list>
              <q-item clickable v-close-popup @click="showEditdlg(props.row)">
                <q-item-section>Edit</q-item-section>
              </q-item>
              <q-separator />
              <q-item clickable v-close-popup @click="showConfirmationDelete(props.row)">
                <q-item-section>Delete</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-td>
    </template>
  </q-table>
  <edit-banner-carousel-dialog
    v-model="flgShowEditDlg"
    :bannerCarouselId="selectedItem.banner_carousel_id"
    @onSuccess="doRefresh()"
  />
  <confirmation-dialog
    v-model="confirmationDeleteDlg"
    @yes="deleteBannerCarousel()"
    msg="Anda yakin menghapus data Banner Carousel ?"
  />
</template>

<script>
import { useQuasar, openURL } from "quasar";
import { defineComponent, ref, watch, onMounted } from "vue";
import { useStore } from "vuex";
import { useRoute, useRouter } from "vue-router";
import EditBannerCarouselDialog from "../dialog/EditBannerCarouselDialog.vue";
import ConfirmationDialog from "../dialog/ConfirmationDialog.vue";

export default defineComponent({
  components: { EditBannerCarouselDialog, ConfirmationDialog },
  props: {
    modelValue: {}
  },
  setup(props, { attrs, slots, emit }) {
    const q = useQuasar();
    const store = useStore();
    const loading = ref(false);
    const rows = ref([]);
    const selectedList = ref([]);
    const route = useRoute();
    const router = useRouter();

    const columns = [
      { name: "index", align: "center", label: "#", field: "index" },
      {
        name: "event_code",
        align: "left",
        label: "Kode Event",
        field: "event_code",
        sortable: true
      },
      {
        name: "banner_carousel_name",
        align: "left",
        label: "Nama Banner Carousel",
        field: "banner_carousel_name",
        sortable: true
      },
      {
        name: "action",
        align: "center",
        label: "Action",
        field: "action"
      }
    ];
    const filterKeyword = ref("");
    const dataItem = ref({});

    const pagination = ref({
      sortBy: "banner_carousel_name",
      descending: true,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 10
    });

    function onRequest(props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination;
      loading.value = true;
      store
        .dispatch("bannerCarousel/countGetBannerCarouselList", {
          param: {
            keyword: filterKeyword.value == null ? "" : filterKeyword.value
          }
        })
        .then(function (result) {
          pagination.value.rowsNumber = result;
          const fetchCount =
            rowsPerPage == 0 ? pagination.value.rowsNumber : rowsPerPage;
          const startRow = (page - 1) * rowsPerPage;

          store
            .dispatch("bannerCarousel/getBannerCarouselList", {
              param: {
                keyword: filterKeyword.value == null ? "" : filterKeyword.value,
                limit: fetchCount,
                offset: startRow,
                orderBy: sortBy,
                orderByType: descending ? "DESC" : "ASC"
              }
            })
            .then(function (response) {
              rows.value.splice(0, rows.value.length, ...response);
              loading.value = false;
            });
        });

      pagination.value.page = page;
      pagination.value.rowsPerPage = rowsPerPage;
      pagination.value.sortBy = sortBy;
      pagination.value.descending = descending;
    }

    function doRefresh() {
      onRequest({
        pagination: pagination.value
      });
    }

    const confirmationDeleteDlg = ref(false);
    const selectedItem = ref({});
    const flgShowEditDlg = ref(false);

    function showEditdlg(row) {
      flgShowEditDlg.value = true;
      selectedItem.value = row;
    }

    function deleteBannerCarousel() {
      store
        .dispatch("bannerCarousel/deleteBannerCarousel", {
          param: { banner_carousel_id: selectedItem.value.banner_carousel_id }
        })
        .then(function (rspn) {
          if (rspn) {
            confirmationDeleteDlg.value = !confirmationDeleteDlg.value;
            doRefresh();
          }
        });
    }

    function showConfirmationDelete(row) {
      selectedItem.value = row;
      confirmationDeleteDlg.value = !confirmationDeleteDlg.value;
    }

    onMounted(() => {
      doRefresh();
    });

    return {
      columns,
      loading,
      confirmationDeleteDlg,
      dataItem,
      filterKeyword,
      pagination,
      rows,
      selectedList,
      flgShowEditDlg,
      selectedItem,

      deleteBannerCarousel,
      doRefresh,
      showEditdlg,
      onRequest,
      openURL,
      showConfirmationDelete
    };
  }
});
</script>
