<template>
  <q-table
    title="Lokasi Event"
    bordered
    :rows="rows"
    :columns="columns"
    :row-key="(row) => row.event_location_id"
    :loading="loading"
    @request="onRequest"
    separator="cell"
  >
    <template v-slot:body-cell-index="props">
      <q-td :props="props">
        <div>{{ props.rowIndex + 1 }}</div>
      </q-td>
    </template>
    <template v-slot:body-cell-action="props">
      <q-td :props="props" class="q-gutter-sm">
        <q-btn
          v-if="props.row.location_url !=''"
          label="Copy Link"
          size="sm"
          color="teal"
          @click="copy(props.row.location_url)"
        ></q-btn>
        <q-btn
          v-if="props.row.location_url !=''"
          label="Open Link"
          size="sm"
          color="teal"
          @click="openURL(props.row.location_url)"
        ></q-btn>
      </q-td>
    </template>
  </q-table>
</template>

<script>
import { useQuasar, openURL, copyToClipboard } from "quasar";
import { defineComponent, ref, watch, onMounted } from "vue";
import { useStore } from "vuex";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
  components: {},
  props: {
    eventTicketOrderId: { type: Number, required: true, default: -99 }
  },
  setup(props, { attrs, slots, emit }) {
    const q = useQuasar();
    const store = useStore();
    const loading = ref(false);
    const rows = ref([]);
    const selectedList = ref([]);
    const route = useRoute();
    const router = useRouter();
    const eventTicketOrderIdProp = ref(props.eventTicketOrderId);

    watch(
      () => props.eventTicketOrderId,
      (newParam, oldParam) => {
        console.log("masuk");
        eventTicketOrderIdProp.value = newParam;
      }
    );

    const columns = [
      { name: "index", align: "center", label: "#", field: "index" },
      {
        name: "location_name",
        align: "left",
        label: "Nama Lokasi",
        field: "location_name",
        sortable: true
      },
      {
        name: "location_description",
        align: "left",
        label: "Deskripsi",
        field: "location_description",
        sortable: true
      },
      {
        name: "action",
        align: "center",
        label: "Action",
        field: "action"
      }
    ];
    const filterKeyword = ref("");
    const dataItem = ref({});

    const pagination = ref({
      sortBy: "banner_carousel_name",
      descending: true,
      page: 1,
      rowsPerPage: 10,
      rowsNumber: 10
    });

    function onRequest(props) {
      const { page, rowsPerPage, sortBy, descending } = props.pagination;
      loading.value = true;
      store
        .dispatch("event/getEventLocationListByEventTicketOrderId", {
          param: {
            event_ticket_order_id: eventTicketOrderIdProp.value
          }
        })
        .then(function (response) {
          rows.value.splice(0, rows.value.length, ...response);
          loading.value = false;
        });
    }

    function doRefresh() {
      onRequest({
        pagination: pagination.value
      });
    }

    const selectedItem = ref({});

    onMounted(() => {
      doRefresh();
    });

    function copy(text) {
      copyToClipboard(text)
        .then(() => {
          q.notify({
            position: "top-right",
            type: "positive",
            color: "green-4",
            textColor: "white",
            icon: "check_circle",
            message: "Success copy",
            closeBtn: "x"
          });
        })
        .catch(() => {
          q.notify({
            position: "top-right",
            type: "positive",
            color: "green-4",
            textColor: "white",
            icon: "check_circle",
            message: "Failed copy",
            closeBtn: "x"
          });
        });
    }

    return {
      columns,
      loading,
      dataItem,
      filterKeyword,
      pagination,
      rows,
      selectedList,
      selectedItem,

      doRefresh,
      onRequest,
      openURL,
      copy
    };
  }
});
</script>
