<template>
  <router-view />
</template>
<script>
import { Cookies } from 'quasar';
import { defineComponent } from 'vue';
import { useStore } from 'vuex';

export default defineComponent({
  name: 'App',
  /*async created () {
    let token = Cookies.get("token");

    let store = useStore();
    if (token == null || token == "") {
      console.log("set loggedin False :");
      store.commit("auth/setIsLoggedIn", false);
    } else {
      await store.dispatch("auth/isTokenValid", { token: token });
      console.log("auth/isTokenValid ", store.getters['auth/isLoggedIn']);
    }
  }*/
})
</script>
