<template>
  <q-layout view="lHh Lpr lfr">
    <q-header class="bg-blue-10">
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
          <q-toolbar>
            <q-toolbar-title class="text-white">
              <a href="/">
                <q-img src="/logo/logo.png" height="3em" fit="fill" width="10rem" />
              </a>
            </q-toolbar-title>

            <div v-if="!isLoggedIn">
              <q-btn size="sm" label="Login" to="/login" color="green" unelevated />
            </div>
            <div v-if="!isLoggedIn" class="q-pl-sm">
              <q-btn size="sm" label="Register" to="/register" color="cyan" unelevated />
            </div>
            <div v-if="isLoggedIn" class="q-pl-sm">
              <q-btn
                size="sm"
                label="My Ticket"
                icon="fas fa-ticket-alt"
                to="/myTicket"
                color="blue"
                unelevated
              />
            </div>
            <div v-if="isLoggedIn" class="q-pl-sm q-pr-sm">
              <q-btn
                size="sm"
                label="My Event"
                icon="far fa-calendar-check"
                to="/admin/event"
                color="blue"
                unelevated
              />
            </div>
            <q-btn v-if="isLoggedIn" flat dense round icon="menu" aria-label="Menu" color="white">
              <q-menu anchor="bottom start" :offset="[100,0]">
                <q-list>
                  <q-item clickable @click="flgShowProfileDlg = !flgShowProfileDlg">
                    <q-item-section avatar>
                      <q-icon color="blue" name="fas fa-user-circle" />
                    </q-item-section>
                    <q-item-section>Profile</q-item-section>
                  </q-item>
                  <q-separator />
                  <q-item clickable @click="logout">
                    <q-item-section avatar>
                      <q-icon color="orange-6" name="logout" />
                    </q-item-section>
                    <q-item-section>logout</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </div>
      </div>
    </q-header>

    <q-page-container style="background-color:#e5e8ff">
      <router-view />
    </q-page-container>
  </q-layout>
  <manage-profile-dialog v-model="flgShowProfileDlg" />
</template>

<script>
import { defineComponent, ref, onMounted } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  name: "HomeLayout",
  components: {},

  setup() {
    const store = useStore();
    const leftDrawerOpen = ref(false);
    const isLoggedIn = ref(false);
    const flgShowProfileDlg = ref(false);
    function cekIsLoggedIn() {
      isLoggedIn.value = store.getters["auth/isLoggedIn"];
      console.log("isLoggedIn : ", isLoggedIn.value);
    }
    function logout() {
      store.dispatch("auth/logout", {}).then(function () {
        cekIsLoggedIn();
      });
    }
    onMounted(() => {
      // get initial data from server (1st page)
      cekIsLoggedIn();
    });
    return {
      isLoggedIn,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      logout,
      cekIsLoggedIn,
      flgShowProfileDlg
    };
  }
});
</script>
