<template>
  <q-layout view="lHh Lpr lfr">
    <q-header class="bg-blue">
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
          <q-toolbar>
            <q-toolbar-title class="text-white">Event</q-toolbar-title>

            <div v-if="!isLoggedIn">
              <q-btn size="sm" label="Login" to="/login" color="green" unelevated />
            </div>
            <div v-if="!isLoggedIn" class="q-pl-sm">
              <q-btn size="sm" label="Register" to="/register" color="cyan" unelevated />
            </div>
            <div v-if="isLoggedIn" class="q-pl-sm">
              <q-btn
                size="sm"
                label="My Ticket"
                icon="fas fa-ticket-alt"
                to="/myTicket"
                color="blue"
                unelevated
              />
            </div>
            <div v-if="isLoggedIn" class="q-pl-sm q-pr-sm">
              <q-btn
                size="sm"
                label="My Event"
                icon="far fa-calendar-check"
                to="/admin/event"
                color="blue"
                unelevated
              />
            </div>
            <div v-if="isLoggedIn" class="q-pl-sm q-pr-sm">
              <q-btn size="sm" round icon="logout" @click="logout" color="orange-6" unelevated />
            </div>
            <q-btn
              flat
              dense
              round
              icon="menu"
              aria-label="Menu"
              @click="toggleLeftDrawer"
              color="white"
            />
          </q-toolbar>
        </div>
      </div>
    </q-header>

    <q-page-container style="background-color:#e5e8ff">
      <router-view />
    </q-page-container>
    <q-footer elevated class="bg-blue text-white">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg" />
          </q-avatar>
          <div>Title</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import { defineComponent, ref, onMounted } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  name: "HomeLayout",
  components: {},

  setup() {
    const store = useStore();
    const leftDrawerOpen = ref(false);
    const isLoggedIn = ref(false);
    function cekIsLoggedIn() {
      isLoggedIn.value = store.getters["auth/isLoggedIn"];
      console.log("isLoggedIn : ", isLoggedIn.value);
    }
    function logout() {
      store.dispatch("auth/logout", {}).then(function () {
        cekIsLoggedIn();
      });
    }
    onMounted(() => {
      // get initial data from server (1st page)
      cekIsLoggedIn();
    });
    return {
      isLoggedIn,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      logout,
      cekIsLoggedIn
    };
  }
});
</script>
