<template>
  <q-layout view="lHh Lpr lfr">
    <q-header class="bg-blue-10">
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
          <q-toolbar>
            <q-toolbar-title class="text-white">
              <a href="/">
                <q-img src="/logo/logo.png" height="3em" fit="fill" width="10rem" />
              </a>
            </q-toolbar-title>
            <div class="float-left q-ma-md"></div>

            <div v-if="!isLoggedIn">
              <q-btn size="sm" label="Login" to="/login" color="green" unelevated />
            </div>
            <div v-if="!isLoggedIn" class="q-pl-sm">
              <q-btn
                size="sm"
                label="Register"
                to="/register"
                color="yellow-13"
                text-color="dark"
                unelevated
              />
            </div>
            <div v-if="isLoggedIn" class="q-pl-sm">
              <q-btn
                size="sm"
                label="My Ticket"
                icon="fas fa-ticket-alt"
                to="/myTicket"
                color="blue"
                unelevated
              />
            </div>
            <div v-if="isLoggedIn" class="q-pl-sm q-pr-sm">
              <q-btn
                size="sm"
                label="My Event"
                icon="far fa-calendar-check"
                to="/admin/event"
                color="blue"
                unelevated
              />
            </div>
            <q-btn v-if="isLoggedIn" flat dense round icon="menu" aria-label="Menu" color="white">
              <q-menu anchor="bottom start" :offset="[100,0]">
                <q-list>
                  <q-item clickable @click="flgShowProfileDlg = !flgShowProfileDlg">
                    <q-item-section avatar>
                      <q-icon color="blue" name="fas fa-user-circle" />
                    </q-item-section>
                    <q-item-section>Profile</q-item-section>
                  </q-item>
                  <q-separator />
                  <q-item clickable @click="logout">
                    <q-item-section avatar>
                      <q-icon color="orange-6" name="logout" />
                    </q-item-section>
                    <q-item-section>logout</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </div>
      </div>
    </q-header>

    <q-page-container style="background-color: #e5e8ff">
      <router-view />
    </q-page-container>
    <q-footer class="bg-blue-10 text-white">
      <div class="row justify-center">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 q-pa-md">
              <div class="row justify-left">
                <div class="col-6">
                  <q-img src="/logo/logo.png" height="6rem" fit="fill" width="9rem" />
                </div>
              </div>
              <div class="row justify-center">
                <div class="col">Xeminar.id - Virtual Event Ticket</div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 q-pa-md">
              <div class="row q-pb-md">
                <div class="col text-h6">Tentang</div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="/about" class="text-white">Tentang Kami</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="/terms" class="text-white">Syarat dan Ketentuan</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="/contact" class="text-white">Hubungi Kami</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 q-pa-md">
              <div class="row">
                <div class="col text-h6">Layanan</div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="https://eventalk.id" class="text-white">Eventalk.id</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="https://konfren.id" class="text-white">Konfren.id</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="https://sertifly.com" class="text-white">Sertifly.com</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="https://qursus.id" class="text-white">Qursus.id</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 q-pa-md">
              <div class="row q-pb-md">
                <div class="col text-h6">Ikuti Kami</div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="https://instagram.com" class="text-white">Instagram</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="https://youtube.com" class="text-white">Youtube</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="https://twitter.com" class="text-white">Twitter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </q-footer>

    <manage-profile-dialog v-model="flgShowProfileDlg" />
  </q-layout>
</template>

<script>
import { defineComponent, ref, onMounted } from "vue";
import { openURL } from "quasar";
import { useStore } from "vuex";
import { useRoute, useRouter } from "vue-router";
import ManageProfileDialog from "src/components/dialog/ManageProfileDialog.vue";

export default defineComponent({
  name: "HomeLayout",
  components: { ManageProfileDialog },

  setup() {
    const store = useStore();
    const leftDrawerOpen = ref(false);
    const isLoggedIn = ref(false);
    const filterSearch = ref("");
    const router = useRouter();
    const flgShowProfileDlg = ref(false);
    function cekIsLoggedIn() {
      isLoggedIn.value = store.getters["auth/isLoggedIn"];
      //console.log("isLoggedIn : ", isLoggedIn.value);
    }
    function goToSearchPage() {
      router.push({
        path: "/search",
        query: { keyword: filterSearch.value }
      });
    }
    function logout() {
      store.dispatch("auth/logout", {}).then(function () {
        cekIsLoggedIn();
      });
    }
    onMounted(() => {
      // get initial data from server (1st page)
      cekIsLoggedIn();
    });
    return {
      filterSearch,
      isLoggedIn,
      leftDrawerOpen,
      flgShowProfileDlg,
      goToSearchPage,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      logout,
      cekIsLoggedIn,
      openURL
    };
  }
});
</script>
